<div class="container n3-list-tour mg-bot40">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mg-bot30">
      <!-- <script src="/Content/ThemeHe/js/jquery-ui.js"></script> -->
      <!-- <link href="/Content/ThemeHe/css/jquery-ui.css" rel="stylesheet"> -->
      <!-- <link href="/Content/ThemeHe/css/bootstrap-datepicker3.css" rel="stylesheet"> -->
      <%= form_tag search_path, method: "get" do %>
        <div class="search-sidebar">
          <div class="title">Tìm kiếm</div>
          <div class="frame-search">
            <div class="noikhoihanh mg-bot15">
              <%= label_tag 'departure', 'Nơi khởi hành' %>
              <%= select_tag "departureIDFilter", options_from_collection_for_select(@tours, "id", "departure"), { class: "form-control", :include_blank => "--Tất cả--" } %>
            </div>
            <div class="loaitour mg-bot15">
              <%= label_tag 'tour_type', 'Loại tour' %>
              <%= select_tag "TourTypeIdFilter", options_from_collection_for_select(@tours, "id", "tour_type"),  class: "form-control" %>
            </div>
            <div class="noiden mg-bot15">
              <%= label_tag 'destination', 'Nơi đến' %>
              <%= select_tag "group_idFilter", options_from_collection_for_select(@tours, "id", "destination"), { class: "form-control", :include_blank => "--Chọn điểm đến--" } %>
            </div>
            <div class="ngaykhoihanh mg-bot15">
              <label>Ngày khởi hành</label>
              <div class="pos-relative">
                <%= text_field_tag "departureDateFilter", nil, autocomplete: "off", class: "form-control input-md hasDatepicke", value: "#{Time.now.strftime("%d-%m-%Y")}", placeholder: "#{Time.now.strftime("%d-%m-%Y")}"%>
                <span class="i-calendar">
                  <i class="far fa-calendar-alt fa-lg"></i>
                </span>
              </div>
            </div>
            <div class="songay mg-bot20">
              <label>Giá</label>
              <select class="form-control" id="priceIDFilter" name="PriceId">
                <option selected="" value="0">--Tất cả--</option>
                <option value="25">Dưới 1 Triệu</option>
                <option value="26">
                  1- 2 Triệu</option>
                <option value="27">
                  2-4 Triệu</option>
                <option value="28">
                  4-6 Triệu</option>
                <option value="29">
                  6-10 Triệu</option>
                <option value="30">Trên 10 Triệu</option>
              </select>
            </div>
            <div class="but mg-bot15">
              <%= submit_tag 'Tìm kiếm', class: "btn btn-md btn-search", onclick: "ga('event','Search', 'SearchClick', 'keywords');" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="filter-sidebar">
        <div class="title">Bộ lọc tìm kiếm</div>
        <div class="frame-filter">
          <div class="giatien">
            <div class="mg-bot15">
              <div class="f-left wl">
                Theo giá:
              </div>
              <div class="f-left wr">
                <input type="text" id="txtPrice" readonly="" style="font-size:13.5px; border: 0; color: #fc3400; font-weight: bold; background: initial !important;">
              </div>
              <div class="clear"></div>
            </div>
            <div id="slider-range1" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
              <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
              <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="songay dodaitour">
            <div class="mg-bot15">
              <div class="f-left wl">
                Số ngày:
              </div>
              <div class="f-left wr">
                <input type="text" id="txtSoNgay" readonly="" style="font-size:13.5px; border: 0; color: #fc3400; font-weight: bold; background: initial !important;">
              </div>
              <div class="clear"></div>
            </div>
            <div id="slider-range2" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span>
              <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
              <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
              <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="vanchuyen">
            <label>
              <i class="fas fa-subway"></i>&nbsp;&nbsp;&nbsp;Thông tin vận chuyển:</label>
            <div>
              <div class="f-left mg-bot10 wl">
                <input type="checkbox" name="TranType" class="tranType" value="2" data-url="TranType">
              </div>
              <div class="f-left wr">
                Máy bay
              </div>
              <div class="clear"></div>
            </div>
            <div>
              <div class="f-left wl">
                <input type="checkbox" name="TranType" class="tranType" value="1" data-url="TranType">
              </div>
              <div class="f-left wr">
                Ô tô
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="tinhtrang">
            <label>
              <i class="fas fa-suitcase"></i>&nbsp;&nbsp;&nbsp;Tình trạng:</label>
            <div>
              <div class="f-left mg-bot10 wl">
                <input type="checkbox" name="ConCho" class="statusSeat" value="1" data-url="ConCho" checked="">
              </div>
              <div class="f-left wr">
                Còn chỗ
              </div>
              <div class="clear"></div>
            </div>
            <div>
              <div class="f-left wl">
                <input type="checkbox" name="ConCho" class="statusSeat" value="0" data-url="ConCho">
              </div>
              <div class="f-left wr">
                Hết chỗ
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="hidCurrentURL">
      <input type="hidden" id="hidDepartureIdOld" value="4">
      <script type="text/javascript">
        $(document).ready(function () {
          loadDeparture('1', 'departureIDFilter', '4');

          loadDestination('1', 'group_idFilter', '0');

          loadPriceOption('1', 'priceIDFilter', '0');
        });

        var priceMin = parseFloat('2990000');
        var priceMax = parseFloat('5490000');

        var SoNgayMin = parseInt('3');
        var SoNgayMax = parseInt('4');

        $(function () {
          $(".giatien #slider-range1").slider({
            range: true,
            min: priceMin,
            max: priceMax,
            values: [
              priceMin, priceMax
            ],
            step: 100000,
            slide: function (event, ui) {
              $("#txtPrice").val(" " + addCommas(ui.values[0]) + " - " + addCommas(ui.values[1]) + " đ");
            },
            stop: function (event, ui) {
              var min = $("#slider-range1").slider("values", 0);
              var max = $("#slider-range1").slider("values", 1);

              var urlPath = changeURLParameter('Price', min + '-' + max);
              document.location.href = urlPath;
            }
          });
          $("#txtPrice").val(" " + addCommas($("#slider-range1").slider("values", 0)) + " - " + addCommas($("#slider-range1").slider("values", 1)) + " đ");

          $(".dodaitour #slider-range2").slider({
            range: true,
            min: SoNgayMin,
            max: SoNgayMax,
            values: [
              SoNgayMin, SoNgayMax
            ],
            step: 1,
            slide: function (event, ui) {
              $("#txtSoNgay").val(ui.values[0] + ' - ' + ui.values[1] + ' ngày');
            },
            stop: function (event, ui) {
              //var SoNgay = $("#slider-range2").slider("values", 1);
              var min = $("#slider-range2").slider("values", 0);
              var max = $("#slider-range2").slider("values", 1);

              var urlPath = changeURLParameter('SoNgay', min + '-' + max);
              document.location.href = urlPath;

            }
          });
          $("#txtSoNgay").val($("#slider-range2").slider("values", 0) + ' - ' + $("#slider-range2").slider("values", 1) + ' ngày');
        });

        $("#departureDateFilter").datepicker({dateFormat: "dd/mm/yy", minDate: new Date()});

        $('.statusSeat').on('click', function (event) {
          var parameterURL = $(this).attr('data-url');
          var urlPath = changeURLParameter(parameterURL, $(this).val());

          document.location.href = urlPath;
        })

        $('.tranType').on('click', function (event) {
          var parameterURL = $(this).attr('data-url');
          var urlPath = changeURLParameter(parameterURL, $(this).val());

          document.location.href = urlPath;
        })

        $('.featureType').on('click', function (event) {
          var parameterURL = $(this).attr('data-url');
          var price = '';
          $('.featureType').each(function (event) {
            if ($(this).prop('checked') == true) {
              if ($(this).attr('data-url') == parameterURL) {
                price += $(this).val() + "_";
              }
            }
          })
          price = price.substring(0, price.length - 1)

          var urlPath = changeURLParameter(parameterURL, price);

          document.location.href = urlPath;
        })

        $("#TourTypeIdFilter").change(function () {
          if ($('#TourTypeIdFilter').val() == 6) {
            loadDestinationMegre('group_idFilter', '1')
          } else {
            loadDestination($('#TourTypeIdFilter').val(), 'group_idFilter', '1');
          }
          loadPriceOption($('#TourTypeIdFilter').val(), 'priceIDFilter'),
          '0';
        });

        function changeURLParameter(parameter, value) {
          var url = document.URL;
          //prefer to use l.search if you have a location/link object
          var urlparts = url.split('?');
          if (urlparts.length >= 2) {

            var prefix = encodeURIComponent(parameter) + '=';
            var pars = urlparts[1].split(/[&;]/g);

            for (var i = pars.length; i-- > 0;) {
              if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                pars.splice(i, 1);
              }
            }
            if (pars.join('&') != '') {
              url = urlparts[0] + '?' + pars.join('&');
              if (value != '') {
                var child = prefix + value;
                url += "&" + child;
              }
            } else {
              url = urlparts[0];
              if (value != '') {
                var child = prefix + value;
                url += "?" + child;
              }
            }

            return url;
          } else {
            return url + "?" + parameter + "=" + value;
          }
        }

        function loadPriceOption(type, id, valSelected) {
          // Tương tác với server
          $.ajax({
            url: "/SubControl/LoadPriceOption",
            data: {
              type: type
            },
            success: function (result) {
              //Reset option Price
              $("#" + id).empty();

              for (n = 0; n < result.length; n++) {
                if (result[n].Id == valSelected) {
                  $("#" + id).append($("<option selected></option>").val(result[n].Id).html(result[n].Name));
                } else {
                  $("#" + id).append($("<option></option>").val(result[n].Id).html(result[n].Name));
                }
              }
            }
          });
        };

        function addCommas(nStr) {
          nStr += '';
          x = nStr.split('.');
          x1 = x[0];
          x2 = x.length > 1
            ? '.' + x[1]
            : '';
          var rgx = /(\d+)(\d{3})/;
          while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1,$2');
          }
          return x1 + x2;
        }
      </script>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="list-tour" itemscope="" itemtype="http://schema.org/Place" id="searchResult">
        <div class="des-tour">
          <h1 itemprop="name">Danh sách tour du lịch khởi hành từ Đà Nẵng</h1>
          <div class="clear"></div>
          <div class="des-content">
            <div class="mg-bot10">
              <div itemprop="description"></div>
              <div class="socialBox">
                <div class="tw">
                  <iframe
                    id="twitter-widget-0"
                    scrolling="no"
                    frameborder="0"
                    allowtransparency="true"
                    allowfullscreen="true"
                    class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                    style="position: static; visibility: visible; width: 60px; height: 20px;"
                    title="Twitter Tweet Button"
                    src="https://platform.twitter.com/widgets/tweet_button.06c6ee58c3810956b7509218508c7b56.vi.html#dnt=false&amp;id=twitter-widget-0&amp;lang=vi&amp;original_referer=https%3A%2F%2Ftravel.com.vn%2Ftim-tour%2F4%2F1%2F2021-05-22%2F0%2F0%2Fket-qua.aspx&amp;size=m&amp;text=Danh%20s%C3%A1ch%20tour%20du%20l%E1%BB%8Bch%20kh%E1%BB%9Fi%20h%C3%A0nh%20t%E1%BB%AB%20%C4%90%C3%A0%20N%E1%BA%B5ng&amp;time=1621671340038&amp;type=share&amp;url=https%3A%2F%2Ftravel.com.vn%2Ftim-tour%2F4%2F1%2F2021-05-22%2F0%2F0%2Fket-qua.aspx"
                    data-url="https://travel.com.vn/tim-tour/4/1/2021-05-22/0/0/ket-qua.aspx"></iframe>
                  <script type="text/javascript">
                    !function (d, s, id) {
                      var js,
                        fjs = d.getElementsByTagName(s)[0],
                        p = /^http:/.test(d.location)
                          ? 'http'
                          : 'https';
                      if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                      }
                    }(document, 'script', 'twitter-wjs');
                  </script>
                </div>
                <div class="fb">
                  <div
                    class="fb-like fb_iframe_widget"
                    data-href="https://travel.com.vn/tim-tour/4/1/2021-05-22/0/0/ket-qua.aspx"
                    data-send="true"
                    data-layout="button_count"
                    data-width="150"
                    data-show-faces="true"
                    fb-xfbml-state="rendered"
                    fb-iframe-plugin-query="app_id=486170608123974&amp;container_width=0&amp;href=https%3A%2F%2Ftravel.com.vn%2Ftim-tour%2F4%2F1%2F2021-05-22%2F0%2F0%2Fket-qua.aspx&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=150">
                    <span style="vertical-align: bottom; width: 150px; height: 28px;">
                      <iframe
                        name="f352ec1dc3199d8"
                        width="150px"
                        height="1000px"
                        data-testid="fb:like Facebook Social Plugin"
                        title="fb:like Facebook Social Plugin"
                        frameborder="0"
                        allowtransparency="true"
                        allowfullscreen="true"
                        scrolling="no"
                        allow="encrypted-media"
                        src="https://www.facebook.com/v3.3/plugins/like.php?app_id=486170608123974&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df70aa3f3b8b93c%26domain%3Dtravel.com.vn%26origin%3Dhttps%253A%252F%252Ftravel.com.vn%252Ff22784f02ae2c34%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Ftravel.com.vn%2Ftim-tour%2F4%2F1%2F2021-05-22%2F0%2F0%2Fket-qua.aspx&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=150"
                        style="border: none; visibility: visible; width: 150px; height: 28px;"
                        class=""></iframe></span></div>
                </div>
                <div class="gl">
                  <div class="zalo-share-button" data-href="" data-oaid="2390854997978519198" data-layout="2" data-color="blue" data-customize="false" style="overflow: hidden; display: inline-block; width: 20px; height: 20px;">
                    <iframe
                      frameborder="0"
                      allowfullscreen=""
                      scrolling="no"
                      width="20px"
                      height="20px"
                      src="https://sp.zalo.me/plugins/share?dev=null&amp;color=blue&amp;oaid=2390854997978519198&amp;href=https%3A%2F%2Ftravel.com.vn%2Ftim-tour%2F4%2F1%2F2021-05-22%2F0%2F0%2Fket-qua.aspx&amp;layout=2&amp;customize=false&amp;callback=null&amp;id=cb747e4e-6e1d-4b08-9c4a-70f2a2ea4358&amp;domain=travel.com.vn&amp;android=false&amp;ios=false"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list">
          <div class="row">
            <!-- <script src="/Content/ThemeHe/js/RateIt/jquery.rateit.js"></script>
            <link href="/Content/ThemeHe/js/RateIt/rateit.css" rel="stylesheet"> -->
            <div id="searchResult">
              <div class="col-xs-12 mg-bot15">
                <div style="padding: 12px 10px;background-color:#f1f1f1;line-height:18px;">
                  <span class="dep-place">
                    <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Đà Nẵng
                  </span>
                  <span>Có 30 tour khởi hành vào thời gian bạn chọn</span>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                <div class="frame-day-scroll" id="tagMax147">
                  <div class="text-center">
                    <div class="f-day">
                      27
                    </div>
                    <div class="f-date">05/21</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <div class="item mg-bot30">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="tour-name">
                        <a
                          href="/tourNDDNG3251-035-270521VN-V/du-lich-viet-nam-diem-den-sang-tuoi-da-lat-thac-datanla-fairytale-land-duong-ham-dat-set-khach-san-3-sao.aspx"
                          title="Du Lịch Việt Nam - Điểm đến sáng tươi: Đà Lạt - Thác Datanla - Fairytale Land - Đường Hầm Đất Sét (Khách sạn 3 sao)">
                          <h3>Du Lịch Việt Nam - Điểm đến sáng tươi: Đà Lạt - Thác Datanla - Fairytale Land - Đường Hầm Đất Sét (Khách sạn 3 sao)</h3>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <div class="pos-relative">
                        <div class="badge-promo tk">
                          <div class="badge-promo-content">
                            <div>
                              <i class="fas fa-spinner"></i>&nbsp;&nbsp;Tiết kiệm</div>
                          </div>
                        </div>
                        <a
                          href="/tourNDDNG3251-035-270521VN-V/du-lich-viet-nam-diem-den-sang-tuoi-da-lat-thac-datanla-fairytale-land-duong-ham-dat-set-khach-san-3-sao.aspx"
                          title="Du Lịch Việt Nam - Điểm đến sáng tươi: Đà Lạt - Thác Datanla - Fairytale Land - Đường Hầm Đất Sét (Khách sạn 3 sao)">
                          <img src="https://media.travel.com.vn/destination/tf_201006021817_622915.jpg" class="img-responsive pic-lt",
                          alt:  "Du Lịch Việt Nam - Điểm đến sáng tươi: Đà Lạt - Thác Datanla - Fairytale Land - Đường Hầm Đất Sét (Khách sạn 3 sao)"></a>
                      </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                      <div class="frame-info pos-relative">
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12 mg-bot10">
                            <div class="f-left group-listtour" style="width:100%">
                              <div style="float:left;margin:5px 0px; padding-top:15px;padding-left:10px;" data-tourid="c5c0cbf7-1ffb-438f-bfec-28b7dd2a32f7" class="rateit" data-rateit-value="4.64" data-rateit-resetable="false">
                                <button id="rateit-reset-2" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-2" style="display: none;"></button>
                                <div id="rateit-range-2" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-2" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4.64" aria-readonly="false" style="width: 80px; height: 16px;">
                                  <div class="rateit-selected" style="height: 16px; width: 74.24px;"></div>
                                  <div class="rateit-hover" style="height:16px"></div>
                                </div>
                              </div>
                              <div style="float: left; margin-top:5px; padding-top:15px;">
                                <span class="hreview-aggregate">
                                  <span class="item">
                                    <span class="fn">
                                      <span class="rating">
                                        <span class="average">
                                          <strong>4.64</strong>
                                        </span>
                                        <strong>/<span class="best">5
                                          </span>
                                        </strong>trong
                                        <span class="votes">
                                          <strong>367</strong>
                                        </span>
                                        Đánh giá<span class="summary"></span></span>
                                    </span>
                                  </span>
                                </span>
                              </div>
                            </div>
                            <div class="clear"></div>
                          </div>
                          <div class="col-md-7 col-sm-7 col-xs-12 mg-bot10">
                            <div class="f-left l"><% image_tag "i-code.png", alt: "code" %></div>
                            <div class="f-left r">Mã tour: NDDNG3251-035-270521VN-V</div>
                            <div class="clear"></div>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 mg-bot10">
                            <div class="f-left l"><% image_tag "i-chair.png", alt: "chair" %></div>
                            <div class="f-left r">
                              Số chỗ còn nhận:
                              <span class="font500">9</span>
                            </div>
                            <div class="clear"></div>
                          </div>
                          <div class="col-md-7 col-sm-7 col-xs-12 mg-bot10">
                            <div class="f-left l"><% image_tag "i-date.png", alt: "date" %></div>
                            <div class="f-left r">Ngày đi:
                              <span class="font500">27/05/2021</span></div>
                            <div class="clear"></div>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12 mg-bot10">
                            <div class="f-left l"><% image_tag "i-clock.png", alt: "clock" %></div>
                            <div class="f-left r">Giờ đi:
                              <span class="font500">07:30</span></div>
                            <div class="clear"></div>
                          </div>
                          <div class="col-md-7 col-sm-7 col-xs-12 mg-bot10">
                            <div class="f-left l"><% image_tag "i-price.png", alt: "price" %></div>
                            <div class="f-left r">
                              Giá:
                              <span class="font500 price">5,290,000 đ</span>
                            </div>
                            <div class="clear"></div>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="f-left l"><% image_tag "i-calendar.png", alt: "date" %></div>
                            <div class="f-left r">Số ngày:
                              <span class="font500">4</span></div>
                            <div class="clear"></div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 mg-bot10">
                            <div class="f-left l"><% image_tag "i-dep.png" %></div>
                            <div class="f-left r">Nơi khởi hành:
                              <span class="font500">Đà Nẵng</span></div>
                            <div class="clear"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
            </div>
          </div>
        </div>
            <!-- <script src="/Content/ThemeHe/js/jquery.scrollTo.js"></script> -->
            <script type="text/javascript">
              $(function () {
                $('[data-toggle="tooltip"]').tooltip()
              })
              $(document).ready(function () {
                $.scrollTo(document.getElementById('searchResult'), 10, {offset: -10});
                //var arrDiv = ['#tagMax192', '#tagMax193', '#tagMax194', '#tagMax195', '#tagMax196', '#tagMax199', '#tagMax200', '#tagMax201', '#tagMax202']; var arrTour = [1149, 1483, 2111, 2739, 2906];
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })
                var arrDiv = [
                  '#tagMax147',
                  '#tagMax148',
                  '#tagMax149',
                  '#tagMax153',
                  '#tagMax154',
                  '#tagMax155',
                  '#tagMax160',
                  '#tagMax161',
                  '#tagMax162',
                  '#tagMax163',
                  '#tagMax165',
                  '#tagMax167',
                  '#tagMax168'
                ];
                var arrTour = [];
                for (var i = 0; i < arrDiv.length; i++) {
                  arrTour.push($(arrDiv[i]).offset().top);
                }

                var distanceMax = 0;
                $(window).scroll(function () {
                  //lay ra div gan TOP nhat
                  var id = getDivCurrent($(document).scrollTop());
                  resetDiv();
                  if (id != -1) {
                    $(arrDiv[id]).addClass('affixOld');
                  }
                  var scroll = $(document).scrollTop();
                  var sortHeaderPosition = $("#sortHeader").offset().top;
                  if (scroll > sortHeaderPosition) {
                    $('#divFixHeader').addClass('sort-tour-fixed');
                    $('#divFixHeader').show();
                  } else {
                    $('#divFixHeader').removeClass('sort-tour-fixed');
                    $('#divFixHeader').hide();
                  }
                });

                function getDivCurrent(scrTop) {
                  //Vị trí cuoi cùng của item
                  var endPosition = $("#divEndTour").offset().top - 200;

                  var result = -1;
                  //Duyet mang Array
                  for (var i = 0; i < arrTour.length; i++) {
                    if (scrTop >= arrTour[i] && scrTop < endPosition) {
                      result = i;
                    }
                  }
                  return result;
                }

                function resetDiv() {
                  for (var i = 0; i <= arrDiv.length; i++) {
                    $(arrDiv[i]).removeClass('affixOld');
                  }
                }

                $('.group-listtour .rateit').bind('rated reset', function (e) {
                  var ri = $(this);

                  //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
                  var value = ri.rateit('value');
                  var tourid = ri.data('tourid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="tourid"]').val()

                  //maybe we want to disable voting?
                  ri.rateit('readonly', true);

                  $.ajax({
                    url: '/Tour/UpdateRatingByTourId', //your server side script
                    data: {
                      tourid: tourid,
                      value: value
                    }, //our data
                    type: 'POST',
                    success: function (data) {
                      alert('Cảm ơn quý khách đã bình chọn cho điểm đến này với điểm số ' + data);
                    },
                    error: function (jxhr, msg, err) {}
                  });
                });
              });
            </script>
            <div class="col-xs-12 text-right mg-bot30">
              <div class="pager_simple_orange">
                <table>
                  <tbody>
                    <tr>
                      <td class="">
                        <a href="/tim-tour/4/1/2021-05-22/0/0/ket-qua-p1.aspx">«</a>
                      </td>
                      <td class="active">
                        <a href="/tim-tour/4/1/2021-05-22/0/0/ket-qua-p1.aspx">1</a>
                      </td>
                      <td>
                        <a href="/tim-tour/4/1/2021-05-22/0/0/ket-qua-p2.aspx">2</a>
                      </td>
                      <td>
                        <a href="/tim-tour/4/1/2021-05-22/0/0/ket-qua-p3.aspx">3</a>
                      </td>
                      <td class="">
                        <a href="/tim-tour/4/1/2021-05-22/0/0/ket-qua-p3.aspx">»</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
