<%= form_tag search_tour_path, method: "get" do %>
  <div class="form-info-search bg-dltn pos-relative" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="triangle-up"></div>
          <div class="pad-tb">
            <div class="row">
              <div class="col-xs-12 mg-bot15">
                <div style="font-size: 16px;line-height: 24px;color: #212121;">
                  Nơi khởi hành:&nbsp;&nbsp;
                  <%= select_tag "departure", options_for_select([]), { class: "nkh text-dltn", :include_blank => "Nơi khởi hành" } %>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <div class="form-group noidia" style="position: relative;">
                  <div style="position: absolute;left: 16px; top: 18px;z-index:1;">
                    <%= image_tag "i-map2.png", alt: "map" %>
                  </div>
                  <div style="position: absolute;left: 50px; top: 12px;z-index:1;">
                    <span style="color: #0089ff;font-size: 14px;font-weight:500;">Điểm đến</span>
                  </div>
                  <%= select_tag "destination", options_for_select([]), { class: 'chosen-select', :include_blank => "Bạn muốn đi du lịch ở đâu?" } %>
                    <input type="hidden" name="TourTypeId" value="1">
                    <input type="hidden" name="ConCho" value="-1">
                    <input type="hidden" name="DongTour" value="0">
                    <input type="hidden" name="PriceId" value="0">
                    <input type="hidden" name="submitButton" value="SearchTour">
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="row" style="position: relative;">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group" style="position: relative;">
                      <div style="position: absolute;left: 16px; top: 18px;">
                        <%= image_tag "i-calendar2.png", alt: "calendar" %>
                      </div>
                      <div style="position: absolute;left: 50px; top: 12px;">
                        <span style="color: #0089ff;font-size: 14px;font-weight:500;">Từ ngày</span>
                      </div>
                      <%= text_field_tag "DepartureDate", nil, autocomplete: "off", class: "form-control new", value: "#{Time.now.strftime("%d/%m/%Y")}", placeholder: "#{Time.now.strftime("%d/%m/%Y")}", readonly: true %>
                    </div>
                  </div>
                  <div style="position: absolute;top: 25px;left: 45%;display:none" class="hidden-xs">
                    <%= image_tag "i-arrow2.png", alt: "arrow" %>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group" style="position: relative;">
                      <div style="position: absolute;left: 16px; top: 18px;">
                        <%= image_tag "i-calendar2.png", alt: "calendar" %>
                      </div>
                      <div style="position: absolute;left: 50px; top: 12px;">
                        <span style="color: #0089ff;font-size: 14px;font-weight:500;">Đến ngày</span>
                      </div>
                      <%= text_field_tag "DepartureDateTo", nil, autocomplete: "off", class: "form-control new", value: "#{Time.now.strftime("%d-%m-%Y")}", placeholder: "#{Time.now.strftime("%d-%m-%Y")}", readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 gb-tim">
                <div class="text-right">
                  <%= submit_tag 'Tìm kiếm', class: "btn btn-default btn-lg btn-md btn-timtour1", onclick: "return checkSearch('departure');" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
