<div class="container n3-tour-detail">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
      <div class="menu-left mg-bot30">
        <div class="panel panel-default panel-side-menu">
          <div class="panel-body panel-body-nav">
            <div class="side-menu">
              <ul class="list-unstyled">
                <li id="cct" class="tab-chuongtrinhtour">
                  <a href="#">
                  <i class="fas fa-spinner"></i>
                  &nbsp;&nbsp;
                  <span>Chương trình tour</span>
                  </a>
                </li>
                <li class="tab-chitiettour active" id="tabChiTiet">
                  <a href="#">
                  <i class="fas fa-list"></i>
                  &nbsp;&nbsp;
                  <span>Chi tiết tour</span>
                  </a>
                </li>
                <li class="tab-luuy">
                  <a href="#">
                  <i class="fas fa-exclamation-triangle"></i>
                  &nbsp;&nbsp;
                  <span>Lưu ý</span>
                  </a>
                </li>
                <li class="tab-ngaykhac" id="tabNgayKhac">
                  <a href="#">
                  <i class="far fa-calendar-alt"></i>
                  &nbsp;&nbsp;
                  <span>Ngày khác</span>
                  </a>
                </li>
                <li class="tab-ykien">
                  <a href="#">
                  <i class="far fa-comments"></i>
                  &nbsp;&nbsp;
                  <span>Ý kiến khách hàng</span>
                  </a>
                </li>
                <li class="tab-lienhe" id="tabLienHe">
                  <a href="#">
                  <i class="fas fa-podcast"></i>
                  &nbsp;&nbsp;
                  <span>Liên hệ</span>
                  </a>
                </li>
                <li class="tab-bando" id="tabBanDo">
                  <a href="#">
                  <i class="fas fa-map"></i>
                  &nbsp;&nbsp;
                  <span>Bản đồ</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mg-bot30 hidden-xs">
        <a href="/visa/khao-sat-visa.aspx">
        <%= image_tag "tylevisa.jpg", alt: "visa", class: "img-responsive" %>
        </a>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
      <div class="sec-info">
        <div class="chuongtrinhtour mg-bot30" style="display: none;">
          <div class="title-lg">
            <h2>Chương trình tour</h2>
          </div>
          <div style="line-height: 20px; text-align: justify;padding:20px 20px 0px 20px">
            Điểm nhấn:
            -	Mũi Đại Lãnh: hay còn gọi là Mũi Điện, được biết đến là cực Đông của Tổ quốc, nơi đón ánh bình minh đầu tiên trên đất liền Việt Nam
            -	Gành Đá Dĩa: như một tổ ong khổng lồ với những khối đá hình lăng trụ xếp chồng lên nhau ngay ngắn vươn mình ra biển khơi
            -	Quảng Đức Xưa: nơi bạn có thể tìm hiểu về kiến trúc nhà cổ miền Trung. Trải qua hàng trăm năm, những ngôi nhà cổ tại đây vẫn vẹn nguyên những đặc trưng, cổ kính và gợi nhớ một không gian xưa ấm áp
            -	Eo gió: check-in cung đường đi bộ ven biển tuyệt đẹp trên lưng chừng dãy núi, với hàng ngàn bậc thang được dựng với tay vịn an toàn, đẹp mắt và nổi bật với màu đỏ gạch, trắng
            -	Đảo Kỳ Co: với màu nước trong xanh, bãi cát dài trắng mịn và những cơn sóng biển êm ái
            -	Hòn Khô: lặn ngắm những rạn san hô tự nhiên và hàng trăm loài cá đầy màu sắc tung tăng bơi lội trong làn nước biển trong xanh của Đảo
            Lộ trình tham khảo, cự ly khoảng:
            -	Ngày 1 (95km): TP Hồ Chí Minh - sân bay Tuy Hòa (1h10') - Mũi Đại Lãnh + Bãi Môn (25km) - Vịnh Vũng Rô (6km) - Bãi Xép + Gành Ông (50km) - Tuy Hòa-Phú Yên (14km)
            -	Ngày 2 (153km): Phú Yên - Gành Đá Đĩa (35km) - Nhà Thờ Mằng Lăng (10km) - Quảng Đức Xưa (3km) - Quy Nhơn (65km) - Eo Gió (20km) - Quy Nhơn (20km)
            -	Ngày 3 (47km): Quy Nhơn – Bến tàu Nhơn Hải (17km) – Đảo Kỳ Co (15 phút) – Đảo Hòn Khô (10 phút) – Bến tàu Nhơn Hải (5 phút) – Eo Gió (10km) – Tp Quy Nhơn (20km)
            -	Ngày 4 (30km): Quy Nhơn - Chùa Thiên Hưng (22km) - Sân bay Phù Cát (8km)
          </div>
          <div class="sec-content itinerary">
            <div class="list">
              <div class="list__item">
                <div class="list__time">
                  <div class="num">Ngày 01</div>
                  <div class="day">03-06-2021</div>
                </div>
                <div class="list__border"></div>
                <div class="list__desc">
                  <h3 class="font500 name"><%= image_tag "i-marker.png", alt: "marker" %>&nbsp;&nbsp;&nbsp;TP.HỒ CHÍ MINH – PHÚ YÊN Số bữa ăn: 2 bữa (trưa, tối)</h3>
                  <div class="d1 detail">
                    <title></title>
                    <div style="text-align: justify;">
                      Quý khách tập trung tại Cột 5 ga đi trong nước Sân bay Tân Sơn Nhất, hướng dẫn viên hỗ trợ làm thủ tục cho Quý khách đáp chuyến bay đi Phú Yên. Đến sân bay Tuy Hòa - Phú Yên, hướng dẫn viên đón Quý khách đi tham quan:
                    </div>
                    <div style="text-align: justify;">
                      <strong>- Mũi Đại Lãnh:</strong> hay còn gọi là Mũi Điện (điểm cực đông của tổ quốc) ở độ cao 110m so với mặt nước biển.&nbsp;
                    </div>
                    <div style="text-align: justify;">
                      <strong>- Bãi Môn: </strong>một bãi biển vẫn còn khá hoang sơ, có hình vầng trăng khuyết với đường bờ biển dài khoảng 400m, độ dốc thoai thoải, cát trắng mịn, nước trong vắt như pha lê.
                    </div>
                    <div style="text-align: justify;">
                      <strong>- Vịnh Vũng Rô:</strong> nằm tiếp giáp với Vịnh Vân Phong, nơi cập bến của những chuyến tàu không số với huyền thoại đường Hồ Chí Minh trên biển.&nbsp;
                    </div>
                    <div style="text-align: justify;">
                      <strong>- Bãi Xép:</strong> một trong những bãi biển hoang sơ và đẹp nhất của Phú Yên (Tùy vào tình hình thời tiết thực tế của ngày tham quan, <a href="https://www.vietravel.com?utm_source=internalbl&amp;utm_medium=click&amp;utm_campaign=ATLinks" target="_blank">Vietravel</a> sẽ sắp xếp cho Quý khách tắm biển)
                    </div>
                    <div style="text-align: justify;">
                      <strong>- Gành Ông</strong>: cảnh quay đặc sắc trong bộ phim “Tôi Thấy Hoa Vàng Trên Cỏ Xanh”&nbsp;
                    </div>
                    <div style="text-align: justify;">
                      Đoàn ăn tối và tự do tham quan thành phố Tuy Hòa về đêm. Nghỉ đêm tại Phú Yên.&nbsp;&nbsp;
                    </div>
                    <div>
                      &nbsp;
                    </div>
                  </div>
                  <div class="an-hien ah1">
                    <div class="hienra">
                      <a href="#"> Xem thêm &nbsp;<i class="fas fa-arrow-down"></i></a>
                    </div>
                    <div class="andi" style="display: none;">
                      <a href="#"> Ẩn đi &nbsp;<i class="fas fa-arrow-up"></i></a>
                    </div>
                  </div>
                  <div class="border"></div>
                </div>
              </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="chitiettour mg-bot30" style="display: block;">
          <div class="title-lg">
            <h2>Chi tiết tour</h2>
          </div>
          <div class="sec-content tour-detail">
            <div class="plane">
              <div class="title">
                <span class="hidden-xs"><%= image_tag "i-plane.png", alt: "plane" %>&nbsp;&nbsp;</span>
                Thông tin chuyến bay
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>Ngày đi: 03/06/2021 06:05</td>
                        <td>Đến: 03/06/2021 07:15</td>
                        <td>Chuyến bay: VJ206</td>
                      </tr>
                      <tr>
                        <td>Ngày về: 06/06/2021 12:35</td>
                        <td>Đến: 06/06/2021 13:40</td>
                        <td>Chuyến bay: VJ387</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="divThongTinKhachSan">
              <div class="">
                <div class="title">
                  <span class="hidden-xs"><%= image_tag "i-hotel.png", alt: "hotel" %>&nbsp;&nbsp;</span>
                  Thông tin khách sạn
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td data-title="Thông tin khách sạn: ">Đang cập nhật</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div id="divThongTinHDV">
              <div class="tour-guide">
                <div class="title">
                  <span class="hidden-xs">
                  <%= image_tag "i-hdv.png", alt: "hdv" %>&nbsp;&nbsp;
                  </span>
                  Thông tin hướng dẫn viên
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td data-title="Thông tin hướng dẫn viên: ">Đang cập nhật</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div id="divThongTinHDVTien">
              <div class="tour-guide">
                <div class="title">
                  <span class="hidden-xs">
                  <%= image_tag "i-hdv.png", alt: "hdv" %>&nbsp;&nbsp;
                  </span>
                  Thông tin hướng dẫn viên tiễn
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td data-title="Thông tin hướng dẫn viên tiễn: ">Đang cập nhật</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="info">
              <div class="title">
                <span class="hidden-xs"><%= image_tag "i-info.png", alt: "info" %>&nbsp;&nbsp;</span>
                Thông tin tập trung
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>Ngày giờ tập trung</td>
                        <td>
                          03/06/2021 04:00
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Nơi tập trung
                        </td>
                        <td>
                          <span> Sân bay </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tour-price">
              <div class="title">
                <span class="hidden-xs"><%= image_tag "i-tourprice.png", alt: "tourprice" %>&nbsp;&nbsp;</span>
                Giá tour &amp; Phụ thu phòng đơn
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="bold">
                        <td>Loại khách</td>
                        <td>Giá tour</td>
                        <td>Land tour</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-title="Loại khách">Người lớn (Từ 12 tuổi trở lên)</td>
                        <td data-title="Giá tour">5,990,000<span> đ</span></td>
                        <td data-title="Land tour">0 đ</td>
                      </tr>
                      <tr>
                        <td data-title="Loại khách">Trẻ em (Từ 5 tuổi đến dưới 12 tuổi)</td>
                        <td data-title="Giá tour">4,492,500<span> đ</span></td>
                        <td data-title="Land tour">0 đ</td>
                      </tr>
                      <tr>
                        <td data-title="Loại khách">Trẻ nhỏ (Từ 2 tuổi đến dưới 5 tuổi)</td>
                        <td data-title="Giá tour">2,300,000<span> đ</span></td>
                        <td data-title="Land tour">0 đ</td>
                      </tr>
                      <tr>
                        <td data-title="Loại khách">Em bé (Dưới 2 tuổi)</td>
                        <td data-title="Giá tour">220,000 đ</td>
                        <td data-title="Land tour">0 đ</td>
                      </tr>
                      <tr style="color: rgb(205, 44, 36); --darkreader-inline-color:#de4b44;" data-darkreader-inline-color="">
                        <td data-title="Loại khách">Phụ thu phòng đơn</td>
                        <td data-title="Giá tour">1,200,000<span> đ</span></td>
                        <td data-title="Land tour">0 đ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="note">
              <div class="title">
                <span class="hidden-xs">
                <%= image_tag "i-note.png", alt: "note" %>&nbsp;&nbsp;
                </span>
                Ghi chú
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p class="note-content"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="luuy mg-bot30" style="display: none;">
          <div class="title-lg">
            <h2>Lưu ý</h2>
          </div>
          <div class="sec-content attention">
            <div style="text-align: justify;">
              <strong>Giá tour bao gồm:&nbsp;</strong>
            </div>
            <div>
              &nbsp;
            </div>
          </div>
          <div style="text-transform: uppercase;font-weight: 500;font-size: 16px;padding: 15px;">Thông tin:</div>
          <div class="sec-content attention">
            <title></title>
            <div style="text-align: center;">
              <strong>Mọi chi tiết vui lòng liên hệ:</strong>
            </div>
            <div style="text-align: center;">
              <strong>KHỐI KHÁCH LẺ - DU LỊCH TRONG NƯỚC</strong>
            </div>
            <div style="text-align: center;">
              190 PASTEUR, PHƯỜNG 6, QUẬN 3, TP.HCM
            </div>
            <div style="text-align: center;">
              Điện thoại: (84-28) 3822 8898
            </div>
            <div style="text-align: center;">
              Hotline: 0938 301 399
            </div>
            <div style="text-align: center;">
              Tổng đài tư vấn từ 08:00 - 23:00: 1900 1839
            </div>
            <div style="text-align: center;">
              Email: ngaltt.fit@vietravel.com
            </div>
            <div style="text-align: center;">
              &nbsp;
            </div>
            <div style="text-align: center;">
              <strong>VIETRAVEL KÍNH CHÚC QUÝ KHÁCH MỘT CHUYẾN DU LỊCH VUI VẺ</strong>
            </div>
            <div>
              &nbsp;
            </div>
          </div>
        </div>
        <div class="ngaykhac mg-bot30" style="display: none;">
          <div class="title-lg">
            <h2>Ngày khác</h2>
          </div>
          <div class="sec-content other-day">
            <div class="row hidden-xs">
              <div id="datepicker"></div>
              <div style="margin: 15px 15px 0px 15px;">
                <div style="float: left; width: 33%;">
                  <div style="float:left;margin-right:10px;"><img src="/Images/CurrentDay.jpg" alt="Ngày hiện tại"></div>
                  <div style="float:left;padding-top:3px;">Ngày hiện tại</div>
                </div>
                <div style="float: left; width: 33%">
                  <div style="float:left;margin-right:10px;"><img src="/Images/DayChoose.jpg" alt="Ngày đã chọn"></div>
                  <div style="float:left;padding-top:3px;">Ngày đã chọn</div>
                </div>
                <div style="float: left; width: 33%">
                  <div style="float:left;margin-right:10px;"><img src="/Images/DayOther.jpg" alt="Ngày khác"></div>
                  <div style="float:left;padding-top:3px;">Ngày khác</div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ykien mg-bot30" style="display: none;">
          <div class="title-lg">Ý KIẾN KHÁCH HÀNG (0)</div>
          <div class="sec-content customer-idea">
            <div id="comment-list">
              <div id="divComment" class="modal fade" role="dialog">
                <form action="/Comment/Reply" id="mainform" method="post">
                  <input name="__RequestVerificationToken" type="hidden" value="DF3K9vNlEgB849eZ6XeuB1E0DwGVuBj-daGK522t6i798fh6VJ5ZHF6UBq3b2Y6yueCaJC5kc85u81du3lPh-sr1plYfBdxj5XMGWHLObjQ1">
                  <input id="HeaderTour" name="HeaderTour" type="hidden" value="NDSGN594">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <div class="modal-title">Gửi ý kiến</div>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-12 mg-bot15">
                            <div class="input-container">
                              <i class="fas fa-user icon"></i>
                              <input class="form-control input-md" id="UserName" name="UserName" placeholder="Họ tên(*)" required="required" type="text" value="">
                            </div>
                          </div>
                          <div class="col-md-12 mg-bot15">
                            <div class="input-container">
                              <i class="fas fa-envelope icon"></i>
                              <input class="form-control input-md" id="Email" name="Email" placeholder="Email(*)" required="required" type="email" value="">
                            </div>
                          </div>
                          <div class="col-md-12 mg-bot15">
                            <div class="input-container">
                              <i class="fas fa-th-list icon"></i>
                              <textarea class="form-control" cols="20" id="Content" name="Content" placeholder="Ý kiến của bạn(*)" required="required" rows="5"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-md btn-detail" id="btn_submitmainform">Gửi đi&nbsp;&nbsp;<i class="fas fa-paper-plane"></i></button>
                      </div>
                    </div>
                  </div>
                  <script type="text/javascript">
                    $("#btn_submitmainform").click(function (e) {

                        var UserName = $('#UserName').val();
                        var Email = $('#Email').val();
                        var Content = $('#Content').val();
                        if (UserName == '' || Email == '' || Content == '') {
                            alert('Vui lòng nhập thông tin');
                        }
                        else {
                            $.ajax({
                                type: $('#mainform').attr('method'),
                                url: $('#mainform').attr('action'),
                                data: $('#mainform').serialize(),
                                success: function (data) {

                                    alert(data);
                                    LoadComment('NDSGN594', 1);

                                    $('#UserName').val('');
                                    $('#Email').val('');
                                    $('#Content').val('');
                                }
                            });
                        }
                        e.preventDefault();
                        return false;
                    });
                  </script>
                </form>
              </div>
            </div>
            <form action="/Comment/Reply" id="mainform" method="post">
              <input name="__RequestVerificationToken" type="hidden" value="GZDCKUaP4qaeKMG_BaQ6f79auD2BHfXxMNd9zqdqf1jj_AaBerhGvmGwc801LH8iC34U3wa0BxqB9BKwBhN94CZ2tM0i8DCS2MbH737h8nk1">
              <input id="HeaderTour" name="HeaderTour" type="hidden" value="NDSGN594">
              <div class="frame-feedback">
                <div class="title">
                  <%= image_tag "i-feedback.png", alt: "feedback" %>&nbsp;&nbsp;Gửi ý kiến
                </div>
                <div class="form-feedback">
                  <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 mg-bot15">
                      <input class="form-control input-md" id="UserName" name="UserName" placeholder="Họ tên(*)" required="required" type="text" value="">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 mg-bot15">
                      <input class="form-control input-md" id="Email" name="Email" placeholder="Email(*)" required="required" type="email" value="">
                    </div>
                  </div>
                  <div class="row mg-bot15">
                    <div class="col-xs-12">
                      <textarea class="form-control" cols="20" id="Content" name="Content" placeholder="Ý kiến của bạn(*)" required="required" rows="5"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-center mg-bot15">
                      <button type="submit" class="btn btn-md btn-detail" id="btn_submitmainform">Gửi đi&nbsp;&nbsp;<i class="fas fa-paper-plane"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
                $("#btn_submitmainform").click(function (e) {

                    var UserName = $('#UserName').val();
                    var Email = $('#Email').val();
                    var Content = $('#Content').val();
                    if (UserName == '' || Email == '' || Content == '') {
                        alert('Vui lòng nhập thông tin');
                    }
                    else {
                        $.ajax({
                            type: $('#mainform').attr('method'),
                            url: $('#mainform').attr('action'),
                            data: $('#mainform').serialize(),
                            success: function (data) {

                                alert(data);
                                LoadComment('NDSGN594', 1);

                                $('#UserName').val('');
                                $('#Email').val('');
                                $('#Content').val('');
                            }
                        });
                    }
                    e.preventDefault();
                    return false;
                });
              </script>
            </form>
            <div class="clear"></div>
          </div>
          <script type="text/javascript">
            $(document).ready(function () {
                var HeaderTour = 'NDSGN594';

                LoadComment(HeaderTour, 1);

                $('.pager_simple_orange a').click(function () {
                    var page = parseInt(this.textContent);

                    LoadComment(HeaderTour, page);

                    $('.pager_simple_orange a').removeClass('active');
                    $('.pager_simple_orange td').removeClass('active');
                    $(this).addClass("active");
                    return false;
                });
            });

            function LoadComment(HeaderTour, page) {
                $.ajax({
                    url: '/Comment/_LoadComment',
                    data: { HeaderTour: HeaderTour, page: page },
                    success: function (response) {
                        // Hiển thị kết quả tìm kiếm
                        $("#comment-list").html(response);
                    }
                });
            }
          </script>
        </div>
        <div class="lienhe mg-bot30" style="display: none;">
          <div class="title-lg">
            <h2>Liên hệ</h2>
          </div>
          <div class="sec-content contact">
            <div class="row vpc">
              <div class="col-xs-12 title">
                Trụ sở chính
              </div>
              <div class="col-sm-6 col-xs-12 mg-bot30">
                <p class="address mg-bot10"><strong>Địa chỉ: </strong> 190 Pasteur, Phường Võ Thị Sáu, Quận 3, Tp. Hồ Chí Minh</p>
                <p class="mg-bot10"><strong>Điện thoại:</strong> (84-28) 3822 8898</p>
                <p class="mg-bot10"><strong>Fax:</strong> (84-28) 3829 9142</p>
                <p><strong>Email:</strong> info@vietravel.com</p>
              </div>
            </div>
            <div class="row cn">
              <div class="col-xs-12 mg-bot30">
                <ul class="list-mien list-inline">
                  <li class="active item-mn" id="tabMienNam"><a href="#">Miền Nam</a></li>
                  <li class="item-mb"><a href="#" id="tabMienBac">Miền Bắc</a></li>
                  <li class="item-mt"><a href="#" id="tabMienTrung">Miền Trung</a></li>
                </ul>
              </div>
              <div class="mien miennam" id="divMienNam"></div>
              <div class="mien mienbac" id="divMienBac"></div>
              <div class="mien mientrung" id="divMienTrung"></div>
            </div>
          </div>
        </div>
        <div class="bando mg-bot30" style="display: none;">
          <div class="title-lg">Bản đồ</div>
          <div class="sec-content contact">
            <div class="row ">
              <div class="col-xs-12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="line-ct">&nbsp;</div>
    </div>
    <div class="col-xs-12 tour-similar">
      <div class="row">
        <div class="col-xs-12 mg-bot20">
          <div class="title-ft">Các tour tương tự</div>
        </div>
        <div id="theogia">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mg-bot30">
            <a href="/tourNDSGN190-035-141221VU-D-F/bay-cung-vietravel-airlines-ha-noi-sapa-ban-cat-cat-fansipan-khach-san-4-sao-tai-sapa,-tang-01-dem-khach-san-3-sao-tai-ha-noi.aspx" title="Bay cùng Vietravel Airlines: Hà Nội - Sapa - Bản Cát Cát - Fansipan (Khách sạn 4 sao tại Sapa, tặng 01 đêm khách sạn 3 sao tại Hà Nội)">
              <div class="pos-relative">
                <img src="https://media.travel.com.vn/destination/tf_210407112148_542327.jpg" class="img-responsive pic-ttt" alt="Bay cùng Vietravel Airlines: Hà Nội - Sapa - Bản Cát Cát - Fansipan (Khách sạn 4 sao tại Sapa, tặng 01 đêm khách sạn 3 sao tại Hà Nội)">
                <div class="frame-ttt1">
                  <div class="f-left">
                    <%= image_tag "i-date-w.png", alt: "date" %>
                  </div>
                  <div class="f-left date">
                    <span class="yellow">14/12/2021</span> -
                    <span class="yellow">4 ngày</span> - <span class="yellow">9 chỗ</span>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </a>
            <div class="frame-ttt2">
              <a href="/tourNDSGN190-035-141221VU-D-F/bay-cung-vietravel-airlines-ha-noi-sapa-ban-cat-cat-fansipan-khach-san-4-sao-tai-sapa,-tang-01-dem-khach-san-3-sao-tai-ha-noi.aspx" title="Bay cùng Vietravel Airlines: Hà Nội - Sapa - Bản Cát Cát - Fansipan (Khách sạn 4 sao tại Sapa, tặng 01 đêm khách sạn 3 sao tại Hà Nội)">
                <div class="ttt-title dot-dot cut-ttt">Bay cùng Vietravel Airlines: H ... </div>
              </a>
              <div class="ttt-line"></div>
              <div>
                <%= image_tag "i-price.png", class: "f-left", alt: "price" %>
                <div class="f-left ttt-info">
                  <span class="price-n">5,990,000 đ</span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="line-ct">&nbsp;</div>
    </div>
  </div>
</div>
