<div class="container n3-tour-hour" id="box-lastminute">
   <div class="row">
      <div class="col-xs-12 mg-bot30">
         <h2 class="title-l mg-bot10">
            <a href="/du-lich-gio-chot.aspx">Tour giờ chót</a>
         </h2>
         <div class="text-center title-descript">Tour giờ chót với giá tốt</div>
      </div>
      <div id="idLastMinute" style="margin-bottom:30px;">
         <% @tours.each do |t| %>
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mg-bot30">
            <div class="pos-relative">
               <%= link_to tour_path(t), title: t.title do %>
                  <img src="https://media.travel.com.vn/LastMinute/lm_210401093612_532755.jpg" class="img-responsive pic-tgc" alt="Miền Tây - Bạc Liêu - Nhà Thờ Cha Diệp - Đất Mũi Cà Mau - Cần Thơ  (Khách sạn 5*)">
               <% end %>
               <div class="frame-tgc1">
                  <div class="row">
                     <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <div class="f-left">
                           <%= image_tag "i-date-w.png", alt: "date" %>
                        </div>
                        <div class="f-left date"><span class="yellow">09/04/2021</span> - <span class="yellow">3 ngày</span></div>
                        <div class="clear"></div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                        <div class="f-left">
                           <%= image_tag "i-chair-w.png", alt: "chair" %>
                        </div>
                        <div class="f-left chair"><span class="yellow"><%= t.remain_slot  %></span></div>
                        <div class="clear"></div>
                     </div>
                  </div>
               </div>
               <div class="frame-tgc">
                  <span id="countDownDayNDSGN845-013-090421XE-D">Còn 00 ngày 05:27:50</span>
                  <script type="text/javascript">
                     var newYear = '2021' + '/' + '04' + '/' + '07' + ' ' + '17' + ':' + '00' + ':' + '00';
                     $('#countDownDayNDSGN845-013-090421XE-D').countdown(newYear, function (event) {
                         $(this).html(event.strftime('C&#242;n %D ng&#224;y %H:%M:%S'));
                     });
                  </script>
               </div>
            </div>
            <div class="frame-tgc2">
               <%= link_to tour_path(t), title: t.title do %>
                  <div class="tgc-title dot-dot-ajax cut-tgc ddd-truncated" style="overflow-wrap: break-word;">
                    <%= t.title %>
                  </div>
               <% end %>
               <div class="tgc-line"></div>
               <div class="mg-bot10">
                  <%= image_tag "i-dep.png", class: "f-left" %>
                  <div class="f-left tgc-info">
                     <span>Nơi khởi hành:&nbsp;&nbsp;<span style="font-weight: bold;color:#212121;"> <%= t.departure  %></span></span>
                  </div>
                  <div class="clear"></div>
               </div>
               <div class="mg-bot10">
                  <%= image_tag "i-price.png", class: "f-left", alt: "price" %>
                  <div class="f-left tgc-info">
                     <span class="price-o">
                     2,890,000<span>&nbsp;</span>đ </span>&nbsp;&nbsp;&nbsp;&nbsp;
                     <span class="price-n"><%= t.price  %></span>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
         <% end %>
         <script>
            $(".dot-dot-ajax").dotdotdot();
         </script>
      </div>
      <div class="col-xs-12 text-center">
         <a href="/du-lich-gio-chot.aspx" class="btn btn-book1 btn-md">Xem thêm</a>
      </div>
   </div>
</div>
