<div class="container n3-tour-description mg-bot40" itemscope="" itemtype="http://schema.org/Product">
  <div class="row">
    <div class="col-xs-12 mg-bot15">
      <h1 class="tour-name" itemprop="name">
        <a><%= @tour.title %></a>
      </h1>
      <span itemprop="brand" style="display: none;">Vietravel</span>
      <img itemprop="image" style="display: none;" src="https://media.travel.com.vn/destination/tf_210226045729_127096.jpg" alt="Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)">
      <span itemprop="description" style="display: none;">Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)</span>
      <span itemprop="sku" style="display: none;">NDSGN535-052-220421VU-V-F</span>
      <span itemprop="review" style="display: none;">Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)</span>
      <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" style="display: none;">
        <span itemprop="ratingValue">4.61</span>
        <span itemprop="bestRating">5</span>
        <span itemprop="ratingCount">372</span>
      </span>
      <span itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer" style="display: none;">
        <span itemprop="lowPrice">2390000</span>
        <span itemprop="highPrice">2390000</span>
        <span itemprop="offerCount">9</span>
        <span itemprop="priceCurrency">VND</span>
        <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
          <a itemprop="url" href="/tourNDSGN535-052-220421VU-V-F/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx">
            Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)
          </a>

        </span>
      </span>
      <div class="tour-code">
        <i class="fas fa-barcode"></i>&nbsp;&nbsp;NDSGN535-052-220421VU-V-F</div>
    </div>
    <div class="slideshow-pt col-lg-8 col-md-12 col-sm-12 col-xs-12 pos-relative">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://media.travel.com.vn/tour/tfd_210226050129_332941.jpg" alt="TP. HỒ CHÍ MINH - LIÊN KHƯƠNG - QUÊ GARDEN - ĐÀ LẠT (Ăn tối)" class="img-responsive pic-ss-pt">
          </div>
          <div class="item">
            <img src="https://media.travel.com.vn/tour/tfd_210415015123_718143.jpg" alt="ĐÀ LẠT -  KHU DU LỊCH KIM NGÂN HILLS - LÀNG HOA VẠN THÀNH (Ăn sáng, trưa)" class="img-responsive pic-ss-pt">
          </div>
          <div class="item">
            <img src="https://media.travel.com.vn/tour/tfd_210415015102_284432.jpg" alt="ĐÀ LẠT - CÀ PHÊ MÊ LINH - TP. HỒ CHÍ MINH  (Ăn sáng, trưa)" class="img-responsive pic-ss-pt">
          </div>
        </div>
        <a class="left carousel-control hidden" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control hidden" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="frame-func">
        <a class="ic">
          <i class="far fa-heart" onclick="AddWishlist('135b9c5c-ab9b-49a3-add5-908f6446cdb6')"></i>
        </a>
        <a href="/du-lich/NDSGN535-052-220421VU-V-F/in-chuong-trinh-tour.aspx" target="_blank" class="ic">
          <i class="fas fa-print"></i>
        </a>
        <a class="ic" data-toggle="modal" data-target="#SendEmailFriend">
          <i class="far fa-envelope"></i>
        </a>
        <div class="clear"></div>
      </div>
      <div class="frame-tourtype">
        <div style="background: rgba(255,255,255,0.7);border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;padding: 5px 10px;">
          <div class="f-left" style="margin-right: 10px;"><%= image_tag "giasoc.png", alt: "giasoc", style: 'width: 30px;' %></div>

          <div class="f-left" style="padding-top: 7px;font-weight: bold;font-size: 15px;">Giá Tốt</div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="info col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="frame-info pos-relative">
        <div class="sec1">
          <div class="f-left frame-rating">
            <div style="float:left;margin:8px 0px" data-tourid="135b9c5c-ab9b-49a3-add5-908f6446cdb6" class="rateit" data-rateit-value="4.61" data-rateit-resetable="false">
              <button id="rateit-reset-2" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-2" style="display: none;"></button>
              <div id="rateit-range-2" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-2" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4.61" aria-readonly="false" style="width: 80px; height: 16px;">
                <div class="rateit-selected" style="height: 16px; width: 73.76px;"></div>
                <div class="rateit-hover" style="height:16px"></div>
              </div>
            </div>
            <div style="float: left; margin-top:8px" class="hidden-xs">
              <span class="hreview-aggregate">
                <span class="item">
                  <span class="fn">
                    <span class="rating">
                      <span class="average">
                        <strong>4.61</strong>
                      </span>
                      <strong>/<span class="best">5
                        </span>
                      </strong>trong
                      <span class="votes">
                        <strong>372</strong>
                      </span>
                      Đánh giá<span class="summary"></span></span>
                  </span>
                </span>
              </span>
            </div>
          </div>
          <div class="viewed">
            <i class="fas fa-eye"></i>&nbsp;&nbsp;<span>611</span>&nbsp;&nbsp;
            <i class="far fa-thumbs-up" style="color: #777"></i>&nbsp;&nbsp;<span>126</span>&nbsp;&nbsp;
            <i class="far fa-comment" style="color: #777"></i>&nbsp;&nbsp;<span>0</span>
          </div>
        </div>
        <div class="sec2">
          <div class="row mg-bot10">
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-6">Khởi hành:</div>
            <div class="col-lg-8 col-md-10 col-sm-9 col-xs-6">
              <div class="mg-bot-date">
                <%= @tour.start_date %> &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="hidden-xs">
                  <i class="far fa-calendar-alt"></i>&nbsp;
                  <a href="/danh-sach-tour/NDSGN535/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx" class="b">Ngày khác</a>
                </span>
              </div>
              <div class="hidden-lg hidden-md hidden-sm">
                <i class="far fa-calendar-alt"></i>&nbsp;<a href="/danh-sach-tour/NDSGN535/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx" class="b">Ngày khác</a>
              </div>
            </div>
          </div>
          <div class="row mg-bot10">
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-6">Thời gian:</div>
            <div class="col-lg-8 col-md-10 col-sm-9 col-xs-6">
              <%= @tour.days %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-6" style="padding-right: 0px !important;">Nơi khởi hành:</div>
            <div class="col-lg-8 col-md-10 col-sm-9 col-xs-6">
              <%= @tour.departure %>
            </div>
          </div>
        </div>
        <div class="sec3">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div style="margin-bottom: 7px;" itemscope="" itemtype="http://schema.org/PriceSpecification">
                <span class="price" itemprop="price" content="2090000"><%= @tour.price.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> đ</span>&nbsp;<span class="unit" itemprop="priceCurrency" content="VND"></span>
              </div>
              <div>
                Số chỗ còn nhận:
                <span class="sit"><%= @tour.remain_slot %></span>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
              <%= link_to booking_tour_new_path(@tour.id), method: "get", class: "btn btn-book1 btn-md" do %>
              <i class="fas fa-cart-plus"></i>&nbsp;&nbsp;Đặt ngay
            <% end %>
          </div>
        </div>
      </div>
      <div class="sec4">
        <div class="row">
          <div class="col-xs-12 mg-bot10">
            <span class="font500">Giá ưu đãi khi Đăng ký &amp; thanh toán trực tuyến</span>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div style="margin-bottom: 7px;" itemscope="" itemtype="http://schema.org/PriceSpecification">
              <span class="price" itemprop="price" content="5790000">5,790,000</span>&nbsp;
              <span class="unit" itemprop="priceCurrency" content="VND">đ</span>
            </div>
            <div>Số chỗ còn nhận: <span class="sit">3</span></div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
            <a href="/booking/inbound?tourId=1c94a17d-3233-4c9c-b696-918a02c25020&amp;TO=1" class="btn btn-book2 btn-md">
              <i class="fas fa-cart-plus"></i>&nbsp;&nbsp;Đặt ngay
            </a>
          </div>
        </div>
      </div>
      <div class="sec5">
        <div style="margin-bottom: 8px;">Bạn cần hỗ trợ?</div>
        <div>
          <div class="f-left btn-s1">
            <a
              href="https://webcall.talking.vn/frame-click-to-call/new?code=tCEZl1-MKPuA6JU-czVAScCb0pPkHmPt"
              onclick="javascript:window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=375,height=667');return false;"
              target="_blank">
              <%= image_tag "btn-call1.png", alt: "phone" %>
            </a>
          </div>
          <div class="f-left btn-s2" data-toggle="modal" data-target="#divTuVan" style="cursor:pointer;" onclick="LoadPixelTuVan();">
            <%= image_tag "btn-call2.png", alt: "phone" %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="bg-phone hidden-md hidden-sm hidden-xs">
        <%= image_tag "bg-phone.png", alt: "phone" %>
      </div>
    </div>
  </div>
</div>
</div>
