<div class="n3-form-search" style="z-index: initial; position: initial; background: rgb(241, 241, 241); --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor:#202324;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="frame-search">
          <div class="o-dl hvtt">
            <%= link_to through_vietnam_tour_path, target: '_blank' do %>
              <i class="iconT-i-c5 mg-b"></i>
              <p class="text1">Tour</p>
              <p class="text2 text-hvtt">Xuyên Việt</p>
            <% end %>
          </div>
          <div class="o-dl dltn">
            <i class="iconT-i-c1 mg-b"></i>
            <p class="text1">Tìm tour</p>
            <p class="text2 text-dltn">Trong nước</p>
          </div>
          <div class="o-dl vmb">
            <div class="vua"><%= image_tag "vietravel-airlines-logo-116px.png", alt: "Vietravel Airlines" %></div>
            <p class="text1"></p>
            <p class="text2 text-dlnn">Vé máy bay</p>
          </div>
          <div class="o-dl dltc">
            <i class="iconT-i-c6 mg-b"></i>
            <p class="text1">Dịch vụ</p>
            <p class="text2 text-dltc">Vé máy bay / Xe + khách sạn</p>
          </div>
          <div class="o-dl combo">
            <a href="https://travel.com.vn/Hotel/Destination">
              <i class="iconT-i-c3 mg-b"></i>
              <p class="text1">Dịch vụ</p>
              <p class="text2 text-combo">Khách sạn</p>
            </a>
          </div>
          <div class="o-dl tttc">
            <i class="iconT-i-c4 mg-b"></i>
            <p class="text1">Tìm kiếm</p>
            <p class="text2 text-dltt">Booking</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="frmsDL">
    <form action="/Tour/SearchFirst" method="post">
      <input name="__RequestVerificationToken" type="hidden" value="0iTlKeGoCHH-_h4b4rWzq4Vs6oTa9QFc147hKWzp0qxk8p_2S44zrHbZZQqk-djN9_eyVANaACnXttnck7njQnZZkNjM7cCkVFwXRoDiREY1">
      <div class="form-info-search bg-dltn pos-relative" style="display: none;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="triangle-up"></div>
              <div class="pad-tb">
                <div class="row">
                  <div class="col-xs-12 mg-bot15">
                    <div style="font-size: 16px; line-height: 24px; color: rgb(33, 33, 33); --darkreader-inline-color:#d3cfca;" data-darkreader-inline-color="">
                      Nơi khởi hành:&nbsp;&nbsp;
                      <select class="nkh text-dltn" id="departureID" name="departureID"></select>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                    <div class="form-group noidia" style="position: relative;">
                      <div style="position: absolute;left: 16px; top: 18px;z-index:1;">
                        <%= image_tag "i-map2.png", alt: "map" %>
                      </div>
                      <div style="position: absolute;left: 50px; top: 12px;z-index:1;">
                        <span style="color: rgb(0, 137, 255); font-size: 14px; font-weight: 500; --darkreader-inline-color:#33a6ff;" data-darkreader-inline-color="">Điểm đến</span>
                      </div>
                      <select name="GroupId" id="GroupId" class="chosen-select" style="display: none;">
                        <option value="0">Bạn muốn đi du lịch ở đâu?</option>
                      </select>
                      <div class="chosen-container chosen-container-single" title="" id="GroupIdOB_chosen" style="width: 0px;">
                        <a class="chosen-single">
                          <span>Bạn muốn đi du lịch ở đâu?</span>
                          <div><b></b></div>
                        </a>
                        <div class="chosen-drop">
                          <div class="chosen-search">
                            <input class="chosen-search-input" type="text" autocomplete="off">
                          </div>
                          <ul class="chosen-results"></ul>
                        </div>
                      </div>
                      <input type="hidden" name="TourTypeId" value="2">
                      <input type="hidden" name="ConCho" value="-1">
                      <input type="hidden" name="DongTour" value="0">
                      <input type="hidden" name="PriceId" value="0">
                      <input type="hidden" name="submitButton" value="SearchTour">
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="row" style="position: relative;">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" style="position: relative;">
                          <div style="position: absolute;left: 16px; top: 18px;">
                            <%= image_tag "i-calendar2.png", alt: "calendar" %>
                          </div>
                          <div style="position: absolute;left: 50px; top: 12px;">
                            <span style="color: rgb(240, 67, 58); font-size: 14px; font-weight: 500; --darkreader-inline-color:#f14e46;" data-darkreader-inline-color="">Từ ngày</span>
                          </div>
                          <input autocomplete="off" class="form-control new" name="DepartureDate" id="DepartureDateOB" type="text" value=" 09/05/2021" placeholder="09/05/2021">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" style="position: relative;">
                          <div style="position: absolute;left: 16px; top: 18px;">
                            <%= image_tag "i-calendar2.png", alt: "calendar" %>
                          </div>
                          <div style="position: absolute;left: 50px; top: 12px;">
                            <span style="color: rgb(240, 67, 58); font-size: 14px; font-weight: 500; --darkreader-inline-color:#f14e46;" data-darkreader-inline-color="">Đến ngày</span>
                          </div>
                          <input autocomplete="off" class="form-control new" name="DepartureDateTo" id="DepartureDateToOB" type="text" value=" 09/06/2021" placeholder="09/06/2021">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 gb-tim">
                    <div class="text-right">
                      <button type="submit" onclick="return checkSearch('departureIDOB');" class="btn btn-default btn-lg btn-timtour2"><i class="fas fa-search"></i>&nbsp;&nbsp;Tìm kiếm</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <form action="/Combo/SearchFirst" method="post">
      <input name="__RequestVerificationToken" type="hidden" value="13oM1qffwmt6UQfP47jsDWg-qtykjniLiEh8XJ-Ho6BkbaJv1W_DnhGpVMYcAigKga18I0xLbO7y9CkBCaHLUlYJZQXFQDjDT71CziC3-Tw1">
      <div class="form-info-search bg-dltc pos-relative" style="display: none;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="triangle-up"></div>
              <div class="pad-tb">
                <div class="row">
                  <div class="col-xs-12 mg-bot15">
                    <div style="font-size: 16px; line-height: 24px; color: rgb(33, 33, 33); --darkreader-inline-color:#d3cfca;" data-darkreader-inline-color="">
                      Nơi khởi hành:&nbsp;&nbsp;
                      <select class="nkh text-dltc" id="comboDepartureId" name="departureID"></select>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12" style="display:none;">
                    <div class="form-group noidia" style="position: relative;">
                      <div style="position: absolute;left: 16px; top: 18px;z-index:1;">
                        <%= image_tag "i-price.png", alt: "price" %>
                      </div>
                      <div style="position: absolute;left: 50px; top: 12px;z-index:1;">
                        <span style="color: rgb(242, 163, 15); font-size: 14px; font-weight: 500; --darkreader-inline-color:#f3ac27;" data-darkreader-inline-color="">Combo</span>
                      </div>
                      <select name="LoaiCombo" id="LoaiCombo" class="chosen-select" style="display: none;">
                        <option value="0">Vui lòng chọn loại combo thích hợp cho chuyến đi của bạn</option>
                        <option value="2">Combo nghỉ dưỡng cao cấp</option>
                        <option value="4">Combo nghỉ dưỡng tiêu chuẩn</option>
                        <option value="6">Combo trải nghiệm</option>
                      </select>
                      <div class="chosen-container chosen-container-single" title="" id="LoaiCombo_chosen" style="width: 0px;">
                        <a class="chosen-single">
                          <span>Vui lòng chọn loại combo thích hợp cho chuyến đi của bạn</span>
                          <div><b></b></div>
                        </a>
                        <div class="chosen-drop">
                          <div class="chosen-search">
                            <input class="chosen-search-input" type="text" autocomplete="off">
                          </div>
                          <ul class="chosen-results"></ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group noidia" style="position: relative;">
                      <div style="position: absolute;left: 16px; top: 18px;z-index:1;">
                        <%= image_tag "i-map2.png", alt: "map" %>
                      </div>
                      <div style="position: absolute;left: 50px; top: 12px;z-index:1;">
                        <span style="color: rgb(242, 163, 15); font-size: 14px; font-weight: 500; --darkreader-inline-color:#f3ac27;" data-darkreader-inline-color="">Bạn muốn đi đâu?</span>
                      </div>
                      <select name="CBTinhThanh" id="CBTinhThanh" class="chosen-select" style="display: none;">
                        <option value="0">Vui lòng chọn địa điểm hay tên khách sạn </option>
                      </select>
                      <div class="chosen-container chosen-container-single" title="" id="CBTinhThanh_chosen" style="width: 0px;">
                        <a class="chosen-single">
                          <span>Vui lòng chọn địa điểm hay tên khách sạn </span>
                          <div><b></b></div>
                        </a>
                        <div class="chosen-drop">
                          <div class="chosen-search">
                            <input class="chosen-search-input" type="text" autocomplete="off">
                          </div>
                          <ul class="chosen-results"></ul>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" id="CBTinhThanhtext" name="CBTinhThanhtext" value="aaaa">
                  </div>
                  <div class="col-xs-12 gb-tim">
                    <div class="text-right">
                      <button type="submit" class="btn btn-default btn-lg btn-md btn-timtour3" onclick="return ga('event', 'Search', 'SearchClick', 'keywords');"><i class="fas fa-search"></i>&nbsp;&nbsp;Tìm kiếm</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <form action="/Booking/SearchBookingFirst" method="post">
      <div class="form-info-search bg-dltt pos-relative" style="display: none;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="triangle-up"></div>
              <div class="pad-tb">
                <div class="row">
                  <div class="col-lg-2 col-md-9 col-sm-9 col-xs-12"></div>
                  <div class="col-lg-8 col-xs-12">
                    <div class="row">
                      <div class="col-xs-12 mg-bot10">
                        <p class="text-dltt" style="font-size: 20px;line-height: 24px;">Tra cứu thông tin booking</p>
                      </div>
                      <div class="col-xs-12">
                        <div class="form-group" style="position: relative;">
                          <div style="position: absolute;left: 16px; top: 18px;">
                            <%= image_tag "i-booking2.png", alt: "booking" %>
                          </div>
                          <div style="position: absolute;left: 50px; top: 12px;">
                            <span style="color: rgb(0, 140, 114); font-size: 14px; --darkreader-inline-color:#6affe3;" data-darkreader-inline-color="">Số booking</span>
                          </div>
                          <input id="pin_code" name="pin_code" class="form-control new" type="text" placeholder="Nhập số booking của bạn">
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <div class="text-right">
                          <button type="submit" class="btn btn-default btn-lg btn-tracuu"><i class="fas fa-search"></i>&nbsp;&nbsp;Tìm kiếm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-9 col-sm-9 col-xs-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="form-info-search bg-vmb pos-relative" style="display: none;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="triangle-up"></div>
            <div class="pad-tb">
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <div class="row">
                    <div class="tab-content" id="Booking">
                      <div class="booking-box">
                        <form action="#" class="frm-booking step2" id="Booking" method="get">
                          <h3 class="intro">Xin chào, bạn muốn đi đâu? </h3>
                          <div class="wrap-col">
                            <div class="inp-col">
                              <div class="form-group">
                                <div class="drp-location dropbtn">
                                  <div class="icon-box"><i class="icon-location-pin icons"></i></div>
                                  <p class="placeholder">Điểm đi</p>
                                  <p class="dropval"></p>
                                  <div class="input-holder"></div>
                                  <input type="text" name="des_filter_from" value="" readonly="" class="inp-filter">
                                  <input type="hidden" name="flight_from" id="flight_from" class="form-control" required="">
                                  <div id="flightFrom" class="dropdown-content">
                                    <div class="inn" id="pfrom">
                                      <h4 class="title-list">Trong nước</h4>
                                      <ul class="des-list">
                                        <li><a data-option="0" data-index="0"><span class="name">Tp. Hồ Chí Minh</span><span class="cd">SGN</span></a></li>
                                        <li><a data-option="0" data-index="1"><span class="name">Hà Nội</span><span class="cd">HAN</span></a></li>
                                        <li><a data-option="0" data-index="2"><span class="name">Đà Nẵng</span><span class="cd">DAD</span></a></li>
                                        <li><a data-option="0" data-index="3"><span class="name">Phú Quốc</span><span class="cd">PQC</span></a></li>
                                        <li><a data-option="0" data-index="4"><span class="name">Đà Lạt</span><span class="cd">DLI</span></a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="inp-col">
                              <div class="form-group">
                                <div class="drp-location dropbtn">
                                  <div class="icon-box"><i class="icon-location-pin icons"></i></div>
                                  <p class="placeholder">Điểm đến</p>
                                  <p class="dropval" id="dropvalto"></p>
                                  <input type="text" name="des_filter_to" value="" class="inp-filter" readonly="">
                                  <input type="hidden" name="flight_to" id="flight_to" class="form-control" required="">
                                  <div id="flightTo" class="dropdown-content">
                                    <div class="wrap-scroll">
                                      <div class="inn" id="pto"></div>
                                    </div>
                                    <div class="close-bar">
                                      <button><i class="fal fa-times-circle"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="inp-col st2">
                              <div class="inp-place drp-date">
                                <div class="icon-box"><i class="far fa-calendar-alt"></i></div>
                                <div class="col-md-8 col-sm-8 col-xs-8 date-left">
                                  <div class="date-start">
                                    <p class="placeholder small">Ngày đi</p>
                                    <input type="hidden" name="date_start" id="date_start" value="" class="form-control">
                                  </div>
                                  <div class="date-end">
                                    <p class="placeholder small">Ngày về</p>
                                    <input type="hidden" name="date_end" id="date_end" value="" class="form-control">
                                  </div>
                                  <div class="datestartend">
                                    <input type="text" id="datestartview" class="form-control dshow" readonly="">
                                    <input type="text" id="datestart" class="form-control dhidden" style="height: 1px; font-size: 0px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); --darkreader-inline-color:#e8e6e3; --darkreader-inline-bgcolor:#181a1b;" readonly="" required="" data-darkreader-inline-color="" data-darkreader-inline-bgcolor="">
                                  </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 date-right"><span><input type="checkbox" id="singleDatePicker"><br>Một chiều</span></div>
                              </div>
                            </div>
                            <div class="inp-col st2">
                              <div class="inp-place drp-customer">
                                <div class="icon-box"><i class="fal fa-user-friends"></i></div>
                                <div class="wr-inp drd-btn">
                                  <p class="placeholder small">Hành khách</p>
                                  <input type="text" name="customer_type" id="customer_type" value="1 Người lớn" readonly="" class="form-control customer_filter" required="">
                                  <div class="dropdown-content">
                                    <div class="wrap-scroll">
                                      <p class="title-option">&nbsp;</p>
                                      <ul class="list-option">
                                        <li>
                                          <div class="wr-type adults">
                                            Người lớn
                                            <div class="num-func">
                                              <input type="number" name="num_adults" id="num_adult" value="1" class="custom-num">
                                              <div class="btn-row">
                                                <a class="btn-num" href="javascript:void(0);"><i class="far fa-minus"></i></a>
                                                <a class="btn-num" href="javascript:void(0);"><i class="far fa-plus"></i></a>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="wr-type child">
                                            Trẻ em
                                            <div class="num-func">
                                              <input type="number" name="num_child" id="num_child" value="0" class="custom-num">
                                              <div class="btn-row">
                                                <a class="btn-num" href="javascript:void(0);"><i class="far fa-minus"></i></a>
                                                <a class="btn-num" href="javascript:void(0);"><i class="far fa-plus"></i></a>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="wr-type infant">
                                            Trẻ sơ sinh
                                            <div class="num-func">
                                              <input type="number" name="num_infant" id="num_infant" value="0" class="custom-num">
                                              <div class="btn-row">
                                                <a class="btn-num" href="javascript:void(0);"><i class="far fa-minus"></i></a>
                                                <a class="btn-num" href="javascript:void(0);"><i class="far fa-plus"></i></a>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="close-bar">
                                      <button onclick="return closeDrdCustomer();"><i class="fal fa-times-circle"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="inp-col st2">
                              <div class="inp-place drp-ticket">
                                <div class="icon-box"><i class="fal fa-ticket-alt"></i></div>
                                <div class="wr-inp drd-btn">
                                  <p class="placeholder small">Hạng vé</p>
                                  <input type="text" name="ticket_type" value="Phổ thông" readonly="" class="form-control eco-color ticket_filter" required="">
                                  <div class="dropdown-content">
                                    <div class="wrap-scroll">
                                      <p class="title-option">Chọn hạng vé</p>
                                      <ul class="list-option">
                                        <li class="active">
                                          <label class="custom-lbl">
                                          <span class="ticket_name"> Phổ thông</span>
                                          <input type="radio" checked="checked" class="ticket_value" value="0" name="ticket_option">
                                          <span class="checkmark"></span>
                                          </label>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="close-bar">
                                      <button onclick="return closeDrdTicket();"><i class="fal fa-times-circle"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="inp-col col-submit">
                              <button type="button" class="btn btn-custom btnFightSearch">Xem chuyến bay</button>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  //config destination
  var pFrom = '{"placeFrom":[' + '{"Name":"Tp. Hồ Chí Minh","Code":"SGN", "placeTo":[{"Name":"Hà Nội", "Code": "HAN"},{"Name":"Đà Nẵng","Code":"DAD"},{"Name":"Phú Quốc","Code":"PQC"},{"Name":"Đà Lạt", "Code":"DLI"}] },' + '{"Name":"Hà Nội", "Code": "HAN", "placeTo":[{"Name":"Tp. Hồ Chí Minh", "Code": "SGN"},{"Name":"Đà Nẵng","Code":"DAD"}] },' + '{"Name":"Đà Nẵng","Code":"DAD", "placeTo":[{"Name":"Tp. Hồ Chí Minh", "Code": "SGN"},{"Name":"Hà Nội","Code":"HAN"}]},' + '{"Name":"Phú Quốc","Code":"PQC", "placeTo":[{"Name":"Tp. Hồ Chí Minh", "Code": "SGN"},{"Name":"Hà Nội","Code":"HAN"}]},' + '{"Name":"Đà Lạt","Code":"DLI", "placeTo":[{"Name":"Tp. Hồ Chí Minh", "Code": "SGN"}]' + '}]}';

  //điểm đi
  obj = JSON.parse(pFrom);
  var countFrom = Object.keys(obj.placeFrom).length;
  var pfrom = "<h4 class='title-list'>Trong nước</h4><ul class='des-list'>";
  for (var i = 0; i < countFrom; i++) {
      pfrom += "<li><a data-option='0' data-index='" + i + "'><span class='name'>" + obj.placeFrom[i].Name + "</span><span class='cd'>" + obj.placeFrom[i].Code + "</span></a></li>";
  }
  pfrom += "</ul>";
  document.getElementById("pfrom").innerHTML = pfrom;
  //điểm đến
  function loadPlaceTo(findex) {
      obj = JSON.parse(pFrom);
      var countFrom = Object.keys(obj.placeFrom[findex].placeTo).length;
      var pto = "<h4 class='title-list'>Trong nước</h4><ul class='des-list'>";
      for (var t = 0; t < countFrom; t++) {
          pto += "<li onclick=\"FightTo('" + obj.placeFrom[findex].placeTo[t].Name + "', '" + obj.placeFrom[findex].placeTo[t].Code + "')\"><a data-option='1'><span class='name'>" + obj.placeFrom[findex].placeTo[t].Name + "</span><span class='cd'>" + obj.placeFrom[findex].placeTo[t].Code + "</span></a></li>";
      }
      pto += "</ul>";
      document.getElementById("pto").innerHTML = pto;
  }
  function FightTo(sname, scode) {
      document.getElementById('dropvalto').innerHTML = sname + "<sup>" + scode + "</sup>";
      document.getElementById('flight_to').value = scode;
      updateConfigDate();
  }
  /*
* Location Dropdown Script
//*/
  var drp_locations = document.querySelectorAll(".drp-location");
  for (let i = 0; i < drp_locations.length; i++) {
      drp_locations[i].addEventListener("click", function(e) {
          e.preventDefault();
          resetDrdDestination();
          let parent_drp = e.target.closest(".drp-location");
          if (!parent_drp.querySelector('.dropdown-content').contains(e.target)) {
              parent_drp.classList.add("blur");
              parent_drp.querySelector('.inp-filter').focus();
              parent_drp.querySelector('.dropval').innerHTML = "";
              document.getElementById('dropvalto').innerHTML = "";
              parent_drp.querySelector('.placeholder').classList.add("small");
          }

      });
  }

  var inp_filters = document.querySelectorAll(".drp-location .inp-filter");
  for (let j = 0; j < inp_filters.length; j++) {
      inp_filters[j].addEventListener("keyup", (e)=>{
          e.target.closest(".drp-location").querySelector('.dropval').innerHTML = e.target.value;
      }
      );
  }

  function resetDrdDestination() {
      let dropdowns = document.getElementsByClassName("drp-location");
      for (let i = 0; i < dropdowns.length; i++) {
          let openDropdown = dropdowns[i];
          openDropdown.classList.remove('blur');
          if (openDropdown.querySelector('.dropval').innerHTML == "") {
              openDropdown.querySelector('.placeholder').classList.remove("small");
          }
      }
  }

  // Event Click Destination
  var des_links = document.querySelectorAll(".drp-location .des-list li a");
  for (let i = 0; i < des_links.length; i++) {
      let des_link = des_links[i];
      des_link.addEventListener("click", function(e) {
          e.preventDefault();
          let des_name = des_link.querySelector('.name').innerHTML;
          let des_cd = des_link.querySelector('.cd').innerHTML;
          e.target.closest('.drp-location').querySelector('.inp-filter').value = "";
          e.target.closest('.drp-location').querySelector('.dropval').innerHTML = des_name + "<sup>" + des_cd + "</sup>";
          e.target.closest('.drp-location').classList.remove("blur");
          var des_index = des_link.getAttribute("data-index");
          var des_data = des_link.getAttribute("data-option");
          document.getElementById('flight_from').value = des_cd;
          loadPlaceTo(des_index);
      });
  }

  //date
  //updateConfigDate();
  function updateConfigDate() {
      var today = new Date().getMonth() + 1 + "/" + new Date().getDate() + "/" + new Date().getFullYear();
      var isOneway = false;
      var options = {};
      options.timePicker = false;
      options.showDropdowns = false;
      options.autoApply = true;
      options.startDate = today;
      options.minDate = today;
      if ($('#singleDatePicker').is(':checked')) {
          options.singleDatePicker = true;
          isOneway = true;
          document.querySelector('.date-end').style.display = 'none';
      } else {
          document.querySelector('.date-end').style.display = 'block';
      }

      $('#datestart').daterangepicker(options, function(start, end) {
          document.getElementById('datestartview').value = (options.singleDatePicker == true ? start.format('DD/MM/YYYY') : start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
          document.getElementById('date_start').value = start.format('YYYY-MM-DD');
          document.getElementById('date_end').value = end.format('YYYY-MM-DD');
      }).click();
  }
  $('#singleDatePicker').click(function() {
      updateConfigDate();
  });
  $('#datestartview').click(function() {
      updateConfigDate();
  });

  //hành khách
  var drp_wr = document.querySelectorAll(".drp-customer");
  for (let i = 0; i < drp_wr.length; i++) {
      drp_wr[i].addEventListener("click", function(e) {
          e.preventDefault();
          //updateConfigDate();
          let parent_drp = e.target.closest(".wr-inp");
          if (!parent_drp.querySelector('.dropdown-content').contains(e.target)) {
              parent_drp.classList.add("blur");
              parent_drp.querySelector('.customer_filter').focus();
          }
      });
  }

  function closeDrdCustomer() {
      let dropdowns = document.getElementsByClassName("drp-customer");
      for (let i = 0; i < dropdowns.length; i++) {
          let openDropdown = dropdowns[i];
          if (openDropdown.querySelector('.wr-inp').classList.contains("blur")) {
              openDropdown.querySelector('.wr-inp').classList.remove("blur");
          }
      }
  }

  //event hành khách
  var num_adults = 0;
  num_childs = 0;
  num_infants = 0,
  max_pax = 9;
  num_adults = parseInt(document.getElementById('num_adult').value);
  num_childs = parseInt(document.getElementById('num_child').value);
  num_infants = parseInt(document.getElementById('num_infant').value)
  $('.drp-customer .adults .fa-plus').click(function() {
      if (num_adults + num_childs < max_pax) {
          num_adults = parseInt(document.getElementById('num_adult').value) + 1;
      } else {
          num_adults = parseInt(document.getElementById('num_adult').value);
      }
      document.getElementById('num_adult').value = num_adults;
      document.getElementById('customer_type').value = num_adults + " Người lớn" + (num_childs > 0 ? "; " + num_childs + " Trẻ em" : "") + (num_infants > 0 ? "; " + num_infants + " Trẻ nhỏ" : "");
  });

  $('.drp-customer .adults .fa-minus').click(function() {
      if (num_adults >= 1) {
          num_adults = parseInt(document.getElementById('num_adult').value) - 1;
      } else {
          num_adults = 0;
      }
      document.getElementById('num_adult').value = num_adults;
      document.getElementById('customer_type').value = num_adults + " Người lớn" + (num_childs > 0 ? "; " + num_childs + " Trẻ em" : "") + (num_infants > 0 ? "; " + num_infants + " Trẻ nhỏ" : "");
  });

  $('.drp-customer .child .fa-plus').click(function() {
      if (num_adults + num_childs < max_pax && num_childs < num_adults * 2 && num_childs < 3) {
          num_childs = parseInt(document.getElementById('num_child').value) + 1;
      } else {
          num_childs = parseInt(document.getElementById('num_child').value);
      }
      document.getElementById('num_child').value = num_childs;
      document.getElementById('customer_type').value = num_adults + " Người lớn" + (num_childs > 0 ? "; " + num_childs + " Trẻ em" : "") + (num_infants > 0 ? "; " + num_infants + " Trẻ nhỏ" : "");
  });
  $('.drp-customer .child .fa-minus').click(function() {
      if (num_childs >= 1) {
          num_childs = parseInt(document.getElementById('num_child').value) - 1;
      } else {
          num_childs = 0;
      }
      document.getElementById('num_child').value = num_childs;
      document.getElementById('customer_type').value = num_adults + " Người lớn" + (num_childs > 0 ? "; " + num_childs + " Trẻ em" : "") + (num_infants > 0 ? "; " + num_infants + " Trẻ nhỏ" : "");
  });

  $('.drp-customer .infant .fa-plus').click(function() {
      if (num_infants < num_adults && num_infants < 3) {
          num_infants = parseInt(document.getElementById('num_infant').value) + 1;
      } else {
          num_infants = parseInt(document.getElementById('num_infant').value);
      }
      document.getElementById('num_infant').value = num_infants;
      document.getElementById('customer_type').value = num_adults + " Người lớn" + (num_childs > 0 ? "; " + num_childs + " Trẻ em" : "") + (num_infants > 0 ? "; " + num_infants + " Trẻ nhỏ" : "");
  });
  $('.drp-customer .infant .fa-minus').click(function() {
      if (num_infants >= 1) {
          num_infants = parseInt(document.getElementById('num_infant').value) - 1;
      } else {
          num_infants = 0;
      }
      document.getElementById('num_infant').value = num_infants;
      document.getElementById('customer_type').value = num_adults + " Người lớn" + (num_childs > 0 ? "; " + num_childs + " Trẻ em" : "") + (num_infants > 0 ? "; " + num_infants + " Trẻ nhỏ" : "");
  });

  //hạng vé
  drp_wr = document.querySelectorAll(".drp-ticket");
  for (let i = 0; i < drp_wr.length; i++) {
      drp_wr[i].addEventListener("click", function(e) {
          e.preventDefault();
          let parent_drp = e.target.closest(".wr-inp");
          if (!parent_drp.querySelector('.dropdown-content').contains(e.target)) {
              parent_drp.classList.add("blur");
              parent_drp.querySelector('.ticket_filter').focus();
          }
      });
  }
  var ticket_links = document.querySelectorAll(".drp-ticket .list-option li");
  for (let i = 0; i < ticket_links.length; i++) {
      let ticket_link = ticket_links[i];
      ticket_link.addEventListener("click", function(e) {
          e.preventDefault();
          let ticket_name = ticket_link.querySelector('.ticket_name').innerHTML;
          let ticket_value = ticket_link.querySelector('.ticket_value').innerHTML;
          e.target.closest('.drp-ticket').querySelector('.ticket_filter').value = ticket_name;
          //e.target.closest('.drp-ticket').querySelector('.ticket_desc').innerHTML = ticket_name;
          e.target.closest('.wr-inp').classList.remove("blur");
      });
  }
  function closeDrdTicket() {
      let dropdowns = document.getElementsByClassName("drp-ticket");
      for (let i = 0; i < dropdowns.length; i++) {
          let openDropdown = dropdowns[i];
          if (openDropdown.querySelector('.wr-inp').classList.contains("blur")) {
              openDropdown.querySelector('.wr-inp').classList.remove("blur");
          }
      }
  }

  window.onclick = function(event) {
      var classes = event.target.className.split(' ');
      var found = false
        , foundcus = false
        , foundticket = false;
      var i = 0;
      while (i < classes.length && !found) {
          if (classes[i] == 'dropbtn')
              found = true;
          else
              ++i;
      }

      while (i < classes.length && !foundcus) {
          if (classes[i] == 'inp-place') {
              foundcus = true;
              foundticket = true;
          } else
              ++i;
      }

      var dropdowns = document.querySelectorAll(".drp-location");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
          if (dropdowns[i].contains(event.target)) {
              found = true
          }
      }

      if (!found) {
          resetDrdDestination();
          document.querySelector(".placeholder.small").closest(".drp-location");
      }

      //reset customer
      dropdowns = document.querySelectorAll(".drp-customer");
      for (i = 0; i < dropdowns.length; i++) {
          if (dropdowns[i].contains(event.target)) {
              foundcus = true;
          }
      }
      if (!foundcus) {
          closeDrdCustomer();
      }

      //reset ticket
      dropdowns = document.querySelectorAll(".drp-ticket");
      for (i = 0; i < dropdowns.length; i++) {
          if (dropdowns[i].contains(event.target)) {
              foundticket = true;
          }
      }
      if (!foundticket) {
          closeDrdTicket();
      }
  }

  //button
  $('.booking-box .btnFightSearch').click(function() {
      var param = "";
      param += "&routes[0][from]=" + document.getElementById('flight_from').value;
      param += "&routes[0][to]=" + document.getElementById('flight_to').value;
      param += "&routes[0][date]=" + document.getElementById('date_start').value;
      if ($('#singleDatePicker').is(':checked')) {//
      } else {
          param += "&routes[1][from]=" + document.getElementById('flight_to').value;
          param += "&routes[1][to]=" + document.getElementById('flight_from').value;
          param += "&routes[1][date]=" + document.getElementById('date_end').value;
      }
      param += "&passengers[0][code]=ADT&passengers[0][count]=" + document.getElementById('num_adult').value;
      param += "&passengers[1][code]=CHD&passengers[1][count]=" + document.getElementById('num_child').value;
      param += "&passengers[2][code]=INF&passengers[2][count]=" + document.getElementById('num_infant').value;
      param += "&lowestFare=false";
      // False giá chính xác của ngày bay, True : giá thấp nhất theo khoảng ngày
      param += "&promoCode=";
      param += "&currency=VND";
      //document.location.href = "http://localhost:52352/?execute=true" + param;
      document.location.href = "https://booking.vietravelairlines.vn/vi/search?execute=true" + param;
  });

  var $ = jQuery.noConflict();
  $(".dltn").click(function() {
      LoadDauKhoiHanh('departureID', 's_depart');
      $.scrollTo(document.getElementById('frmsDL'), 800, {
          offset: -10
      });
      //frmsDLTN , { offset: 20 } { offset: document.getElementById('frmsDLTN').offsetTop }
      //console.log('dltn');
  });
  $(".dlnn").click(function() {
      LoadDauKhoiHanh('departureIDOB', 's_depart');
      $.scrollTo(document.getElementById('frmsDL'), 800, {
          offset: -10
      });
  });
  $(".dltc").click(function() {
      //LoadDauKhoiHanh('departureIDTC', 's_depart');
      LoadDauKhoiHanh('comboDepartureId', 's_depart');
      $.scrollTo(document.getElementById('frmsDL'), 800, {
          offset: -10
      });
  });
  $(".tttc").click(function() {
      $.scrollTo(document.getElementById('frmsDL'), 800, {
          offset: -10
      });
  });
  $(".vmb").click(function() {
      $.scrollTo(document.getElementById('frmsDL'), 800, {
          offset: -10
      });
  });
  var currDate = new Date();
  $("#DepartureDate").datepicker({
      format: 'dd/mm/yyyy',
      todayHighlight: true,
      startDate: new Date(),
      //endDate: currDate,
      autoclose: true
  });

  $("#DepartureDateTo").datepicker({
      format: 'dd/mm/yyyy',
      todayHighlight: true,
      startDate: new Date(),
      //endDate: currDate,
      autoclose: true
  });

  $("#DepartureDateOB").datepicker({
      format: 'dd/mm/yyyy',
      todayHighlight: true,
      startDate: new Date(),
      //endDate: currDate,
      autoclose: true
  });

  $("#DepartureDateToOB").datepicker({
      format: 'dd/mm/yyyy',
      todayHighlight: true,
      startDate: new Date(),
      //endDate: currDate,
      autoclose: true
  });

  $("#DepartureDateTC").datepicker({
      format: 'dd/mm/yyyy',
      todayHighlight: true,
      startDate: new Date(),
      //endDate: currDate,
      autoclose: true
  });

  $("#DepartureDateToTC").datepicker({
      format: 'dd/mm/yyyy',
      todayHighlight: true,
      startDate: new Date(),
      //endDate: currDate,
      autoclose: true
  });

  function LoadDauKhoiHanh(id, cookies_name) {
      var s_depart = getCookie(cookies_name);
      if (s_depart == "") {
          s_depart = 0;
      }
      // Tương tác với server
      $.ajax({
          url: '/tour/load_departure_day',
          data: {
              LanguageID: '2'
          },
          success: function(result) {
              //Reset option Destination
              $("#" + id).empty();

              for (n = 0; n < result.length; n++) {
                  if (result[n].Id == s_depart) {
                      $("#" + id).append($("<option selected></option>").val(result[n].Id).html(result[n].Name));
                  } else {
                      $("#" + id).append($("<option></option>").val(result[n].Id).html(result[n].Name));
                  }
              }
          }
      });
  }
  ;
  function LoadDiemDen(type, id) {
      // Tương tác với server
      $.ajax({
          url: '/tour/load_destination',
          data: {
              type: type
          },
          success: function(result) {
              //Reset option Destination
              $("#" + id).empty();
              $("#" + id).append($("<option></option>").val('0').html('Bạn muốn đi du lịch ở đâu?'));

              for (n = 0; n < result.length; n++) {
                  $("#" + id).append($("<option></option>").val(result[n].Id).html(result[n].Name));
              }
              $("#" + id).trigger("chosen:updated");
          }
      });
  }
  ;
  function LoadDiemDenMegre(id) {
      // Tương tác với server
      $.ajax({
          url: '/tour/load_destination',
          data: {
              type: 1
          },
          success: function(result) {
              //Reset option Destination
              $("#" + id).empty();
              $("#" + id).append($("<option></option>").val('0').html('Bạn muốn đi du lịch ở đâu?'));

              for (n = 0; n < result.length; n++) {
                  $("#" + id).append($("<option></option>").val(result[n].Id).html(result[n].Name));
              }
              $("#" + id).trigger("chosen:updated");

              $.ajax({
                  url: '/SubControl/LoadDestination',
                  data: {
                      type: 2
                  },
                  success: function(result) {
                      //Reset option Destination
                      $("#" + id).append($("<option></option>").val('0').html('----------------------------------------------------------'));

                      for (n = 0; n < result.length; n++) {
                          $("#" + id).append($("<option></option>").val(result[n].Id).html(result[n].Name));
                      }
                      $("#" + id).trigger("chosen:updated");
                  }
              });
          }
      });
  }
  ;
  function LoadLoaiCombo(id) {
      // Tương tác với server
      $.ajax({
          url: '/tour/load_combo_type',
          data: null,
          success: function(result) {
              //Reset option Destination
              $("#" + id).empty();
              $("#" + id).append($("<option></option>").val('0').html('Vui lòng chọn loại combo thích hợp cho chuyến đi của bạn'));

              for (n = 0; n < result.length; n++) {
                  $("#" + id).append($("<option></option>").val(result[n].Id).html(result[n].Name));
              }
              $("#" + id).trigger("chosen:updated");
          }
      });
  };
  function LoadTinhThanhByLoaiCombo(id) {
      var loaiComBoId = $('#LoaiCombo').val();
      // Tương tác với server
      $.ajax({
          url: '/tour/load_province_by_combo',
          data: {
              loaiComBoId: loaiComBoId
          },
          success: function(result) {
              //Reset option Destination
              $("#" + id).empty();
              $("#" + id).append($("<option></option>").val('0').html('Vui lòng chọn địa điểm hay tên khách sạn '));
              for (n = 0; n < result.length; n++) {
                  $("#" + id).append($("<option></option>").val(result[n].Id).html(result[n].Name));
              }
              $("#" + id).trigger("chosen:updated");

              $.ajax({
                  url: '/SubControl/LoadTinhThanhByCombo_NameKS',
                  success: function(result) {

                      for (n = 0; n < result.length; n++) {
                          $("#" + id).append($("<option></option>").val(result[n].Id).html(result[n].Name));
                      }
                      $("#" + id).trigger("chosen:updated");
                  }
              });

          }
      });
  };
</script>
<script type="text/javascript">
  $(document).ready(function(event) {
      LoadDiemDen(1, 'GroupId');
      LoadDiemDen(2, 'GroupIdOB');
      //LoadDiemDenMegre('GroupIdTC');
      LoadLoaiCombo('LoaiCombo');
      LoadTinhThanhByLoaiCombo('CBTinhThanh');

      //setTimeout(function () {
      //    $('.chosen-select').chosen(config['.chosen-select']);
      //}, 3000);
  })

  $("#LoaiCombo").change(function() {
      LoadTinhThanhByLoaiCombo('CBTinhThanh');
  });

  $("#CBTinhThanh").on("change", function() {
      $("#CBTinhThanhtext").val($("#CBTinhThanh option:selected").text());
  });

  function checkSearch(id) {
      departureID1 = $('#' + id).val();
      if (departureID1 > 0) {
          var s_depart = getCookie('s_depart');
          if (s_depart != "" && s_depart != departureID1) {
              setCookie('s_depart', departureID1, 365);
          }
          return true;
      } else {
          alert('Bạn cần chọn nơi khởi hành');
          return false;
      }
  }
</script>
