<div class="n3-header">
  <div class="h-top">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="area-info">
        <div class="phone-support">
          <div class="dropdown-toggle" data-toggle="dropdown">
            <div class="f-left">
              <span class="hidden-xs">Hotline:</span>
              <span class="num-color">1900 1839</span>
            </div>
            <div class="f-left" style="margin-top:-2px;">
              <%= image_tag "i-arrow-hl.png", style: "margin-left: 8px;" %>
            </div>
          </div>
          <ul class="dropdown-menu">
            <li>
              <table style="width: 100%">
                <tbody>
                  <tr>
                    <td colspan="3" class="city-name">Hồ Chí Minh</td>
                  </tr>
                  <tr>
                    <td style="width: 53%;">
                      Tổng đài:
                      <br>
                      Du lịch trong nước:
                      <br>
                      Du lịch nước ngoài:<br>
                      Dịch vụ khách hàng:
                    </td>
                    <td class="whitetext">
                      <strong>(028)3822.8898</strong><br>
                      <strong>0938.301.399</strong><br>
                      <strong>0938.301.388</strong><br>
                      <strong>0938.301.234</strong>
                    </td>
                    <td>
                      &nbsp;&nbsp;<br>
                      <a href="skype:fit.dltn?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:fit.dlnn?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:online.cskh?chat">
                        <i class="iconT-skype"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="city-name">Chi Nhánh Hà Nội</td>
                  </tr>
                  <tr>
                    <td style="width: 53%;">
                      Du lịch trong nước:
                      <br>
                      Du lịch nước ngoài:<br>
                      Dịch vụ khách hàng:
                    </td>
                    <td class="whitetext">
                      <strong>0989.370.033</strong><br>
                      <strong>0983.160.022</strong><br>
                      <strong>0938.301.234</strong>
                    </td>
                    <td>
                      <a href="skype:fitdltn.hanoi?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:fitdlnn.hanoi?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:online.cskh?chat">
                        <i class="iconT-skype"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="city-name">Chi Nhánh Đà Nẵng</td>
                  </tr>
                  <tr>
                    <td style="width: 53%;">
                      Du lịch trong nước:
                      <br>
                      Du lịch nước ngoài:<br>
                      Dịch vụ khách hàng:
                    </td>
                    <td class="whitetext">
                      <strong>0905.173.331</strong><br>
                      <strong>0932.472.310</strong><br>
                      <strong>0938.301.234</strong>
                    </td>
                    <td>
                      <a href="skype:fitdltn.danang?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:fitdlnn.danang?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:online.cskh?chat">
                        <i class="iconT-skype"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="city-name mauchudao">Chi Nhánh Cần Thơ</td>
                  </tr>
                  <tr>
                    <td style="width: 53%;">
                      Du lịch trong nước:
                      <br>
                      Du lịch nước ngoài:<br>
                      Dịch vụ khách hàng:
                    </td>
                    <td class="whitetext">
                      <strong>0939 05 95 96</strong><br>
                      <strong>0903.114.664</strong><br>
                      <strong>0938.301.234</strong>
                    </td>
                    <td>
                      <a href="skype:fitdltn.cantho?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:fitdlnn.cantho?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:online.cskh?chat">
                        <i class="iconT-skype"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="city-name mauchudao">Chi Nhánh Hải Phòng</td>
                  </tr>
                  <tr>
                    <td style="width: 53%;">
                      Du lịch trong nước:
                      <br>
                      Du lịch nước ngoài:<br>
                      Dịch vụ khách hàng:
                    </td>
                    <td class="whitetext">
                      <strong>0936.900.095</strong><br>
                      <strong>0936.900.085</strong><br>
                      <strong>0938.301.234</strong>
                    </td>
                    <td>
                      <a href="skype:fitdltn.haiphong?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:fitdlnn.haiphong?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:online.cskh?chat">
                        <i class="iconT-skype"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="city-name mauchudao">Chi Nhánh Nha Trang</td>
                  </tr>
                  <tr>
                    <td style="width: 53%;">
                      Du lịch trong nước:
                      <br>
                      Du lịch nước ngoài:<br>
                      Dịch vụ khách hàng:
                    </td>
                    <td class="whitetext">
                      <strong>&lrm;&lrm;093.1616.555</strong><br>
                      <strong>0988.608.286</strong><br>
                      <strong>0938.301.234</strong>
                    </td>
                    <td>
                      <a href="skype:fitdltn.nhatrang?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:fitdlnn.nhatrang?chat">
                        <i class="iconT-skype"></i>
                      </a><br>
                      <a href="skype:online.cskh?chat">
                        <i class="iconT-skype"></i>
                      </a>
                    </td>
                    /tr>
                  </tbody>
                </table>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="area-info">
          <div class="f-right h-line hidden-lg hidden-md">
            <%= image_tag "h-line.png", alt: "line" %>
          </div>
          <div class="f-right lang-info">
            <div class="obj pos-relative">
              <div class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag "vn.png", alt: "Vietnamese" %>
                <span style="padding-left: 5px;" class="hidden-xs">VN</span>
              </div>
              <ul class="dropdown-menu">
                <li style="border-bottom: 1px dashed #ccc;">
                  <a href="https://travel.com.vn">
                    <strong class="mauchudao">VN</strong>
                    - Tiếng Việt</a>
                </li>
                <li>
                  <a href="https://en.travel.com.vn">
                    <strong class="mauchudao">EN</strong>
                    - Tiếng Anh</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="f-right h-line">
            <%= image_tag "h-line.png", alt: "line" %>
          </div>
          <div class="f-right user-info">
            <div class="obj pos-relative">
              <%= image_tag "user-s.png", alt: "Tài khoản", class: "dropdown-toggle", data: {toggle: "dropdown"} %>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                  <li> <%= button_to 'Đăng xuất', destroy_user_session_path, data: {target: "_blank"}, method: :delete %></li>
                <% else %>
                  <li style="border-bottom: 1px dashed #ccc;">
                    <%= link_to 'Đăng nhập', new_user_session_path, id: "btDangNhap", data: {toggle: "modal"}, data: {target: "#dangnhap"} %>
                  </li>
                  <li><%= link_to 'Đăng ký', new_user_registration_path, data: {target: "_blank"} %></li>
                <% end %>
              </ul>
              <div class="clear"></div>
            </div>
          </div>

          <div class="f-right h-line">
            <%= image_tag "h-line.png", alt: "line" %>
          </div>
          <div class="f-right cart-info">
            <div class="obj pos-relative cart-info-bag">
              <a id="shopping-cart-bag" href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag "i-cart.png", alt: "line" %>
                <div class="frame-cart">
                  <div class="circle-num">
                    <span class="num numCard">0</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu">
                <div class="row item-cvch">
                  <div class="col-xs-12 text-left cart-title">
                    <i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;GIỎ HÀNG PHIẾU QUÀ TẶNG
                  </div>
                  <div class="col-xs-12 item-vch">
                    <form action="/Voucher/_HeaderShoppingCart" enctype="multipart/form-data" id="frmHeaderShoppingCart" method="get" name="frmHeaderShoppingCart"><input name="__RequestVerificationToken" type="hidden" value="6YYImdmgaWBKyDtVsu_vP4-GdUUI6uYuxeuARyElpaGtjPeHnqJ2luwOumTFmFR7tvpml0rawA9coCfs0-0wsUmiiPEPMHYnD4bl87cXS8o1">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <td>
                              Giỏ hàng trống
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                  <div class="col-xs-12 text-right mg-bot10"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="f-right hidden-xs">
            <%= image_tag "h-line.png", alt: "line" %>
          </div>
          <div class="f-right h-line hidden-xs">
            <%= image_tag "h-line.png", alt: "line" %>
          </div>
          <div class="f-right cart-info  hidden-xs">
            <div class="obj pos-relative">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag "i-viewed.png", alt: "line" %>
                <div class="frame-cart">
                  <div class="circle-num">
                    <span class="num">5</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu">
                <div class="row item">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="/tourNDSGN876-018-080421VU-H/bay-cung-vietravel-airlines-phu-quoc-ngam-hoang-hon-tai-sunset-sanato-bai-sao-khach-san-3-sao.aspx" title="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)">
                      <img src="https://media.travel.com.vn/destination/tf_210319052641_209018.jpg" alt="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)" class="img-responsive pic-cart-h">
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a
                      href="/tourNDSGN876-018-080421VU-H/bay-cung-vietravel-airlines-phu-quoc-ngam-hoang-hon-tai-sunset-sanato-bai-sao-khach-san-3-sao.aspx"
                      class="itemcart-name shortened"
                      title="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)">
                      Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi
                      <span class="moreellipses"></span><span class="morecontent"><span style="display: none;">Sao (Khách Sạn 3 Sao)
                        </span>
                        <a href="#" class="morelink">...</a></span></a>
                  </div>
                </div>
                <div class="row item">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="/tourNDSGN577-017-240721XE-D/bao-loc-madagui-tuyet-tac-ho-ta-dung-nghi-duong-doi-dep-tea-resort-4sao.aspx" title="Bảo Lộc - Madagui - Tuyệt Tác Hồ Tà Đùng - Nghỉ dưỡng Doi Dep Tea Resort 4*">
                      <img src="https://media.travel.com.vn/destination/tf_201201104759_151833.jpg" alt="Bảo Lộc - Madagui - Tuyệt Tác Hồ Tà Đùng - Nghỉ dưỡng Doi Dep Tea Resort 4*" class="img-responsive pic-cart-h">
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a href="/tourNDSGN577-017-240721XE-D/bao-loc-madagui-tuyet-tac-ho-ta-dung-nghi-duong-doi-dep-tea-resort-4sao.aspx" class="itemcart-name shortened" title="Bảo Lộc - Madagui - Tuyệt Tác Hồ Tà Đùng - Nghỉ dưỡng Doi Dep Tea Resort 4*">
                      Bảo Lộc - Madagui - Tuyệt Tác Hồ Tà Đùng - Nghỉ dưỡng Doi Dep Tea Resort 4*
                    </a>
                  </div>
                </div>
                <div class="row item">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="/tourNDSGN876-021-090421VU-H/bay-cung-vietravel-airlines-phu-quoc-ngam-hoang-hon-tai-sunset-sanato-bai-sao-khach-san-3-sao.aspx" title="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)">
                      <img src="https://media.travel.com.vn/destination/tf_210319052641_209018.jpg" alt="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)" class="img-responsive pic-cart-h">
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a
                      href="/tourNDSGN876-021-090421VU-H/bay-cung-vietravel-airlines-phu-quoc-ngam-hoang-hon-tai-sunset-sanato-bai-sao-khach-san-3-sao.aspx"
                      class="itemcart-name shortened"
                      title="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)">
                      Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi
                      <span class="moreellipses"></span><span class="morecontent"><span style="display: none;">Sao (Khách Sạn 3 Sao)
                        </span>
                        <a href="#" class="morelink">...</a></span></a>
                  </div>
                </div>
                <div class="row item">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="/tourNDSGN876-011-100421VU-H/bay-cung-vietravel-airlines-phu-quoc-ngam-hoang-hon-tai-sunset-sanato-bai-sao-khach-san-3-sao.aspx" title="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)">
                      <img src="https://media.travel.com.vn/destination/tf_210319052641_209018.jpg" alt="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)" class="img-responsive pic-cart-h">
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a
                      href="/tourNDSGN876-011-100421VU-H/bay-cung-vietravel-airlines-phu-quoc-ngam-hoang-hon-tai-sunset-sanato-bai-sao-khach-san-3-sao.aspx"
                      class="itemcart-name shortened"
                      title="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)">
                      Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi
                      <span class="moreellipses"></span><span class="morecontent"><span style="display: none;">Sao (Khách Sạn 3 Sao)
                        </span>
                        <a href="#" class="morelink">...</a></span></a>
                  </div>
                </div>
                <div class="row item">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="/tourNDSGN876-033-190521VU-H/bay-cung-vietravel-airlines-phu-quoc-ngam-hoang-hon-tai-sunset-sanato-bai-sao-khach-san-3-sao.aspx" title="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)">
                      <img src="https://media.travel.com.vn/destination/tf_210319052641_209018.jpg" alt="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)" class="img-responsive pic-cart-h">
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a
                      href="/tourNDSGN876-033-190521VU-H/bay-cung-vietravel-airlines-phu-quoc-ngam-hoang-hon-tai-sunset-sanato-bai-sao-khach-san-3-sao.aspx"
                      class="itemcart-name shortened"
                      title="Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi Sao (Khách Sạn 3 Sao)">
                      Bay cùng Vietravel Airlines: Phú Quốc - Ngắm Hoàng Hôn Tại Sunset Sanato - Bãi
                      <span class="moreellipses"></span><span class="morecontent"><span style="display: none;">Sao (Khách Sạn 3 Sao)
                        </span>
                        <a href="#" class="morelink">...</a></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="f-right hidden-xs">
            <%= image_tag "h-line.png", alt: "line" %>
          </div>

          <div class="f-right search-mini hidden-xs">
            <div class="obj pos-relative">
              <form action="/Tour/SearchToursByDestinationChild" method="post"><input name="__RequestVerificationToken" type="hidden" value="isNxRaEavbctDyZYXmb8ZQFkk7rbmlE4bMlAi-T1fl1qIFgQUL5hrFEHSZgCgk_OJ7NA-wIBx4cRZRvPnLSGS8dgG64zlRY-wpEs2BsRmk41">
                <input type="text" class="txt-search form-control input-md " name="search" placeholder="Tour du lịch, Điểm đến...">
                <div class="btn-f">
                  <button type="submit" onclick="ga('event','SearchTop', 'SearchTopClick', 'keywords');" id="btnSearchTour" style="background-color:rgb(241, 241, 241);border:none;height:40px;">
                    <%= image_tag "i-search-mini.png", alt: "search" %>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="h-bot">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <a href="/">
              <%= image_tag "logo.png", alt: "logo" %>
            </a>
          </div>
          <div class="col-md-8 hidden-sm col-xs-12">
            <%= render template: 'category/index' %>
            <div class="search-mini-s pos-relative hidden-lg hidden-md hidden-sm">
              <form action="/Tour/SearchToursByDestinationChild" method="post"><input name="__RequestVerificationToken" type="hidden" value="nJ7ftpkaFeuIEdmLklUZpUZ8FXyOvm8vyRpqooTag7dXv1aKe9yd680bK0qMeIafedOegFk0Js4VqHg1Nu74UxGYagSlUe_Oev3Fo3sPrKw1">
                <input type="text" class="txt-search form-control input-md " name="search" placeholder="Tour du lịch, Điểm đến...">
                <div class="btn-f">
                  <button type="submit" onclick="ga('event','SearchTop', 'SearchTopClick', 'keywords');" id="btnSearchTour" style="background-color:white;border:none;">
                    <%= image_tag "i-search-mini.png", alt: "search" %>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
