<div>
  <% index = 1 %>
  <% customer_types.each do |key, value| %>
    <% value[:number_of_booking].times.each do %>
      <%=
        render partial: 'booking/inbound_member_item', locals: {
          index: index,
          total: total,
          tour: tour,
          price_basic: value[:price_basic]
        }
      %>
      <% index += 1%>
    <% end %>
  <% end %>
</div>
<script>
    //$(function () {
        ChangeChoose();
    //});

    function CheckDOBByPersonkind() {
        var totalMember = parseInt('4');
        var end_date = new Date('2021', parseInt('5') - 1, '9', '15', '30', '0');
        for (var i = 1; i < totalMember; i++) {
            i = i.toString();
            var dateofbirth = $("#dateofbirth" + i).val();
            var personkind = $("#personkind" + i).val();//(0 : NguoiLon,1:TreNho, 2:EmBe, 3: TreEm)
            var personkind_value = $("#personkind" + i).text();//(0 : NguoiLon,1:TreNho, 2:EmBe, 3: TreEm)

            var ldob = dateofbirth.split("/");

            if (personkind == 0)//Nguoi lon >= 12 tuổi
            {
                //var year = parseInt(ldob[2]) + 12;
                var dobNew = new Date(parseInt(ldob[2]) + 12 + "-" + ldob[1] + "-" + ldob[0]);//Them 12 nam so với chọn ngày sinh

                if (dobNew > end_date) {
                    alert('Ngày sinh & loại khách không tương ứng. Quý khách cần kiểm tra lại ngày sinh, ngày sinh của' + ' ' + personkind_value + ' ' + 'phải theo quy tắc bên trên')
                    $("#dateofbirth" + i).val("");
                    $("#dateofbirth" + i).focus();

                    $("#dobs" + i).val("");
                    $("#dobs" + i + "_day").val("");
                    $("#dobs" + i + "_month").val("");
                    $("#dobs" + i + "_year").val("");
                }
            }
            if (personkind == 3)//5 tuoi <= Tre em < 12 tuoi
            {
                var dobMin = new Date(parseInt(ldob[2]) + 5 + "-" + ldob[1] + "-" + ldob[0]);
                var dobMax = new Date(parseInt(ldob[2]) + 12 + "-" + ldob[1] + "-" + ldob[0]);

                if (dobMin > end_date || dobMax < end_date) {
                    alert('Ngày sinh & loại khách không tương ứng. Quý khách cần kiểm tra lại ngày sinh, ngày sinh của' + ' ' + personkind_value + ' ' + 'phải theo quy tắc bên trên')
                    $("#dateofbirth" + i).val("");
                    $("#dateofbirth" + i).focus();

                    $("#dobs" + i).val("");
                    $("#dobs" + i + "_day").val("");
                    $("#dobs" + i + "_month").val("");
                    $("#dobs" + i + "_year").val("");
                }
            }
            if (personkind == 1)//2 tuoi <= Tre Nhỏ < 5 tuoi
            {
                var dobMin = new Date(parseInt(ldob[2]) + 2 + "-" + ldob[1] + "-" + ldob[0]);
                var dobMax = new Date(parseInt(ldob[2]) + 5 + "-" + ldob[1] + "-" + ldob[0]);

                if (dobMin > end_date || dobMax < end_date) {
                    alert('Ngày sinh & loại khách không tương ứng. Quý khách cần kiểm tra lại ngày sinh, ngày sinh của' + ' ' + personkind_value + ' ' + 'phải theo quy tắc bên trên')
                    $("#dateofbirth" + i).val("");
                    $("#dateofbirth" + i).focus();

                    $("#dobs" + i).val("");
                    $("#dobs" + i + "_day").val("");
                    $("#dobs" + i + "_month").val("");
                    $("#dobs" + i + "_year").val("");
                }
            }
            if (personkind == 2)//Em bé <= 2 tuoi
            {
                var dobNew = new Date(parseInt(ldob[2]) + 2 + "-" + ldob[1] + "-" + ldob[0]);

                if (dobNew < end_date) {
                    alert('Ngày sinh & loại khách không tương ứng. Quý khách cần kiểm tra lại ngày sinh, ngày sinh của' + ' ' + personkind_value + ' ' + 'phải theo quy tắc bên trên')
                    $("#dateofbirth" + i).val("");
                    $("#dateofbirth" + i).focus();

                    $("#dobs" + i).val("");
                    $("#dobs" + i + "_day").val("");
                    $("#dobs" + i + "_month").val("");
                    $("#dobs" + i + "_year").val("");
                }
            }
        }
    }

    function ChangeChoose() {
        var CurrencyName = 'đ';
        var Rate = '1';

        var totalMember = parseInt('<%= total %>');
        var totalAdult = parseInt('<%= params[:adult]%>');

        var totalPrice = 0;
        for (var i = 1; i <= totalMember; i++) {
            var amount_vn = 0;
            var loaikhachnoidia = $("#loaikhachnoidia" + i).val();//(0 : VietNam, 1: Viet kiều, 2: Nuoc ngoài)
            var personkind = $("#personkind" + i).val();//(0 : NguoiLon,1:TreNho, 2:EmBe, 3: TreEm)
            var loaiphuthuphongdon = $("#loaiphuthuphongdon" + i).val();//(0:Không, 1 : Có)

            $("#loaikhachnoidia" + i).change(function () {
                loaikhachnoidia = $("#loaikhachnoidia" + i).val();
            });

            $("#personkind" + i).change(function () {
                personkind = $("#personkind" + i).val();
            });

            $("#loaiphuthuphongdon" + i).change(function () {
                loaiphuthuphongdon = $("#loaiphuthuphongdon" + i).val();
            });

            if (totalAdult == 1) {
                $("#loaiphuthuphongdon0").val('1');

            }
            loaiphuthuphongdon = $("#loaiphuthuphongdon" + i).val();

            amount_vn = CalPrice(loaikhachnoidia, personkind, loaiphuthuphongdon);

            //$("#price" + i).val(formatnumber(amount_vn.toString()) + ' đ');
            $("#price" + i).val((amount_vn / Rate).toFixed(0));
            $("#spanprice" + i).text(formatnumber((amount_vn / Rate).toFixed(0)) + ' ' + CurrencyName);

            totalPrice += amount_vn;
        }

        //$("#TotalPrice").val(formatnumber(totalPrice.toString()) + ' đ');
        $("#TotalPrice").val((totalPrice / Rate).toFixed(0));
        $("#spanTotalPrice").text(formatnumber((totalPrice / Rate).toFixed(0)) + ' ' + CurrencyName);
    }

    function CalPrice(loaikhachnoidia, personkind, loaiphuthuphongdon) {

        //Gia tri cua tour

        //NguoiLon
        var adult_price = <%= tour.price_basics.find_by(customers_type: "adult").price_default %>;//VietNam
        var adult_o_price = <%= tour.price_basics.find_by(customers_type: "adult").price_default %>;//VietKieu
        var adult_f_price = <%= tour.price_basics.find_by(customers_type: "adult").price_default %>;//NuocNgoai

        //TreNho
        var child_price = <%= tour.price_basics.find_by(customers_type: "small_children").price_default %>;//VietNam
        var child_o_price = <%= tour.price_basics.find_by(customers_type: "small_children").price_default %>;//VietKieu
        var child_f_price = <%= tour.price_basics.find_by(customers_type: "small_children").price_default %>;//NuocNgoai

        //EmBe
        var child_price5 = <%= tour.price_basics.find_by(customers_type: "children").price_default %>//VietNam
        var pretty_o_price = <%= tour.price_basics.find_by(customers_type: "children").price_default %>//VietKieu
        var pretty_f_price = <%= tour.price_basics.find_by(customers_type: "children").price_default %>//NuocNgoai

        //TreEm
        var child_price11 = <%= tour.price_basics.find_by(customers_type: "children11").price_default %>//VietNam
        var child_o_price11 = <%= tour.price_basics.find_by(customers_type: "children11").price_default %>//VietKieu
        var child_f_price11 = <%= tour.price_basics.find_by(customers_type: "children11").price_default %>//NuocNgoai

        var phuthuphongdon_vn = <%= tour.price_basics.find_by(customers_type: "single_room").price_default %>//VietNam
        var phuthuphongdon_vk = <%= tour.price_basics.find_by(customers_type: "single_room").price_default %>//VietKieu
        var phuthuphongdon_nn = <%= tour.price_basics.find_by(customers_type: "single_room").price_default %>//NuocNgoai

        //Gia tri cua tour

        var amount_vn = 0;

        /* Xử lý tính giá tiền theo độ tuổi,loại khách, phụ thu phòng đơn */
        switch (personkind)//Độ tuổi
        {
            case "0"://Người lớn
                switch (loaikhachnoidia)//loại khách
                {
                    case "0": amount_vn = adult_price;//VietNam
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_vn;
                        }
                        break;
                    case "1": amount_vn = adult_o_price;//Vietkieu
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_vk;
                        }
                        break;
                    case "2": amount_vn = adult_f_price;//Nuocngoai
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_nn;
                        }
                        break;
                }
                break;

            case "1"://Trẻ nhỏ
                switch (loaikhachnoidia)//loại khách
                {
                    case "0": amount_vn = child_price;//VietNam
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_vn;
                        }
                        break;
                    case "1": amount_vn = child_o_price;//Vietkieu
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_vk;
                        }
                        break;
                    case "2": amount_vn = child_f_price;//Nuocngoai
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_nn;
                        }
                        break;
                }
                break;

            case "2"://Em bé
                switch (loaikhachnoidia)//loại khách
                {
                    case "0": amount_vn = child_price5;//VietNam
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_vn;
                        }
                        break;
                    case "1": amount_vn = pretty_o_price;//Vietkieu
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_vk;
                        }
                        break;
                    case "2": amount_vn = pretty_f_price;//Nuocngoai
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_nn;
                        }
                        break;
                }
                break;

            case "3"://Trẻ em
                switch (loaikhachnoidia)//loại khách
                {
                    case "0": amount_vn = child_price11;//VietNam
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_vn;
                        }
                        break;
                    case "1": amount_vn = child_o_price11;//Vietkieu
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_vk;
                        }
                        break;
                    case "2": amount_vn = child_f_price11;//Nuocngoai
                        if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                        {
                            amount_vn = amount_vn + phuthuphongdon_nn;
                        }
                        break;
                }
                break;
        }
        /* End Xử lý tính giá tiền theo độ tuổi,loại khách, phụ thu phòng đơn */
        return amount_vn;
    }

    var datenow = '05/05/2021';
    var datemin = '05/05/1951';
    var yearmin = '1951';
    var yearmax = '2021';
    $(".date").datepicker({
        dateFormat: 'dd/mm/yy',
        defaultDate: '01/01/1980',
        inline: true,
        changeMonth: true,
        changeYear: true,
        maxDate: datenow,
        minDate: datemin,
        yearRange: yearmin + ':' + yearmax
    });

</script>
