<div>
  <div class="cus-num">Kh&#225;ch h&#224;ng <%= index + 1 %></div>
  <div class="frame-cus">
    <div class="form-horizontal">
      <div class="row mg-bot10">
        <div class="col-lg-3 col-md-8 col-sm-6 col-xs-12 mg-bot10">
          <label class="mg-bot5">Họ t&#234;n (<span class="star">*</span>)</label>
          <div>
            <input class="form-control" name="booking[list_of_customers_attributes][<%= index %>][name_list_of_customers]" required="required" type="text" value="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mg-bot10">
          <label class="mg-bot5">Giới t&#237;nh</label>
          <div>
            <select class="form-control" name="booking[list_of_customers_attributes][<%= index %>][sex_list_of_customers]"><option value="0">Nữ</option>
              <option value="1">Nam</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mg-bot10">
          <label class="mg-bot5">Ng&#224;y sinh (<span class="star">*</span>)</label>
          <div>
            <input data-val="true" data-val-date="The field dateofbirth must be a date." id="dateofbirth<%= index %>" name="booking[list_of_customers_attributes][<%= index %>][birthday_list_of_customers]" type="hidden" value="" />
            <div class="date-dropdowns">
              <input type="hidden" id="dobs<%= index %>" name="dob<%= index %>">
            </div>
            <script>
              $("#dobs" + '<%= index %>').dateDropdowns({
                submitFieldName: 'dobs' + '<%= index %>',
                submitFormat: "dd/mm/yyyy",
                maxAge: 68,
                required: true
              });
              $('#dob' + '<%= index %>').change(function () {
                $('#dateofbirth' + '<%= index %>').val($('#dob' + '<%= index %>').val());
                CheckDOBByPersonkind();
              });
            </script>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mg-bot10">
          <label class="mg-bot5">Độ tuổi</label>
          <div>
            <% customer_type_hash.each do |customer_type, number_of_customer| %>
              <% title_personkind = tour.price_basics.find_by(customers_type: customer_type).title %>
              <select class="form-control" id="personkind<%= index %>" name="booking[list_of_customers_attributes][<%= index %>][ages]" onchange="ChangeChoose();"><option value="<%= index %>"><%= title_personkind %></option>
              <!-- dựa vào key truyền sang để hiện thị cho chính xác thông tin  -->
              </select>
            <% end %>

          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mg-bot10" style="display:none;">
          <label class="mg-bot5">Loại kh&#225;ch:</label>
          <div>
            <select class="form-control" id="loaikhachnoidia<%= index %>" name="booking[list_of_customers_attributes][<%= index %>][domestic_customers]" onchange="ChangeChoose();"><option value="0">Việt Nam</option>
              <option value="1">Việt kiều</option>
              <option value="2">Nước ngo&#224;i</option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mg-bot10">
          <label class="mg-bot5">Ph&#242;ng đơn</label>
          <div>
            <select class="form-control" id="loaiphuthuphongdon<%= index %>" name="booking[list_of_customers_attributes][<%= index %>][single_room]" onchange="ChangeChoose();"><option value="0">Kh&#244;ng</option>
              <option value="1">C&#243;</option>
            </select> </div>
        </div>
      </div>
      <div class="row total">
        <div class="col-md-12 col-sm-12 text-right">
          Trị gi&#225;: <span class="price" id="spanprice<%= index %>"></span>
          <input class="form-control" disabled="disabled" id="price<%= index %>" name="booking[list_of_customers_attributes][<%= index %>][price_booking]" type="hidden">
        </div>
      </div>
    </div>
  </div>
  <div class="frame-cus">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-right">
        Tổng cộng: <span class="price" id="spanTotalPrice"></span>
        <input type="hidden" id="TotalPrice" disabled="disabled" class="form-control">
      </div>
    </div>
  </div>
