<div class="container n3-book-tour-1 mg-bot40">
   <div class="row">
      <div class="col-xs-12 mg-bot50">
         <div class="step-by-step">
            <ul class="stepper stepper-horizontal">
               <li class="active">
                  <a>
                  <span class="circle">1</span>
                  <span class="label">Nhập thông tin</span>
                  </a>
               </li>
               <li class="warnning">
                  <a>
                  <span class="circle">2</span>
                  <span class="label">Vietravel xác nhận</span>
                  </a>
               </li>
               <li class="warnning">
                  <a>
                  <span class="circle">3</span>
                  <span class="label">&nbsp;&nbsp;Thanh toán</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-xs-12 mg-bot30">
         <div class="title"> THÔNG TIN TOUR</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
         <a href="/tourNDSGN535-052-220421VU-V-F/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx" target="_blank" title="Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)"><img src="https://media.travel.com.vn/destination/tf_210226045729_127096.jpg" alt="Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)" class="img-responsive pic-bt"></a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
         <div class="tour-name">
            <a href="/tourNDSGN535-052-220421VU-V-F/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx" target="_blank" title="Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)" class="dot-dot cut-name" style="overflow-wrap: break-word;">Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)</a>
         </div>
         <div class="frame-info">
            <div class="row">
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-code.png", alt: "code" %></div>
                  <div class="f-left r">NDSGN535-052-220421VU-V-F</div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-chair.png", alt: "chair" %></div>
                  <div class="f-left r">Số chỗ còn nhận: <span class="font500"><%= @tour.remain_slot %></span></div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-date.png", alt: "date" %></div>
                  <div class="f-left r">Ngày khởi hành: <span class="font500"><%= @tour.start_date %></span></div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-date.png", alt: "date" %></div>
                  <div class="f-left r"><a href="/danh-sach-tour/NDSGN535/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx" target="_blank" class="b">Ngày khác</a></div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-clock.png", alt: "clock" %></div>
                  <div class="f-left r">Số ngày: <span class="font500"><%= @tour.days %></span></div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                  <div class="f-left l"><%= image_tag "i-price.png", alt: "price" %></div>
                  <div class="f-left r">
                     Giá:
                   <span class="font500 price"><%= @tour.price %> đ</span>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xs-12 mg-bot30">
         <div class="chuy">
            Khách nữ từ 55 tuổi trở lên, khách nam từ 60 tuổi trở lên đi tour một mình và khách mang thai trên 4 tháng (16 tuần) vui lòng đăng ký tour trực tiếp tại văn phòng của Vietravel. Không áp dụng đăng ký tour online đối với khách từ 70 tuổi trở lên
         </div>
      </div>
      <div class="col-xs-12 mg-bot30">
         <div class="title">GIÁ TOUR CƠ BẢN</div>
      </div>
      <div class="col-xs-12 mg-bot30">
           <table class="table table-bordered">
              <thead>
                 <tr class="tb-title">
                    <td>Người lớn (Từ 12 tuổi trở lên)</td>
                    <td>Trẻ em (Từ 5 tuổi đến dưới 12 tuổi)</td>
                    <td>Trẻ nhỏ (Từ 2 tuổi đến dưới 5 tuổi)</td>
                    <td>Em bé (Dưới 2 tuổi)</td>
                    <td>Phụ thu phòng đơn</td>
                 </tr>
              </thead>
              <tbody>
                 <tr>
                    <td data-title="Người lớn">2,090,000<span> đ</span></td>
                    <td data-title="Trẻ em">1,492,500<span> đ</span></td>
                    <td data-title="Trẻ nhỏ">1,000,000<span> đ</span></td>
                    <td data-title="Em bé">220,000<span> đ</span></td>
                    <td data-title="Phụ thu phòng đơn">600,000<span> đ</span></td>
                 </tr>
              </tbody>
           </table>
      </div>
      <%= render template: "/booking/new" %>
   </div>
</div>
