<div class="n3-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container n3-book-tour-2 mg-bot40">
  <div class="row">
    <div class="col-xs-12 mg-bot50">
      <div class="step-by-step">
        <ul class="stepper stepper-horizontal">
          <li class="active">
            <a>
            <span class="circle">1</span>
            <span class="label">Nhập thông tin</span>
            </a>
          </li>
          <li class="active">
            <a>
            <span class="circle">2</span>
            <span class="label">Vietravel xác nhận</span>
            </a>
          </li>
          <li class="warnning">
            <a>
            <span class="circle">3</span>
            <span class="label">Thanh toán</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" id="divWait" style="display: none;">
    <div class="col-xs-12 text-center" style="margin: 40px 0 40px 0">
      <span class="title">Booking chưa được cập nhật</span><br>
      <%= image_tag "loading.gif", alt: "loading", height: "50px;" %><br>
      <p>Đang chuyển thông tin về OkgodaTravel, xin quý khách vui lòng đợi trong giây lát</p>
    </div>
  </div>
  <div class="row" id="divConfirm" style="display: none;">
    <div class="col-xs-12 text-center" style="margin: 40px 0 40px 0;display:none;">
      <span class="title">Booking đang được OkgodaTravel xác nhận</span>
      <p>Cảm ơn quý khách đã đặt tour. Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất</p>
    </div>
  </div>
  <div class="row" id="divContent">
    <div class="col-xs-12 mg-bot50">
      <div class="thanks">
        <p class="mg-bot5">Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi</p>
        <% if @booking.paymentID == "15" %>
          <%= button_to checkout_create_booking_index_path, class:"btn btn-md btn-book in-booking", method: :post, params: {id: @booking.id} do %>
            <i class="fa fa-money"></i>&nbsp;&nbsp;Thanh toán
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mg-bot30">
      <div class="title">PHIẾU XÁC NHẬN BOOKING</div>
      <div class="frame-xnbooking">
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Mã tour:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500"><%= @booking.tour_id %></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Tên tour:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <p class="line-h">
              <%= @booking.tour.title %>
            </p>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Hành trình:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.tour.departure %> - <%= @booking.tour.destination %> - <%= @booking.tour.departure %>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Ngày đi:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.tour.start_date.strftime("%d-%m-%Y") %>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Ngày về:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.tour.end_date.strftime("%d-%m-%Y") %>
          </div>
        </div>
        <div class="row bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Nơi khởi hành:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.tour.departure %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mg-bot30">
      <div class="title">THÔNG TIN LIÊN LẠC</div>
      <div class="frame-xnbooking">
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Họ tên:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500"><%= @booking.name_booking %></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Địa chỉ:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <p class="line-h">
              <%= @booking.address_booking %>
            </p>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Di động:</div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 font500 mg-bot">
            <%= @booking.mobile_booking %>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Điện thoại:</div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 font500">
            <%= @booking.phone_booking %>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Email:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.email_booking %>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Số khách:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500 line-h">
            <%= @booking.customers_number %> (Người lớn: <%= @booking.adult_guests_number %>&nbsp;&nbsp;Trẻ em: <%= @booking.child_guests_number %>&nbsp;&nbsp;Trẻ nhỏ: <%= @booking.young_children_guests_number %>&nbsp;&nbsp;Em bé: <%= @booking.baby_guests_number %>)
          </div>
        </div>
        <div class="row bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Ghi chú:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500 line-h">
            Booking từ okgoda-travel-application.herokuapp.com.vn. Thời hạn thanh toán <%= @booking.expired_at %>.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 mg-bot30">
      <div class="txt-rig title">CHI TIẾT BOOKING</div>
      <div class="frame-chitiet">
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot">Số booking:</div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500">210503052702</span> (Quý khách vui lòng nhớ số booking (Booking No) để thuận tiện cho các giao dịch sau này)</div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot">Trị giá booking:</div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500"><span class="font500"><%= @price_booking %> đ</span></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot">Ngày đăng ký:</div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500"><%= @booking.booking_date %> (Theo giờ Việt Nam)</span></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot"><span class="hidden-md hidden-sm">Hình thức thanh toán:</span><span class="hidden-lg hidden-xs">Hình thức thanh toán:</span></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500">Tiền mặt</span></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot">Tình trạng:</div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h">
              <span class="font500">
                <% if @booking.expired? %>
                  Booking đã tự hủy do quá thời hạn thanh toán
                <% else %>
                  Chờ thanh toán
                <% end %>
              </span>
            </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot"><span class="hidden-md hidden-sm">Thời hạn thanh toán:</span><span class="hidden-lg hidden-xs">Thời hạn thanh toán:</span></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500"><%= @booking.expired_at %> (Theo giờ Việt Nam)</span> (Nếu quá thời hạn trên mà quý khách chưa thanh toán. Okgoda sẽ hủy booking này)</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 mg-bot30">
      <div class="txt-rig title">DANH SÁCH KHÁCH HÀNG</div>
      <div class="tb-sdk">
        <table class="table table-bordered">
          <thead>
            <tr class="font500">
              <td>Họ tên</td>
              <td>Giảm giá?</td>
              <td>Ngày sinh</td>
              <td>Giới tính</td>
              <td>Địa chỉ</td>
              <td>Độ tuổi</td>
              <td>Phòng đơn</td>
              <td>Trị giá</td>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <td colspan="11" align="right">
                <span>Tổng cộng:</span>
                <span class="price"><%= @total_price %> đ</span>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <input type="hidden" id="TourCode" value="M6601-025-070521XE-V-F-1">
    <input type="hidden" id="GiaTour" value="2590000">
    <input type="hidden" id="tourtypeID" value="1">
    <div id="AddVoucher" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Giảm giá thẻ thành viên</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row mg-bot5">
                <div class="col-md-3" style="font-weight: bold;margin-top:10px;">Họ tên</div>
                <div class="col-md-6">
                  <input type="hidden" id="hidbooking_id">
                  <input type="hidden" id="hidmember_id">
                  <input type="hidden" id="hidTourTypeId">
                  <span id="Fullname"></span>
                </div>
              </div>
              <div class="row mg-bot5">
                <div class="col-md-3" style="font-weight: bold;margin-top:10px;">Mã voucher</div>
                <div class="col-md-6">
                  <input class="form-control" id="vouchercode" name="vouchercode" required="required" type="text" value="">
                </div>
                <div class="col-md-3">
                  <a style="color:#fff;" onclick="CheckDiscountByVoucher()" class="btn btn-default">Kiểm tra</a>
                </div>
              </div>
            </div>
            <div class="clear"></div>
            <div style="padding: 10px; border: 1px dotted #ccc; margin-top: 10px; margin-bottom: 10px" id="divResultCustomer">
              <div class="row mg-bot10">
                <div class="col-md-3 col-sm-3 col-xs-5" style="font-weight: bold">Mã khách hàng</div>
                <div class="col-md-9 col-sm-9 col-xs-7"><span id="spanMemberCode"></span></div>
                <input type="hidden" id="hidMemberCode">
                <input type="hidden" id="hidVoucherCode">
              </div>
              <div class="row mg-bot10">
                <div class="col-md-3 col-sm-3 col-xs-5" style="font-weight: bold">Họ tên</div>
                <div class="col-md-9 col-sm-9 col-xs-7"><span id="spanMemberName"></span></div>
              </div>
              <div class="row mg-bot10">
                <div class="col-md-3 col-sm-3 col-xs-5" style="font-weight: bold">Mã voucher</div>
                <div class="col-md-9 col-sm-9 col-xs-7"><span id="spanVoucherCode"></span></div>
              </div>
              <div class="row mg-bot10">
                <div class="col-md-3 col-sm-3 col-xs-5" style="font-weight: bold">Tên quà tặng</div>
                <div class="col-md-9 col-sm-9 col-xs-7"><span id="spanGiftName"></span></div>
              </div>
              <div class="row mg-bot10">
                <div class="col-md-3 col-sm-3 col-xs-5" style="font-weight: bold">Ngày phát hành</div>
                <div class="col-md-9 col-sm-9 col-xs-7"><span id="spanIssueDate"></span></div>
              </div>
              <div class="row mg-bot10">
                <div class="col-md-3 col-sm-3 col-xs-5" style="font-weight: bold">Ngày hết hạn</div>
                <div class="col-md-9 col-sm-9 col-xs-7"><span id="spanExpiredDate"></span></div>
              </div>
              <div class="row mg-bot10">
                <div class="col-md-3 col-sm-3 col-xs-5" style="font-weight: bold">Tình trạng</div>
                <div class="col-md-9 col-sm-9 col-xs-7"><span id="spanVoucherStatus"></span></div>
              </div>
              <div class="row mg-bot10">
                <div class="col-md-3 col-sm-3 col-xs-5" style="font-weight: bold">Trị giá</div>
                <div class="col-md-9 col-sm-9 col-xs-7"><span id="spanDiscount"></span></div>
              </div>
              <div class="row mg-bot10" style="text-align: center">
                <a style="color:#fff;" id="btnDiscountCustomerCard" class="btn btn-default" onclick="ConfirmDiscountByVoucher()">Xác nhận</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 mg-bot30">
      <div class="frame-cong">
        <p class="mg-bot5">Chúc quý khách 1 chuyến du lịch thật vui vẻ và bổ ích</p>
        <p>Quý khách vui lòng kiểm tra email để nhận phiếu xác nhận đặt dịch vụ thành công từ Vietravel</p>
        <% if @booking.paymentID == "15" %>
          <%= button_to checkout_create_booking_index_path, class:"btn btn-md btn-book in-booking", method: :post, params: {id: @booking.id} do %>
            <i class="fa fa-money"></i>&nbsp;&nbsp;Thanh toán
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
