<div class="container n3-book-tour-1 mg-bot40">
   <div class="row">
      <div class="col-xs-12 mg-bot50">
         <div class="step-by-step">
            <ul class="stepper stepper-horizontal">
               <li class="active">
                  <a>
                  <span class="circle">1</span>
                  <span class="label">Nhập thông tin</span>
                  </a>
               </li>
               <li class="warnning">
                  <a>
                  <span class="circle">2</span>
                  <span class="label">Vietravel xác nhận</span>
                  </a>
               </li>
               <li class="warnning">
                  <a>
                  <span class="circle">3</span>
                  <span class="label">&nbsp;&nbsp;Thanh toán</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-xs-12 mg-bot30">
         <div class="title"> THÔNG TIN TOUR</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
         <a href="/tourNDSGN535-052-220421VU-V-F/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx" target="_blank" title="Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)"><img src="https://media.travel.com.vn/destination/tf_210226045729_127096.jpg" alt="Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)" class="img-responsive pic-bt"></a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
         <div class="tour-name">
            <a href="/tourNDSGN535-052-220421VU-V-F/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx" target="_blank" title="Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)" class="dot-dot cut-name" style="overflow-wrap: break-word;">Đà Lạt Máy Bay - Kim Ngân Hill - Phim Trường Happy Hill - Que Garden (Tour Giá Sốc)</a>
         </div>
         <div class="frame-info">
            <div class="row">
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-code.png", alt: "code" %></div>
                  <div class="f-left r">NDSGN535-052-220421VU-V-F</div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-chair.png", alt: "chair" %></div>
                  <div class="f-left r">Số chỗ còn nhận: <span class="font500"><%= @tour.remain_slot %></span></div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-date.png", alt: "date" %></div>
                  <div class="f-left r">Ngày khởi hành: <span class="font500"><%= @tour.start_date %></span></div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-date.png", alt: "date" %></div>
                  <div class="f-left r"><a href="/danh-sach-tour/NDSGN535/da-lat-may-bay-kim-ngan-hill-phim-truong-happy-hill-que-garden-tour-gia-soc.aspx" target="_blank" class="b">Ngày khác</a></div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                  <div class="f-left l"><%= image_tag "i-clock.png", alt: "clock" %></div>
                  <div class="f-left r">Số ngày: <span class="font500"><%= @tour.days %></span></div>
                  <div class="clear"></div>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                  <div class="f-left l"><%= image_tag "i-price.png", alt: "price" %></div>
                  <div class="f-left r">
                     Giá:
                   <span class="font500 price"><%= @tour.price %> đ</span>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xs-12 mg-bot30">
         <div class="chuy">
            Khách nữ từ 55 tuổi trở lên, khách nam từ 60 tuổi trở lên đi tour một mình và khách mang thai trên 4 tháng (16 tuần) vui lòng đăng ký tour trực tiếp tại văn phòng của Vietravel. Không áp dụng đăng ký tour online đối với khách từ 70 tuổi trở lên
         </div>
      </div>
      <div class="col-xs-12 mg-bot30">
         <div class="title">GIÁ TOUR CƠ BẢN</div>
      </div>
      <div class="col-xs-12 mg-bot30">
         <table class="table table-bordered">
            <thead>
               <tr class="tb-title">
                  <td>Người lớn (Từ 12 tuổi trở lên)</td>
                  <td>Trẻ em (Từ 5 tuổi đến dưới 12 tuổi)</td>
                  <td>Trẻ nhỏ (Từ 2 tuổi đến dưới 5 tuổi)</td>
                  <td>Em bé (Dưới 2 tuổi)</td>
                  <td>Phụ thu phòng đơn</td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td data-title="Người lớn">2,090,000<span> đ</span></td>
                  <td data-title="Trẻ em">1,492,500<span> đ</span></td>
                  <td data-title="Trẻ nhỏ">1,000,000<span> đ</span></td>
                  <td data-title="Em bé">220,000<span> đ</span></td>
                  <td data-title="Phụ thu phòng đơn">600,000<span> đ</span></td>
               </tr>
            </tbody>
         </table>
      </div>
      <form action="/booking/inbound?tourId=135b9c5c-ab9b-49a3-add5-908f6446cdb6&amp;LM=1" method="post">
         <input name="__RequestVerificationToken" type="hidden" value="FEQB5-maqwxah78p9BLMDLJsPm3jfg-OA1d1VaF03Fu39I4ioHkP1U1kQ0xm3GZNsZ0RGZLe3pGEyWGIesDNQxzuj70bB6SBoUpWgXxVTu41"><input data-val="true" data-val-required="The tour_id field is required." id="tour_id" name="tour_id" type="hidden" value="135b9c5c-ab9b-49a3-add5-908f6446cdb6">
         <div class="col-xs-12 mg-bot30">
            <div class="title">THÔNG TIN LIÊN LẠC</div>
         </div>
         <div class="col-xs-12 form-input mg-bot30">
            <div class="row">
               <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <label>Họ tên (<span class="star">*</span>)</label>
                     <div>
                        <input class="form-control" id="contact_name" name="contact_name" required="required" type="text" value="">
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Di động (<span class="star">*</span>)</label>
                     <div>
                        <input class="form-control" id="mobilephone" name="mobilephone" onchange="CheckMobile();" onkeypress="return funCheckInt(event)" required="required" type="text" value="">
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Địa chỉ</label>
                     <div>
                        <input class="form-control" id="address" name="address" type="text" value="">
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <label>Email (<span class="star">*</span>)</label>
                     <div>
                        <input class="form-control" id="email" name="email" required="required" type="email" value="">
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Điện thoại</label>
                     <div>
                        <input class="form-control" id="phone" name="phone" onkeypress="return funCheckInt(event)" type="text" value="">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-md-3 col-sm-2 col-xs-6 mg-bot15">
                           <label>Người lớn</label>
                           <div>
                              <input class="form-control" id="adult" name="adult" onblur="javascript:clear_text(this);" onclick="javascript:show_text('Từ 12 tuổi trở lên',this)" onkeypress="return funCheckInt(event)" type="text" value="1">
                           </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6  mg-bot15">
                           <label>Trẻ em</label>
                           <div>
                              <input class="form-control" id="children11" name="children11" onblur="javascript:clear_text(this);" onclick="javascript:show_text('Từ 5 tuổi đến dưới 12 tuổi',this)" onkeypress="return funCheckInt(event)" type="text" value="0">
                           </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6  mg-bot15">
                           <label>Trẻ nhỏ</label>
                           <div>
                              <input class="form-control" id="children" name="children" onblur="javascript:clear_text(this);" onclick="javascript:show_text('Từ 2 tuổi đến dưới 5 tuổi',this)" onkeypress="return funCheckInt(event)" type="text" value="0">
                           </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6 mg-bot15">
                           <label>Em bé</label>
                           <div>
                              <input class="form-control" id="small_children" name="small_children" onblur="javascript:clear_text(this);" onclick="javascript:show_text('Dưới 2 tuổi',this)" onkeypress="return funCheckInt(event)" type="text" value="0">
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                           <label>Số khách</label>
                           <div>
                              <input class="form-control" id="guests" name="guests" readonly="readonly" type="text" value="1">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                     <label>Ghi chú</label>
                     <div>
                        <textarea class="form-control" cols="20" id="note" name="note" rows="4"></textarea>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="chuy">
                     <ul class="row list-chuy">
                        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           Người lớn sinh từ: <span class="font500"> 24/04/1951</span> đến <span class="font500">24/04/2009</span>
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           Trẻ em sinh từ: <span class="font500">25/04/2009</span> đến <span class="font500">24/04/2016</span>
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           Trẻ nhỏ sinh từ: <span class="font500">25/04/2016</span> đến <span class="font500">24/04/2019</span>
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           Em bé sinh từ: <span class="font500">25/04/2019</span> đến <span class="font500">16/04/2021</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-12 mg-bot30">
            <ul class="row">
               <li class="col-xs-12" style="height:35px;">
                  <div class="radio">
                     <label><input type="radio" class="chkListCustomer" name="ListCustomer" value="1" checked="checked"><label class="lb_r">Nhập danh sách khách hàng</label></label>
                  </div>
               </li>
            </ul>
         </div>
         <div id="DanhSachKhach">
            <div class="col-xs-12 mg-bot30">
               <div class="title">DANH SÁCH KHÁCH HÀNG</div>
            </div>
            <div class="col-xs-12 mg-bot30 list">
               <script src="/Content/ThemeHe/js/jquery.date-dropdowns.js"></script>
               <div>
                  <div class="cus-num">Khách hàng 1</div>
                  <div class="frame-cus">
                     <div class="form-horizontal">
                        <div class="row mg-bot10">
                           <div class="col-lg-3 col-md-8 col-sm-6 col-xs-12 mg-bot10">
                              <label class="mg-bot5">Họ tên (<span class="star">*</span>)</label>
                              <div>
                                 <input class="form-control" name="[0].fullname" required="" type="text" value="">
                              </div>
                           </div>
                           <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                              <label class="mg-bot5">Giới tính</label>
                              <div>
                                 <select class="form-control" name="[0].gender">
                                    <option value="0">Nữ</option>
                                    <option value="1">Nam</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                              <label class="mg-bot5">Ngày sinh (<span class="star">*</span>)</label>
                              <div>
                                 <input data-val="true" data-val-date="The field dateofbirth must be a date." id="dateofbirth0" name="[0].dateofbirth" type="hidden" value="">
                                 <div class="date-dropdowns">
                                    <input type="hidden" id="dob0" name="dob0">
                                    <select class="day hideArow form-control dateDDL" name="dob0_[day]" id="dob0_day">
                                       <option value="">Ngày</option>
                                       <option value="01">1</option>
                                       <option value="02">2</option>
                                       <option value="03">3</option>
                                       <option value="04">4</option>
                                       <option value="05">5</option>
                                       <option value="06">6</option>
                                       <option value="07">7</option>
                                       <option value="08">8</option>
                                       <option value="09">9</option>
                                       <option value="10">10</option>
                                       <option value="11">11</option>
                                       <option value="12">12</option>
                                       <option value="13">13</option>
                                       <option value="14">14</option>
                                       <option value="15">15</option>
                                       <option value="16">16</option>
                                       <option value="17">17</option>
                                       <option value="18">18</option>
                                       <option value="19">19</option>
                                       <option value="20">20</option>
                                       <option value="21">21</option>
                                       <option value="22">22</option>
                                       <option value="23">23</option>
                                       <option value="24">24</option>
                                       <option value="25">25</option>
                                       <option value="26">26</option>
                                       <option value="27">27</option>
                                       <option value="28">28</option>
                                       <option value="29">29</option>
                                       <option value="30">30</option>
                                       <option value="31">31</option>
                                    </select>
                                    <select class="month hideArow form-control dateDDL" name="dob0_[month]" id="dob0_month">
                                       <option value="">Tháng</option>
                                       <option value="01">Tháng 1</option>
                                       <option value="02">Tháng 2</option>
                                       <option value="03">Tháng 3</option>
                                       <option value="04">Tháng 4</option>
                                       <option value="05">Tháng 5</option>
                                       <option value="06">Tháng 6</option>
                                       <option value="07">Tháng 7</option>
                                       <option value="08">Tháng 8</option>
                                       <option value="09">Tháng 9</option>
                                       <option value="10">Tháng 10</option>
                                       <option value="11">Tháng 11</option>
                                       <option value="12">Tháng 12</option>
                                    </select>
                                    <select class="year hideArow form-control dateDDL" name="dob0_[year]" id="dob0_year">
                                       <option value="">Năm</option>
                                       <option value="2021">2021</option>
                                       <option value="2020">2020</option>
                                       <option value="2019">2019</option>
                                       <option value="2018">2018</option>
                                       <option value="2017">2017</option>
                                       <option value="2016">2016</option>
                                       <option value="2015">2015</option>
                                       <option value="2014">2014</option>
                                       <option value="2013">2013</option>
                                       <option value="2012">2012</option>
                                       <option value="2011">2011</option>
                                       <option value="2010">2010</option>
                                       <option value="2009">2009</option>
                                       <option value="2008">2008</option>
                                       <option value="2007">2007</option>
                                       <option value="2006">2006</option>
                                       <option value="2005">2005</option>
                                       <option value="2004">2004</option>
                                       <option value="2003">2003</option>
                                       <option value="2002">2002</option>
                                       <option value="2001">2001</option>
                                       <option value="2000">2000</option>
                                       <option value="1999">1999</option>
                                       <option value="1998">1998</option>
                                       <option value="1997">1997</option>
                                       <option value="1996">1996</option>
                                       <option value="1995">1995</option>
                                       <option value="1994">1994</option>
                                       <option value="1993">1993</option>
                                       <option value="1992">1992</option>
                                       <option value="1991">1991</option>
                                       <option value="1990">1990</option>
                                       <option value="1989">1989</option>
                                       <option value="1988">1988</option>
                                       <option value="1987">1987</option>
                                       <option value="1986">1986</option>
                                       <option value="1985">1985</option>
                                       <option value="1984">1984</option>
                                       <option value="1983">1983</option>
                                       <option value="1982">1982</option>
                                       <option value="1981">1981</option>
                                       <option value="1980">1980</option>
                                       <option value="1979">1979</option>
                                       <option value="1978">1978</option>
                                       <option value="1977">1977</option>
                                       <option value="1976">1976</option>
                                       <option value="1975">1975</option>
                                       <option value="1974">1974</option>
                                       <option value="1973">1973</option>
                                       <option value="1972">1972</option>
                                       <option value="1971">1971</option>
                                       <option value="1970">1970</option>
                                       <option value="1969">1969</option>
                                       <option value="1968">1968</option>
                                       <option value="1967">1967</option>
                                       <option value="1966">1966</option>
                                       <option value="1965">1965</option>
                                       <option value="1964">1964</option>
                                       <option value="1963">1963</option>
                                       <option value="1962">1962</option>
                                       <option value="1961">1961</option>
                                       <option value="1960">1960</option>
                                       <option value="1959">1959</option>
                                       <option value="1958">1958</option>
                                       <option value="1957">1957</option>
                                       <option value="1956">1956</option>
                                       <option value="1955">1955</option>
                                       <option value="1954">1954</option>
                                       <option value="1953">1953</option>
                                       <option value="1952">1952</option>
                                    </select>
                                 </div>
                                 <script>
                                    $("#dob" + '0').dateDropdowns({
                                        submitFieldName: 'dob' + '0',
                                        submitFormat: "dd/mm/yyyy",
                                        maxAge: 68
                                        //,required: true
                                    });
                                    $('#dob' + '0').change(function () {
                                        $('#dateofbirth' + '0').val($('#dob' + '0').val());
                                        CheckDOBByPersonkind();
                                    });
                                 </script>
                                 <div class="clear"></div>
                              </div>
                           </div>
                           <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                              <label class="mg-bot5">Độ tuổi</label>
                              <div>
                                 <select class="form-control" id="personkind0" name="[0].personkind" onchange="ChangeChoose();">
                                    <option value="0">Người lớn</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mg-bot10" style="display:none;">
                              <label class="mg-bot5">Loại khách:</label>
                              <div>
                                 <select class="form-control" id="loaikhachnoidia0" name="[0].loaikhachnoidia" onchange="ChangeChoose();">
                                    <option value="0">Việt Nam</option>
                                    <option value="1">Việt kiều</option>
                                    <option value="2">Nước ngoài</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mg-bot10">
                              <label class="mg-bot5">Phòng đơn</label>
                              <div>
                                 <select class="form-control" id="loaiphuthuphongdon0" name="[0].loaiphuthuphongdon" onchange="ChangeChoose();">
                                    <option selected="selected" value="0">Không</option>
                                    <option value="1">Có</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row total">
                           <div class="col-md-12 col-sm-12 text-right">
                              Trị giá: <span class="price" id="spanprice0">2,690,000 đ</span>
                              <input class="form-control" disabled="disabled" id="price0" name="price0" type="hidden" value="2690000 đ">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="frame-cus">
                     <div class="row">
                        <div class="col-md-12 col-sm-12 text-right">
                           Tổng cộng: <span class="price" id="spanTotalPrice">2,690,000 đ</span>
                           <input type="hidden" id="TotalPrice" disabled="disabled" class="form-control" value="2690000 đ">
                        </div>
                     </div>
                  </div>
               </div>
               <script>
                  //$(function () {
                      ChangeChoose();
                  //});

                  function CheckDOBByPersonkind() {
                      var totalMember = parseInt('1');
                      var end_date = new Date('2021', parseInt('4') - 1, '24', '15', '30', '0');

                      for (var i = 0; i < totalMember; i++) {
                          var dateofbirth = $("#dateofbirth" + i).val();
                          var personkind = $("#personkind" + i).val();//(0 : NguoiLon,1:TreNho, 2:EmBe, 3: TreEm)

                          var ldob = dateofbirth.split("/");

                          if (personkind == 0)//Nguoi lon >= 12 tuổi
                          {
                              //var year = parseInt(ldob[2]) + 12;
                              var dobNew = new Date(parseInt(ldob[2]) + 12 + "-" + ldob[1] + "-" + ldob[0]);//Them 12 nam so với chọn ngày sinh

                              if (dobNew > end_date) {
                                  alert('Ngày sinh & loại khách không tương ứng. Quý khách cần kiểm tra lại ngày sinh( so với ngày về của tour : ' + '24/04/21 15:30:00'.toString() + ')')
                                  $("#dateofbirth" + i).val("");
                                  $("#dateofbirth" + i).focus();

                                  $("#dob" + i).val("");
                                  $("#dob" + i + "_day").val("");
                                  $("#dob" + i + "_month").val("");
                                  $("#dob" + i + "_year").val("");
                              }
                          }
                          if (personkind == 3)//5 tuoi <= Tre em < 12 tuoi
                          {
                              var dobMin = new Date(parseInt(ldob[2]) + 5 + "-" + ldob[1] + "-" + ldob[0]);
                              var dobMax = new Date(parseInt(ldob[2]) + 12 + "-" + ldob[1] + "-" + ldob[0]);

                              if (dobMin > end_date || dobMax < end_date) {
                                  alert('Ngày sinh & loại khách không tương ứng. Quý khách cần kiểm tra lại ngày sinh( so với ngày về của tour : ' + '24/04/21 15:30:00'.toString() + ')')
                                  $("#dateofbirth" + i).val("");
                                  $("#dateofbirth" + i).focus();

                                  $("#dob" + i).val("");
                                  $("#dob" + i + "_day").val("");
                                  $("#dob" + i + "_month").val("");
                                  $("#dob" + i + "_year").val("");
                              }
                          }
                          if (personkind == 1)//2 tuoi <= Tre Nhỏ < 5 tuoi
                          {
                              var dobMin = new Date(parseInt(ldob[2]) + 2 + "-" + ldob[1] + "-" + ldob[0]);
                              var dobMax = new Date(parseInt(ldob[2]) + 5 + "-" + ldob[1] + "-" + ldob[0]);

                              if (dobMin > end_date || dobMax < end_date) {
                                  alert('Ngày sinh & loại khách không tương ứng. Quý khách cần kiểm tra lại ngày sinh( so với ngày về của tour : ' + '24/04/21 15:30:00'.toString() + ')')
                                  $("#dateofbirth" + i).val("");
                                  $("#dateofbirth" + i).focus();

                                  $("#dob" + i).val("");
                                  $("#dob" + i + "_day").val("");
                                  $("#dob" + i + "_month").val("");
                                  $("#dob" + i + "_year").val("");
                              }
                          }
                          if (personkind == 2)//Em bé <= 2 tuoi
                          {
                              var dobNew = new Date(parseInt(ldob[2]) + 2 + "-" + ldob[1] + "-" + ldob[0]);

                              if (dobNew < end_date) {
                                  alert('Ngày sinh & loại khách không tương ứng. Quý khách cần kiểm tra lại ngày sinh( so với ngày về của tour : ' + '24/04/21 15:30:00'.toString() + ')')
                                  $("#dateofbirth" + i).val("");
                                  $("#dateofbirth" + i).focus();

                                  $("#dob" + i).val("");
                                  $("#dob" + i + "_day").val("");
                                  $("#dob" + i + "_month").val("");
                                  $("#dob" + i + "_year").val("");
                              }
                          }
                      }
                  }

                  function ChangeChoose() {
                      var CurrencyName = 'đ';
                      var Rate = '1';

                      var totalMember = parseInt('1');
                      var totalAdult = parseInt('1');

                      var totalPrice = 0;
                      for (var i = 0; i < totalMember; i++) {
                          var amount_vn = 0;
                          var loaikhachnoidia = $("#loaikhachnoidia" + i).val();//(0 : VietNam, 1: Viet kiều, 2: Nuoc ngoài)
                          var personkind = $("#personkind" + i).val();//(0 : NguoiLon,1:TreNho, 2:EmBe, 3: TreEm)
                          var loaiphuthuphongdon = $("#loaiphuthuphongdon" + i).val();//(0:Không, 1 : Có)

                          $("#loaikhachnoidia" + i).change(function () {
                              loaikhachnoidia = $("#loaikhachnoidia" + i).val();
                          });

                          $("#personkind" + i).change(function () {
                              personkind = $("#personkind" + i).val();
                          });

                          $("#loaiphuthuphongdon" + i).change(function () {
                              loaiphuthuphongdon = $("#loaiphuthuphongdon" + i).val();
                          });

                          if (totalAdult == 1) {
                              $("#loaiphuthuphongdon0").val('1');

                          }
                          loaiphuthuphongdon = $("#loaiphuthuphongdon" + i).val();

                          amount_vn = CalPrice(loaikhachnoidia, personkind, loaiphuthuphongdon);

                          //$("#price" + i).val(formatnumber(amount_vn.toString()) + ' đ');
                          $("#price" + i).val((amount_vn / Rate).toFixed(0) + ' ' + CurrencyName);
                          $("#spanprice" + i).text(formatnumber((amount_vn / Rate).toFixed(0)) + ' ' + CurrencyName);

                          totalPrice += amount_vn;
                      }

                      //$("#TotalPrice").val(formatnumber(totalPrice.toString()) + ' đ');
                      $("#TotalPrice").val((totalPrice / Rate).toFixed(0) + ' ' + CurrencyName);
                      $("#spanTotalPrice").text(formatnumber((totalPrice / Rate).toFixed(0)) + ' ' + CurrencyName);
                  }

                  function CalPrice(loaikhachnoidia, personkind, loaiphuthuphongdon) {

                      //Gia tri cua tour

                      //NguoiLon
                      var adult_price = parseFloat('2090000');//VietNam
                      var adult_o_price = parseFloat('2090000');//VietKieu
                      var adult_f_price = parseFloat('2090000');//NuocNgoai

                      //TreNho
                      var child_price = parseFloat('1000000');//VietNam
                      var child_o_price = parseFloat('1000000');//VietKieu
                      var child_f_price = parseFloat('1000000');//NuocNgoai

                      //EmBe
                      var child_price5 = parseFloat('220000');//VietNam
                      var pretty_o_price = parseFloat('220000');//VietKieu
                      var pretty_f_price = parseFloat('220000');//NuocNgoai

                      //TreEm
                      var child_price11 = parseFloat('1492500');//VietNam
                      var child_o_price11 = parseFloat('1492500');//VietKieu
                      var child_f_price11 = parseFloat('1492500');//NuocNgoai

                      var phuthuphongdon_vn = parseFloat('600000');//VietNam
                      var phuthuphongdon_vk = parseFloat('600000');//VietKieu
                      var phuthuphongdon_nn = parseFloat('600000');//NuocNgoai

                      //Gia tri cua tour

                      var amount_vn = 0;

                      /* Xử lý tính giá tiền theo độ tuổi,loại khách, phụ thu phòng đơn */
                      switch (personkind)//Độ tuổi
                      {
                          case "0"://Người lớn
                              switch (loaikhachnoidia)//loại khách
                              {
                                  case "0": amount_vn = adult_price;//VietNam
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_vn;
                                      }
                                      break;
                                  case "1": amount_vn = adult_o_price;//Vietkieu
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_vk;
                                      }
                                      break;
                                  case "2": amount_vn = adult_f_price;//Nuocngoai
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_nn;
                                      }
                                      break;
                              }
                              break;

                          case "1"://Trẻ nhỏ
                              switch (loaikhachnoidia)//loại khách
                              {
                                  case "0": amount_vn = child_price;//VietNam
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_vn;
                                      }
                                      break;
                                  case "1": amount_vn = child_o_price;//Vietkieu
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_vk;
                                      }
                                      break;
                                  case "2": amount_vn = child_f_price;//Nuocngoai
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_nn;
                                      }
                                      break;
                              }
                              break;

                          case "2"://Em bé
                              switch (loaikhachnoidia)//loại khách
                              {
                                  case "0": amount_vn = child_price5;//VietNam
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_vn;
                                      }
                                      break;
                                  case "1": amount_vn = pretty_o_price;//Vietkieu
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_vk;
                                      }
                                      break;
                                  case "2": amount_vn = pretty_f_price;//Nuocngoai
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_nn;
                                      }
                                      break;
                              }
                              break;

                          case "3"://Trẻ em
                              switch (loaikhachnoidia)//loại khách
                              {
                                  case "0": amount_vn = child_price11;//VietNam
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_vn;
                                      }
                                      break;
                                  case "1": amount_vn = child_o_price11;//Vietkieu
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_vk;
                                      }
                                      break;
                                  case "2": amount_vn = child_f_price11;//Nuocngoai
                                      if (loaiphuthuphongdon == 1)//Phụ thu phòng đơn
                                      {
                                          amount_vn = amount_vn + phuthuphongdon_nn;
                                      }
                                      break;
                              }
                              break;
                      }
                      /* End Xử lý tính giá tiền theo độ tuổi,loại khách, phụ thu phòng đơn */
                      return amount_vn;
                  }

                  var datenow = '16/04/2021';
                  var datemin = '16/04/1951';
                  var yearmin = '1951';
                  var yearmax = '2021';
                  $(".date").datepicker({
                      dateFormat: 'dd/mm/yy',
                      defaultDate: '01/01/1980',
                      inline: true,
                      changeMonth: true,
                      changeYear: true,
                      maxDate: datenow,
                      minDate: datemin,
                      yearRange: yearmin + ':' + yearmax
                  });

               </script>
            </div>
         </div>
         <div class="col-xs-12 mg-bot30">
            <div class="title">XIN QUÝ KHÁCH VUI LÒNG CHỌN HÌNH THỨC THANH TOÁN</div>
         </div>
         <div class="col-xs-12 mg-bot30">
            <div class="frame-payment">
               <div class="row">
                  <div class="col-xs-12 bor-bot mg-bot20">
                     <div class="radio tienmat">
                        <label style="display:;"><input type="radio" class="chkPayment" name="paymentID" value="1" checked="checked"><label class="lb_r">Tiền mặt</label></label>
                        <div class="row">
                           <div class="frame-cards conditionPament" id="conditionPament1">
                              <title></title>
                              <p>
                                 Quý khách vui lòng thanh toán tại bất kỳ văn phòng Vietravel trên toàn quốc và các chi nhánh ngoài nước. <a href="https://travel.com.vn/lien-he.aspx" target="_blank">Chi tiết</a>
                              </p>
                              <p>
                                 Xin lưu ý, Quý khách nên liên lạc trước khi đến để biết rõ hơn về giờ làm việc và các hồ sơ cần chuẩn bị khi thanh toán.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="radio chuyenkhoan">
                        <label style="display:;"><input type="radio" class="chkPayment" name="paymentID" value="2"><label class="lb_r">Chuyển khoản</label></label>
                        <div class="row">
                           <div class="frame-cards conditionPament" id="conditionPament2" style="display:none;"></div>
                        </div>
                     </div>
                     <div class="radio internet">
                        <label><input type="radio" class="chkPayment" name="paymentID" value="9"><label class="lb_r">ATM / Internet Banking</label></label>
                        <div class="row ">
                           <div class="frame-cards conditionPament" id="conditionPament9" style="display:none;"></div>
                        </div>
                     </div>
                     <div class="radio thetindung">
                        <label><input type="radio" class="chkPayment" name="paymentID" value="15"><label class="lb_r">Thẻ tín dụng</label></label>
                        <div class="row cards" id="divCard" style="display:none;">
                           <div class="text">
                              Quý khách vui lòng chọn loại thẻ:
                           </div>
                           <div class="frame-cards">
                              <input id="cardType" name="cardType" type="hidden" val e="visa">
                              <div card="visa" onclick="ChonLoaiThe('visa')" class="visa card_type f-left">
                                 <%= image_tag "thevisa.png", alt: "visa" %>
                              </div>
                              <div card="mastercard" onclick="ChonLoaiThe('mastercard')" class="master card_type f-left mg-left">
                                 <%= image_tag "master.png", alt: "master" %>
                              </div>
                              <div card="jcb" onclick="ChonLoaiThe('jcb')" class="jcb card_type f-left mg-left">
                                 <%= image_tag "jcb.png", alt: "jcb" %>
                              </div>
                              <div card="amex" onclick="ChonLoaiThe('amex')" class="amex card_type f-left mg-left">
                                 <%= image_tag "amex.png", alt: "amex" %>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="frame-cards conditionPament" id="conditionPament15" style="display:none;"></div>
                        </div>
                     </div>
                     <div class="radio qrcode">
                        <label><input type="radio" class="chkPayment" name="paymentID" value="16"><label class="lb_r">Thanh toán bằng quét QRCode</label></label>
                        <div class="row">
                           <div class="frame-cards conditionPament" id="conditionPament16" style="display:none;"></div>
                        </div>
                     </div>
                     <div class="radio momo">
                        <label><input type="radio" class="chkPayment" name="paymentID" value="17"><label class="lb_r">Thanh toán bằng Momo</label></label>
                        <div class="row">
                           <div class="frame-cards conditionPament" id="conditionPament17" style="display:none;"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <script type="text/javascript">
            //$(document).ready(function () {
                paymentID = $('.chkPayment:checked').val();
                LoadConditionPayment(paymentID);
            //});

            $('.chkPayment').click('change', function () {
                paymentID = $('.chkPayment:checked').val();
                $(".conditionPament").hide();

                LoadConditionPayment(paymentID);

                if (paymentID == 15) {
                    $('#divCard').show();
                    $('#divVNPay').hide();
                }
                else if (paymentID == 16) {
                    $('#divVNPay').show();
                    $('#divCard').hide();
                }
                else if (paymentID == 17) {
                    $('#divCard').hide();
                    $('#divVNPay').hide();
                }
                else {
                    $('#divCard').hide();
                    $('#divVNPay').hide();
                }
                $('#conditionPament' + paymentID).show();
            });

            function LoadConditionPayment(paymentID) {

                // Tương tác với server
                $.ajax({
                    url: "/Booking/GetConditionPayment",
                    data: { paymentID: paymentID },
                    success: function (result) {
                        $('#conditionPament' + paymentID).html(result);

                    }
                });

            }

            function ChonLoaiThe(type) {
                $('.card_type').each(function () {
                    if ($(this).attr('card') == type) {
                        $('#cardType').val(type);
                        $(this).addClass('card_active');
                        $(this).removeClass('card_opacity');
                    }
                    else {
                        $(this).removeClass('card_active');
                        $(this).addClass('card_opacity');
                    }
                })
            }

         </script>
         <div class="col-xs-12 mg-bot30">
            <div class="title">ĐIỀU KHOẢN BẮT BUỘC KHI ĐĂNG KÝ ONLINE</div>
         </div>
         <div class="col-xs-12 mg-bot20">
            <div class="frame-rule">
               <div class="rule-content">
                  <title></title>
                  <p>
                     <strong>ĐIỀU KIỆN BÁN VÉ CÁC CHƯƠNG TRÌNH DU LỊCH TRONG NƯỚC</strong>
                  </p>
                  <p>
                     <strong>I.&nbsp;&nbsp; GIÁ VÉ DU LỊCH</strong>
                  </p>
                  <p>
                     Giá vé du lịch được tính theo tiền Đồng (Việt Nam - VNĐ). Trường hợp khách thanh toán bằng USD sẽ được quy đổi ra VNĐ theo tỉ giá của ngân hàng Đầu Tư và Phát Triển Việt Nam - Chi nhánh TP.HCM tại thời điểm thanh toán.
                  </p>
                  <p>
                     Giá vé chỉ bao gồm những khoản được liệt kê một cách rõ ràng trong phần “Bao gồm” trong các chương trình du lịch. Vietravel không có nghĩa vụ thanh toán bất cứ chi phí nào không nằm trong phần “Bao gồm”.
                  </p>
                  <p>
                     <strong>II.&nbsp;&nbsp; GIÁ DÀNH CHO TRẺ EM</strong>
                  </p>
                  <p>
                     - Trẻ em dưới 5 tuổi:&nbsp; không thu phí dịch vụ, bố mẹ tự lo cho bé và thanh toán các chi phí phát sinh (đối với các dịch vụ tính phí theo chiều cao…). Hai người lớn chỉ được kèm 1 trẻ em dưới 5 tuổi, trẻ em thứ 2 sẽ đóng phí theo qui định dành cho độ tuổi từ 5 đến dưới 12 tuổi và phụ thu phòng đơn. Vé máy bay, tàu hỏa, phương tiện vận chuyển công cộng mua vé theo qui định của các đơn vị vận chuyển (nếu có)
                  </p>
                  <p>
                     - Trẻ em từ 5 tuổi đến dưới 12 tuổi:&nbsp; 50% giá tour người lớn đối với tuyến xe, 75% giá tour người lớn đối với tuyến có vé máy bay (không có chế độ giường riêng). Hai người lớn chỉ được kèm 1 trẻ em từ 5 - dưới 12 tuổi, em thứ hai trở lên phải mua 1 suất giường đơn.
                  </p>
                  <p>
                     - Trẻ em từ 12 tuổi trở lên: mua một vé như người lớn.
                  </p>
                  <p>
                     <strong>III. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; THANH TOÁN</strong>
                  </p>
                  <p>
                     Khi thanh toán, Quý khách vui lòng cung cấp đầy đủ thông tin và đặt cọc ít nhất 50% tổng số tiền tour để giữ chỗ, số tiền còn lại Quý khách sẽ thanh toán trước ngày khởi hành 05 ngày làm việc (tour ngày thường) và trước 10 ngày làm việc (tour dịp Lễ, Tết)”.
                  </p>
                  <p>
                     Thanh toán bằng tiền mặt hoặc chuyển khoản tới tài khoản ngân hàng của Vietravel.
                  </p>
                  <p>
                     <span style="color: rgb(192, 0, 0);">Tên Tài Khoản :&nbsp;<strong>Công ty CP Du lịch và Tiếp thị GTVT Việt Nam – Vietravel</strong></span>
                  </p>
                  <p>
                     <span style="color: rgb(192, 0, 0);">Tên tài khoản viết tắt :&nbsp;<strong>VIETRAVEL</strong></span>
                  </p>
                  <p>
                     <span style="color: rgb(192, 0, 0);">Số Tài khoản :&nbsp;<strong>007 100 115 1480</strong></span>
                  </p>
                  <p>
                     <span style="color: rgb(192, 0, 0);">Ngân hàng :&nbsp;<strong>Vietcombank – CN Tp.HCM</strong></span>
                  </p>
                  <p>
                     Việc thanh toán được xem là hoàn tất khi Vietravel nhận được đủ tiền vé du lịch trước lúc khởi hành hoặc theo hợp đồng thỏa thuận giữa hai bên. Bất kỳ mọi sự thanh toán chậm trễ dẫn đến việc hủy dịch vụ không thuộc trách nhiệm của Vietravel.
                  </p>
                  <p>
                     Khách hàng có nhu cầu xuất hóa đơn, vui lòng cung cấp thông tin xuất hóa đơn ngay tại thời điểm đăng ký. Vietravel có trách nhiệm xuất hóa đơn cho khách hàng trong vòng 7 ngày sau khi tour kết thúc.
                  </p>
                  <p>
                     <strong>DÀNH CHO KHÁCH HÀNG ĐĂNG KÝ TRÊN TRANG WWW.TRAVEL.COM.VN THANH TOÁN CHUYỂN KHOẢN:</strong>
                  </p>
                  <p>
                     Khi thực hiện việc chuyển khoản, Quý khách <strong>vui lòng ghi rõ Tên họ, Số điện thoại và Nội dung chuyển</strong> cho chương trình du lịch cụ thể đã được Quý khách chọn đăng ký. Sau khi thực hiện việc chuyển khoản, Quý khách vui lòng gửi Ủy Nhiệm Chi về công ty Vietravel theo địa chỉ email sales@vietravel.com và liên hệ với nhân viên phụ trách tuyến để nhận được Vé du lịch chính thức từ công ty Vietravel. Vietravel sẽ không giải quyết các trường hợp hệ thống tự động hủy phiếu đăng ký nếu Quý khách không thực hiện đúng qui định trên.
                  </p>
                  <p>
                     <strong>IV.&nbsp;&nbsp; HỦY VÉ VÀ PHÍ HỦY VÉ DU LỊCH</strong>
                  </p>
                  <p>
                     <strong>1.&nbsp;&nbsp; Trường hợp bị hủy bỏ do Vietravel:</strong>
                  </p>
                  <p>
                     Nếu Vietravel không thực hiện được chuyến du lịch, Vietravel phải báo ngay cho khách hàng biết và thanh toán lại cho khách hàng toàn bộ số tiền khách hàng đã đóng trong vòng 3 ngày kể từ lúc việc thông báo hủy chuyến du lịch bằng tiền mặt hoặc chuyển khoản.
                  </p>
                  <p>
                     <strong>2.&nbsp;&nbsp; Trường hợp bị hủy bỏ do khách hàng:</strong>
                  </p>
                  <p>
                     Sau khi đóng tiền, nếu Quý khách muốn chuyển/hủy tour xin vui lòng mang Vé Du Lịch đến văn phòng đăng ký tour để làm thủ tục chuyển/hủy tour và chịu mất phí theo quy định của Vietravel. Không giải quyết các trường hợp liên hệ chuyển/hủy tour qua điện thoại.
                  </p>
                  <p>
                     <strong>•&nbsp;&nbsp;&nbsp;&nbsp; Đối với ngày thường:</strong>
                  </p>
                  <p>
                     -&nbsp;&nbsp; Được chuyển sang các tuyến du lịch khác trước ngày khởi&nbsp; hành 20 ngày : Không mất chi phí.
                  </p>
                  <p>
                     -&nbsp;&nbsp; Hủy hoặc chuyển sang các chuyến du lịch khác ngay sau khi đăng ký đến từ 15 - 19 ngày trước ngày khởi hành: Chi phí chuyển/hủy tour: 50% tiền cọc tour.
                  </p>
                  <p>
                     <strong>•&nbsp;&nbsp;&nbsp;&nbsp; Đối với ngày lễ, Tết:&nbsp; </strong>
                  </p>
                  <p>
                     -&nbsp;&nbsp; Được chuyển sang các tuyến du lịch khác trước ngày khởi &nbsp;hành 30 ngày : Không mất chi phí.
                  </p>
                  <p>
                     -&nbsp;&nbsp; Hủy hoặc chuyển sang các chuyến du lịch khác ngay sau khi đăng ký đến từ 25 - 29 ngày trước ngày khởi hành: Chi phí chuyển/hủy tour: 50% tiền cọc tour.
                  </p>
                  <p>
                     <strong><em>* Các tour ngày Lễ, Tết là các tour có thời gian diễn ra rơi vào một trong các ngày lễ, tết theo qui định.</em></strong>
                  </p>
                  <p>
                     <strong><em>* Thời gian hủy tour được tính cho ngày làm việc, không tính thứ 7, Chủ Nhật và các ngày Lễ, Tết.</em></strong>
                  </p>
                  <p>
                     <strong>DÀNH CHO KHÁCH HÀNG ĐĂNG KÝ TRÊN TRANG WWW.TRAVEL.COM.VN THANH TOÁN TRỰC TUYẾN:</strong>
                  </p>
                  <p>
                     Khách hàng hủy Vé du lịch trong thời điểm ngày Thường và Lễ Tết theo đúng những qui định trên, trong trường hợp khách thanh toán trực tuyến, nếu hủy Vé du lịch khách hàng sẽ chịu toàn bộ phí ngân hàng cho việc thanh toán tiền Vé du lịch. Việc hoàn trả tiền cho khách sẽ được Vietravel thực hiện ngay sau khi ngân hàng thông báo tiền đã vào tài khoản của Vietravel.
                  </p>
                  <p>
                     <strong>3.&nbsp;&nbsp; Trường hợp bất khả kháng:</strong>
                  </p>
                  <p>
                     Nếu chương trình du lịch bị hủy bỏ hoặc thay đổi bởi một trong hai bên vì một lý do bất khả kháng (hỏa hoạn, thời tiết, tai nạn, thiên tai, chiến tranh, dịch bệnh, hoãn, dời, hủy chuyến hoặc thay đổi khác của các phương tiện vận chuyển công cộng hoặc các sự kiến bất khả kháng khác theo quy định pháp luật…), thì hai bên sẽ không chịu bất kỳ nghĩa vụ bồi hoàn các tổn thất đã xảy ra và không chịu bất kỳ trách nhiệm pháp lý nào. Tuy nhiên mỗi bên có trách nhiệm cố gắng tối đa để giúp đỡ bên bị thiệt hại nhằm giảm thiểu các tổn thất gây ra vì lý do bất khả kháng. Thời gian hoàn tiền dịch vụ do hủy tour vì trường hợp bất khả kháng sẽ được hoàn tất trong vòng 60 – 90 ngày phụ thuộc điều kiện các đối tác cung ứng dịch vụ.
                  </p>
                  <p>
                     <strong>4. &nbsp;&nbsp;&nbsp;Thay đổi lộ trình:&nbsp; </strong>
                  </p>
                  <p>
                     Tùy theo tình hình thực tế, Vietravel giữ quyền thay đổi lộ trình, sắp xếp lại thứ tự các điểm tham quan hoặc hủy bỏ chuyến đi du lịch bất cứ lúc nào mà Vietravel thấy cần thiết vì sự thuận tiện hoặc an toàn cho khách hàng.
                  </p>
                  <p>
                     <strong>V.&nbsp;&nbsp; NHỮNG YÊU CẦU ĐẶC BIỆT TRONG CHUYẾN DU LỊCH</strong>
                  </p>
                  <p>
                     Các yêu cầu đặc biệt của Quý khách phải được báo trước cho Vietravel ngay tại thời điểm đăng ký. Vietravel sẽ cố gắng đáp ứng những yêu cầu này trong khả năng của mình song sẽ không chịu trách nhiệm về bất kỳ sự từ chối cung cấp dịch vụ từ phía các nhà vận chuyển, khách sạn, nhà hàng và các nhà cung cấp dịch vụ độc lập khác.
                  </p>
                  <p>
                     <strong>VI.&nbsp;&nbsp; KHÁCH SẠN</strong>
                  </p>
                  <p>
                     Khách sạn được cung cấp trên cơ sở những phòng có hai giường đơn (TWN) hoặc một giường đôi (DBL) tùy theo cơ cấu phòng của các khách sạn. Khách sạn do Vietravel đặt cho các chương trình tham quan có tiêu chuẩn tương ứng với các mức giá vé mà khách chọn khi đăng ký đi du lịch. Nếu cần thiết thay đổi về bất kỳ lý do nào, khách sạn thay thế sẽ tương đương với tiêu chuẩn của khách sạn ban đầu và sẽ được báo cho du khách trước khi khởi hành. Những yêu cầu đặc biệt của khách hàng nếu thông báo trước cho Vietravel sẽ được đáp ứng tùy theo khả năng cung cấp của khách sạn và khách hàng phải trả thêm tiền đối với các yêu cầu này (nếu có). Vietravel có quyền không đáp ứng những yêu cầu này nếu khách sạn từ chối cung cấp dịch vụ. Thời gian nhận phòng theo qui định tại các khách sạn là sau 14:00 và phải trả phòng trước 12:00. Đối với các trường hợp khách lưu trú tại hệ thống khách sạn/Resort 5 sao (Vinpearl, FLC, Grand Ho Tram Strip…) tuân thủ theo điều kiện hủy phạt của khách sạn/Resort cho từng thời điểm.
                  </p>
                  <p>
                     <strong>VII.&nbsp;&nbsp; VẬN CHUYỂN</strong>
                  </p>
                  <p>
                     Phương tiện vận chuyển tùy thuộc theo từng chương trình du lịch.
                  </p>
                  <p>
                     Với chương trình đi bằng xe: xe máy lạnh (4, 7, 15, 25, 35, 45 chỗ) sẽ được Vietravel sắp xếp tùy theo số lượng khách từng đoàn, phục vụ suốt chương trình tham quan.
                  </p>
                  <p>
                     Với chương trình đi bằng xe lửa - máy bay - tàu cánh ngầm (phương tiện vận chuyển công cộng), trong một số chương trình các nhà cung cấp dịch vụ có thể thay đổi giờ khởi hành mà không báo trước, việc thay đổi này sẽ được Vietravel thông báo cho khách hàng nếu thời gian cho phép.
                  </p>
                  <p>
                     Vietravel không chịu trách nhiệm bồi hoàn và trách nhiệm pháp lý với những thiệt hại về vật chất lẫn tinh thần do việc chậm trễ, thay đổi giờ giấc khởi hành của các phương tiện vận chuyển công cộng hoặc sự chậm trễ do chính hành khách gây ra. Vietravel chỉ thực hiện hành vi giúp đỡ để giảm bớt tổn thất cho hành khách.
                  </p>
                  <p>
                     <strong>VIII.&nbsp;&nbsp; HÀNH LÝ</strong>
                  </p>
                  <p>
                     Hành lý gọn nhẹ, với các chương trình sử dụng dịch vụ hàng không, hành lý miễn cước sẽ do các hãng hàng không qui định. Vietravel không chịu trách nhiệm về sự thất lạc, hư hỏng hành lý hoặc bất kỳ vật dụng gì của du khách trong suốt chuyến đi, du khách tự bảo quản hành lý của mình. Nếu khách hàng bị mất hay thất lạc hành lý thì Vietravel sẽ giúp hành khách liên lạc và khai báo với các bộ phận liên quan truy tìm hành lý bị mất hay thất lạc. Việc bồi thường hành lý bị mất hay thất lạc sẽ theo qui định của các đơn vị cung cấp dịch vụ hoặc các đơn vị bảo hiểm (nếu có).
                  </p>
                  <p>
                     <strong>IX.&nbsp;&nbsp; BẢO HIỂM DU LỊCH</strong>
                  </p>
                  <p>
                     Giá dịch vụ du lịch trọn gói đã bao gồm bảo hiểm du lịch trong nước với mức đền bù cao nhất là 120.000.000đ/khách Việt Nam/vụ cho nhân mạng và 12.000.000 VNĐ/khách Việt Nam/vụ cho hành lý .
                  </p>
                  <p>
                     Điều kiện, điều khoản bảo hiểm: Theo quy tắc bảo hiểm khách du lịch trong nước QĐ số: 001321/2006 – BM/BHCN.
                  </p>
                  <p>
                     Số hotline tư vấn về các điều kiện, điều khoản bảo hiểm 0938 30 1234
                  </p>
                  <p>
                     <strong>X.&nbsp;&nbsp;&nbsp; </strong>Trong quá trình thực hiện, nếu xảy ra tranh chấp sẽ được giải quyết trên cơ sở thương lượng trong thời hạn 30 ngày kể từ ngày một trong hai bên đưa tranh chấp ra thương lượng. Hết thời hạn này nếu tranh chấp không được giải quyết hoặc một trong hai bên không đồng ý với kết quả thương lượng thì có quyền đưa tranh chấp ra giải quyết tại Tòa án thẩm quyền.
                  </p>
                  <p>
                     <strong><em>* Vé du lịch được xem như Hợp đồng lữ hành và được lập thành 2 bản, mỗi bên giữ một bản, có giá trị như nhau.</em></strong>
                  </p>
                  <p>
                     &nbsp;
                  </p>
               </div>
            </div>
         </div>
         <div class="col-xs-12 mg-bot30">
            <div>
               <div class="f-left mg-bot10 wl">
                  <input type="checkbox" id="chkDieuKhoan">
               </div>
               <div class="f-left wr">
                  Tôi đồng ý với các điều kiện trên
               </div>
               <div class="clear"></div>
            </div>
         </div>
         <div class="col-xs-12 mg-bot30 hidden">
            <div>
               <input id="responseCaptchaInbound" name="responseCaptchaInbound" type="hidden" value="">
               <div class="g-recaptcha" data-theme="light" data-sitekey="6LcezicTAAAAAIbBsNL6IS14WAowVVhd_iL0hVNf">
                  <div style="width: 304px; height: 78px;">
                     <div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcezicTAAAAAIbBsNL6IS14WAowVVhd_iL0hVNf&amp;co=aHR0cHM6Ly90cmF2ZWwuY29tLnZuOjQ0Mw..&amp;hl=vi&amp;v=mrdLhN7MywkJAAbzddTIjTaM&amp;theme=light&amp;size=normal&amp;cb=3klkki733mwq" width="304" height="78" role="presentation" name="a-gyc1n6b3tr73" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>
                     <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                  </div>
                  <iframe style="display: none;"></iframe>
               </div>
            </div>
         </div>
         <div class="col-xs-12 mg-bot30 text-center">
            <button type="submit" class="btn btn-md btn-book" onclick="return CheckDieuKhoan();ga('event','Buoc2', 'Booking', 'NDSGN535-052-220421VU-V-F');">Đặt tour&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></button>
         </div>
      </form>
   </div>
</div>
