<div class="container n3-book-tour-2 mg-bot40">
  <% if @booking.status == 'pending' %>
    <div class="row">
      <div class="col-xs-12 mg-bot50">
        <div class="step-by-step">
          <ul class="stepper stepper-horizontal">
            <li class="active">
              <a>
              <span class="circle">1</span>
              <span class="label">Nhập thông tin</span>
              </a>
            </li>
            <li class="active">
              <a>
              <span class="circle">2</span>
              <span class="label">Vietravel xác nhận</span>
              </a>
            </li>
            <li class="warnning">
              <a>
              <span class="circle">3</span>
              <span class="label">Thanh toán</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row" id="divWait" style="display: none;">
    <div class="col-xs-12 text-center" style="margin: 40px 0 40px 0">
      <span class="title">Booking chưa được cập nhật</span><br>
      <%= image_tag "loading.gif", alt: "loading", height: "50px;" %><br>
      <p>Đang chuyển thông tin về OkgodaTravel, xin quý khách vui lòng đợi trong giây lát</p>
    </div>
  </div>
  <div class="row" id="divConfirm" style="display: none;">
    <div class="col-xs-12 text-center" style="margin: 40px 0 40px 0;display:none;">
      <span class="title">Booking đang được OkgodaTravel xác nhận</span>
      <p>Cảm ơn quý khách đã đặt tour. Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất</p>
    </div>
  </div>
  <div class="row" id="divContent">
    <div class="col-xs-12 mg-bot50">
      <div class="thanks">
        <p class="mg-bot5">Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi</p>
        <% if @booking.status == 'pending' %>
          <% if @booking.paymentID == "15"  %>
            <%= button_to checkout_create_booking_index_path(@booking.id), class:"btn btn-md btn-book in-booking", method: :post do %>
              <i class="fa fa-money"></i>&nbsp;&nbsp;Thanh toán bằng thẻ tín dụng
            <% end %>
          <% elsif @booking.paymentID == "17" %>
            <%= button_to momo_payments_path, class:"btn btn-md btn-book in-booking", method: :post, params: {id: @booking.id} do %>
              <i class="fa fa-money"></i>&nbsp;&nbsp;Thanh toán bằng momo
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mg-bot30">
      <div class="title">PHIẾU XÁC NHẬN BOOKING</div>
      <div class="frame-xnbooking">
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Mã tour:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500"><%= @booking.tour_id %></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Tên tour:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <p class="line-h">
              <%= link_to tour_path(@booking.tour.id) do %>
                <%= truncate(@booking.tour.title, length: 40) %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Hành trình:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.tour.departure %> - <%= @booking.tour.destination %> - <%= @booking.tour.departure %>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Ngày đi:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.tour.start_date.strftime("%d-%m-%Y") %>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Ngày về:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.tour.end_date.strftime("%d-%m-%Y") %>
          </div>
        </div>
        <div class="row bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Nơi khởi hành:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.tour.departure %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mg-bot30">
      <div class="title">THÔNG TIN LIÊN LẠC</div>
      <div class="frame-xnbooking">
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Họ tên:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500"><%= @booking.name_booking %></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Địa chỉ:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <p class="line-h">
              <%= @booking.address_booking %>
            </p>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Di động:</div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 font500 mg-bot">
            <%= @booking.mobile_booking %>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Điện thoại:</div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 font500">
            <%= @booking.phone_booking %>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Email:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500">
            <%= @booking.email_booking %>
          </div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Số khách:</div>
          <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500 line-h">
            <%= @booking.customers_number %> (Người lớn: <%= @booking.adult_guests_number %>&nbsp;&nbsp;Trẻ em: <%= @booking.child_guests_number %>&nbsp;&nbsp;Trẻ nhỏ: <%= @booking.young_children_guests_number %>&nbsp;&nbsp;Em bé: <%= @booking.baby_guests_number %>)
          </div>
        </div>
          <div class="row bor-bot">
            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12 mg-bot">Ghi chú:</div>
            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 font500 line-h">
              <%= @booking.note %>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 mg-bot30">
      <div class="txt-rig title">CHI TIẾT BOOKING</div>
      <div class="frame-chitiet">
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot">Số booking:</div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500"><%= @booking.id  %></span> (Quý khách vui lòng nhớ số booking (Booking No) để thuận tiện cho các giao dịch sau này)</div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot">Trị giá booking:</div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500"><span class="font500"><%= @price_booking %> đ</span></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot">Ngày đăng ký:</div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500"><%= @booking.booking_date.strftime("%d-%m-%Y, %H:%M:%S") %> (Theo giờ Việt Nam)</span></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot"><span class="hidden-md hidden-sm">Hình thức thanh toán:</span><span class="hidden-lg hidden-xs">Hình thức thanh toán:</span></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500"><%= @payment_gateway %></span></div>
        </div>
        <div class="row mg-bot10 bor-bot">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot">Tình trạng:</div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h">
              <span class="font500">
                <% if @booking.status == 'pending' %>
                    Chờ thanh toán
                <% elsif @booking.status == 'approved' %>
                    Đã thanh toán vào lúc <%= @booking.purchased_at.strftime("%H:%M:%S, %d-%m-%Y") %>
                <% else %>
                    Booking đã tự hủy do quá thời hạn thanh toán
                <% end %>
              </span>
            </div>
        </div>
        <% if @booking.status == 'pending' %>
          <div class="row mg-bot10 bor-bot">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mg-bot"><span class="hidden-md hidden-sm">Thời hạn thanh toán:</span><span class="hidden-lg hidden-xs">Thời hạn thanh toán:</span></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 font500 line-h"><span class="font500"><%= @booking.expired_at %> (Theo giờ Việt Nam)</span> (Nếu quá thời hạn trên mà quý khách chưa thanh toán. Okgoda sẽ hủy booking này)</div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 mg-bot30">
      <div class="txt-rig title">DANH SÁCH KHÁCH HÀNG</div>
      <div class="tb-sdk">
        <table class="table table-bordered">
          <thead>
            <tr class="font500">
              <td>Họ tên</td>
              <td>Giảm giá?</td>
              <td>Ngày sinh</td>
              <td>Giới tính</td>
              <td>Địa chỉ</td>
              <td>Độ tuổi</td>
              <td>Phòng đơn</td>
              <td>Trị giá</td>
            </tr>
          </thead>
          <tbody>
            <% @list_of_customers.each do |customer| %>
              <tr class="font500">
                <td><%= customer.name_list_of_customers %></td>
                <% if user_signed_in? %>
                  <td> 10% (Giảm giá theo thành viên)</td>
                <% else %>
                  <td> Bạn cần đăng ký thành viên để nhận giảm giá </td>
                <% end %>
                <td><%= customer.birthday_list_of_customers.strftime("%d-%m-%Y") %></td>
                <% if customer.sex_list_of_customers == 0 %>
                  <td>Nữ</td>
                <% else %>
                  <td>Nam</td>
                <% end %>
                <td><%= @booking.address_booking %></td>
                <% if customer.ages == "0" %>
                  <td>Người lớn</td>
                <% elsif customer.ages == "3" %>
                  <td>Trẻ em</td>
                <% elsif customer.ages == "2" %>
                  <td>Trẻ nhỏ</td>
                <% else %>
                  <td>Em bé</td>
                <% end %>
                <% if customer.single_room == true %>
                  <td>Có</td>
                <% else %>
                  <td>Không</td>
                <% end %>
                <td><%= customer.price_booking.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> đ </td>
              </tr>
          </tbody>
          <% end %>
          <tfoot>
            <tr>
              <td colspan="11" align="right">
                <span>Tổng cộng:</span>
                  <span class="price"><%= @total_price %> đ</span>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col-xs-12 mg-bot30">
      <div class="frame-cong">
        <p class="mg-bot5">Chúc quý khách 1 chuyến du lịch thật vui vẻ và bổ ích</p>
        <p>Quý khách vui lòng kiểm tra email để nhận phiếu xác nhận đặt dịch vụ thành công từ OkgodaTravel</p>
        <% if @booking.status == 'pending' %>
          <% if @booking.paymentID == "15"  %>
            <%= button_to checkout_create_booking_index_path(@booking.id), class:"btn btn-md btn-book in-booking", method: :post do %>
              <i class="fa fa-money"></i>&nbsp;&nbsp;Thanh toán bằng thẻ tín dụng
            <% end %>
          <% elsif @booking.paymentID == "17" %>
            <%= button_to momo_payments_path, class:"btn btn-md btn-book in-booking", method: :post, params: {id: @booking.id} do %>
              <i class="fa fa-money"></i>&nbsp;&nbsp;Thanh toán bằng momo
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
