<%= form_with model: @booking_hotel, url: booking_hotel_index_path, local: true, enctype: "multipart/form-data", id: "frmBooking" do |f| %>
  <div class="container hotel-detail mg-bot40">
    <div class="row">
      <div class="col-xs-12 mg-bot30">
        <div class="title">
          <h1>
            <%= @hotel.title %>
            <span class="hotel-star">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-bot10">
        <span>
          <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= @hotel.address %></span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-bot10">
        <span>
          <i class="fas fa-phone-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;035.920.8878</span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-bot10">&nbsp;</div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 tabmenu">
        <ul class="nav nav-tabs nav-pills nav-stacked">
          <li class="active">
            <a data-toggle="tab" href="#khachsan">
              <h3>Khách sạn</h3>
              <div class="sTotal price">
                <span id="totalRoomAmountId">0</span>
                VND</div>
              <input data-val="true" id="totalRoomAmountValue" name="totalRoomAmountValue" type="hidden" value="">
            </a>
          </li>
        </ul>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 total">
          <div class="price">
            <strong>Tổng tiền:
            </strong>
            <span id="totalAmountId">0</span>
            VND</div>
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 mg-bot30">
        <div class="tab-content">
          <div id="khachsan" class="tab-pane fade in active">
            <div>
              <h2>Thông tin <%= @hotel.title %></h2>
            </div>
            <div class="hotel-item">
              <div class="row mg-bot30 img-thumb">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <img src="https://media.travel.com.vn/Hotel/d_hotel_210205102817_244619.jpg" alt="Hình khách sạn Fusion Resort Phú Quốc (lưu trú tối thiểu 02 đêm)">
                    <%= image_tag(t.photo.hotel.url, class: "img-responsive pic-ud-s") if t.photo?%>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div id="hotelDesc" class="full-desc" style="height:166px; overflow:hidden;">
                        <title></title>
                        <p><%= @hotel.infomation %></p>
                      <div class="more" id="viewMoreHotelDescId" onclick="ViewMoreHotelDesc();">Xem thêm &gt;</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mg-bot30">
                <div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input data-val="true" data-val-required="The HotelId field is required." id="HotelId" name="HotelId" type="hidden" value="235">
                    <div class="price-from">
                      Giá chỉ từ:
                      <span><%= @hotel.price %></span>
                      VNĐ
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 checkinout">
                    <div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Ngày nhận phòng (<span class="star">*</span>)</label>
                          <div>
                            <input autocomplete="off" type="text" class="form-control input-sm  hasDatepicker" name="CheckInDate" id="CheckInDate" required="required" width="300" value="">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>ngày trả phòng (<span class="star">*</span>)</label>
                          <div>
                            <input autocomplete="off" type="text" class="form-control input-sm  hasDatepicker" name="CheckOutDate" id="CheckOutDate" required="required" width="300" value="" onchange="GetRoomAvailable();ViewRoomQuotation();">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hotel-label bor-bot">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                    Thông tin
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-3 col-xs-4 text-center">
                    Số lượng
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
                    Đơn giá<br>bình quân (VNĐ)
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-5 col-xs-4 text-center">
                    Thành tiền (VNĐ)
                  </div>
                </div>
                <div id="bookingDetailId">
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 img-thumb">
                      <img src="https://media.travel.com.vn/Hotel/thb_hotel_200610103355_649178.jpg" alt="Hình phòng 1-bedroom Garden Pool Villa">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 desc">
                      <h3>1-bedroom Garden Pool Villa</h3>
                      <input data-val="true" data-val-required="The RoomId field is required." id="BookingRoom_0_RoomId" name="BookingRoom[0].RoomId" type="hidden" value="210">
                      <div id="roomDesc_0" style="height:100px; overflow:hidden;">
                        <title></title>
                        <div>
                          <strong style="color: rgb(255, 0, 0); text-align: justify;">Giá chưa bao gồm phụ thu Lễ, Tết (nếu có). Vui lòng liên hệ nhân viên để được tư vấn chi tiết</strong>
                        </div>
                        <div>
                          &nbsp;</div>
                        <div>
                          Kích thước: 184 m²</div>
                      </div>
                      <div class="more" id="viewMoreRoomDescId_0" onclick="ViewMoreRoomDesc(0);">Xem thêm &gt;</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="row bor-bot">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-bot10">Giá phòng</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 mg-bot10 amount">
                          <div>
                            <input data-val="true" data-val-required="The ServiceDetailId field is required." id="BookingRoom_0_PriceRoom" name="BookingRoom[0].PriceRoom" type="hidden" value="3590000">
                            <input
                              class="form-control text-box single-line"
                              data-val="true"
                              data-val-number="The field Quantity must be a number."
                              id="BookingRoom_0_QuantityRoomRequire"
                              name="BookingRoom[0].QuantityRoomRequire"
                              type="number"
                              value="0"
                              min="0"
                              max="50"
                              onchange="SumAmount('0');">
                          </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 mg-bot10 price">
                          <div>
                            <span>3,590,000</span>
                          </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 mg-bot10 price-total">
                          <input data-val="true" id="BookingRoom_0_AmountRoomValue" name="BookingRoom_0.AmountRoomValue" type="hidden" value="0">
                          <input data-val="true" data-val-number="The field amount must be a number." id="BookingRoom_0_AmountRoom" name="BookingRoom[0].AmountRoom" type="text" readonly="readonly" value="0">
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hotel-note" style="display:none">
                          <input data-val="true" data-val-required="The PriceWeekend field is required." id="BookingRoom_0_PriceWeekend" name="BookingRoom[0].PriceWeekend" type="hidden">
                          Giá cuối tuần/ ngày lễ:
                          <span></span>
                          VND
                        </div>

                      </div>

                      <div class="row bor-bot" style="display:block;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-bot10">Giá phụ thu thêm giường:</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 amount">
                          <div>
                            <input data-val="true" data-val-required="The PriceExtraBed field is required." id="BookingRoom_0_PriceExtraBed" name="BookingRoom[0].PriceExtraBed" type="hidden" value="1650000">
                            <input
                              class="form-control text-box single-line"
                              data-val="true"
                              data-val-number="The field QuantityExtraBedRequire must be a number."
                              id="BookingRoom_0_QuantityExtraBedRequire"
                              name="BookingRoom[0].QuantityExtraBedRequire"
                              type="number"
                              value="0"
                              min="0"
                              max="50"
                              onchange="SumAmount('0');">
                          </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 price">
                          <div>
                            <span>1,650,000</span>
                          </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 price-total">
                          <input data-val="true" id="BookingRoom_0_AmountExtraBedValue" name="BookingRoom_0.AmountExtraBedValue" type="hidden" value="0">
                          <input data-val="true" data-val-number="The field AmountExtraBed must be a number." id="BookingRoom_0_AmountExtraBed" name="BookingRoom[0].AmountExtraBed" type="text" readonly="readonly" value="0">
                        </div>
                      </div>

                      <div class="row" style="display:block;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-bot10">Giá phụ thu trẻ em:</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 amount">
                          <div>
                            <input data-val="true" data-val-required="The PriceChild field is required." id="BookingRoom_0_PriceChild" name="BookingRoom[0].PriceChild" type="hidden" value="390000">
                            <input
                              class="form-control text-box single-line"
                              data-val="true"
                              data-val-number="The field QuantityChildRequire must be a number."
                              id="BookingRoom_0_QuantityChildRequire"
                              name="BookingRoom[0].QuantityChildRequire"
                              type="number"
                              value="0"
                              min="0"
                              max="50"
                              onchange="SumAmount('0');">
                          </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 price">
                          <div>
                            <span>390,000</span>
                          </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 price-total">
                          <input data-val="true" id="BookingRoom_0_AmountChildValue" name="BookingRoom_0.AmountChildValue" type="hidden" value="0">
                          <input data-val="true" data-val-number="The field QuantityChildRequire must be a number." id="BookingRoom_0_AmountChild" name="BookingRoom[0].AmountChild" type="text" readonly="readonly" value="0">
                        </div>
                      </div>

                    </div>
                  </div>
                  <input data-val="true" id="tolHotelRoom" name="tolHotelRoom" type="hidden" value="1">

                </div>

                <div onclick="ViewRoomQuotation();" style="cursor:pointer;">
                  <i class="fa fa-book fa-lg"></i>
                  Bảng giá phòng theo ngày
                </div>
                <div id="quotationListId"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-bot10">
        <div class="frmbook">
          <div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>Thông tin liên hệ</h2>
            </div>
          </div>
          <div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-left">
              <div class="form-group">
                <label>Họ tên (<span class="star">*</span>)</label>
                <div>
                  <input type="text" required="required" class="form-control " name="FullName" id="FullName" value="">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-left">
              <div class="form-group">
                <label>Di động (<span class="star">*</span>)</label>
                <div>
                  <input autocomplete="off" type="text" required="required" class="form-control" name="Phone" id="Phone" value="">
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-left">
              <div class="form-group">
                <label>Email (<span class="star">*</span>)</label>
                <div>
                  <input autocomplete="off" type="text" required="required" class="form-control" name="Email" id="Email" value="">
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 text-left">
              <div class="form-group">
                <label>Ghi chú</label>
                <div>
                  <textarea class="form-control" name="Note" id="Note" cols="20" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 text-center">
              <button type="button" id="btnSaveBooking" class="btn btn-md btn-book">Đặt ngay&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  function GetRoomAvailable() {
    var $bookingDetailId = $("#bookingDetailId");
    $bookingDetailId.html("");

    $.ajax({
      url: '/Hotel/_GetRoomAvailable',
      timeout: 20000,
      data: {
        hotelId: $("#HotelId").val(),
        checkInDate: $("#CheckInDate").val(),
        checkOutDate: $("#CheckOutDate").val()
      },
      beforeSend: function () {
        $(".divLoading").addClass("loading");
      },
      success: function (result) {
        $bookingDetailId.html(result);
        $(".divLoading").removeClass("loading");
      },
      error: function (message) {
        $(".divLoading").removeClass("loading");
      }
    });

    ViewRoomQuotation();
  }

  function SumAmount(idxHotelRoom) {
    //alert($(quantity).val());

    var tolRoomAmount = 0;
    var tolAmount = 0;

    if ($("#CheckInDate").val() == '' || $("#CheckOutDate").val() == '') {
      ShowNoti("Ngày nhận/trả phòng", "Vui lòng chọn ngày nhận phòng và ngày trả phòng", "error");
      return;
    }

    if ($("#CheckInDate").val() > $("#CheckOutDate").val()) {
      ShowNoti("Ngày nhận/trả phòng", "Ngày trả phòng phải sau ngày nhận phòng", "error");
      return;
    }

    if (idxHotelRoom >= 0) {
      $.ajax({
        url: '/Hotel/_GetRoomAvailableByRoomId',
        timeout: 20000,
        data: {
          roomId: $("#BookingRoom_" + idxHotelRoom + "_RoomId").val(),
          checkInDate: $("#CheckInDate").val(),
          checkOutDate: $("#CheckOutDate").val(),
          quantityRoomRequire: $("#BookingRoom_" + idxHotelRoom + "_QuantityRoomRequire").val(),
          quantityExtraBedRequire: $("#BookingRoom_" + idxHotelRoom + "_QuantityExtraBedRequire").val(),
          quantityChildRequire: $("#BookingRoom_" + idxHotelRoom + "_QuantityChildRequire").val()
        },
        //contentType: false, processData: false,
        beforeSend: function () {
          $(".divLoading").addClass("loading");
        },
        success: function (result) {
          $(".divLoading").removeClass("loading");

          if (result.status >= 1) {

            roomAmount = result.RoomAvailable.AmountRoom;
            roomAmountExtraBed = result.RoomAvailable.AmountExtraBed;
            roomAmountChild = result.RoomAvailable.AmountChild;

            //Amount Right
            document.getElementById("BookingRoom_" + idxHotelRoom + "_AmountRoomValue").value = roomAmount;
            document.getElementById("BookingRoom_" + idxHotelRoom + "_AmountRoom").value = formatnumber(roomAmount.toString());

            document.getElementById("BookingRoom_" + idxHotelRoom + "_AmountExtraBedValue").value = roomAmountExtraBed;
            document.getElementById("BookingRoom_" + idxHotelRoom + "_AmountExtraBed").value = formatnumber(roomAmountExtraBed.toString());

            document.getElementById("BookingRoom_" + idxHotelRoom + "_AmountChildValue").value = roomAmountChild;
            document.getElementById("BookingRoom_" + idxHotelRoom + "_AmountChild").value = formatnumber(roomAmountChild.toString());

            //Amount Left
            tolHotelRoom = Number($("#tolHotelRoom").val());
            if (tolHotelRoom > 0) {
              tolRoomAmount = 0;
              tolAmount = 0;
              for (i = 0; i < tolHotelRoom; i++) {
                tolRoomAmount += Number($("#BookingRoom_" + i + "_AmountRoomValue").val()) + Number($("#BookingRoom_" + i + "_AmountExtraBedValue").val()) + Number($("#BookingRoom_" + i + "_AmountChildValue").val());
              }
              tolAmount += tolRoomAmount;
              document.getElementById("totalRoomAmountValue").value = tolRoomAmount;
              document.getElementById("totalRoomAmountId").innerHTML = formatnumber(tolRoomAmount.toString());
              document.getElementById("totalAmountId").innerHTML = formatnumber(tolAmount.toString());
            }

            //ViewQuotationList();
          } else {
            //ShowNoti(result.title, result.text, "error");
            alert('Không lấy được tiền phòng');
          }
        },
        error: function (message) {
          $(".divLoading").removeClass("loading");
        }
      });
      //./Room amount

    }

    //Include Services Amount Right
    for (i = 0; i < 51; i++) {
      //tolAmount
      var amount = Number($("#BookingDetail_" + i + "_Quantity").val()) * Number($("#BookingDetail_" + i + "_Price").val());
      document.getElementById("Amount_" + i).value = amount.toString();
    }
    for (i = 0; i < 51; i++) {
      var amount_i = document.getElementById("Amount_" + i).value;
      if (amount_i > 0) {
        document.getElementById("Amount_" + i).value = formatnumber(amount_i.toString());
      }
    }

    //Amount Left
    tolAmount = Number($("#totalRoomAmountValue").val());
    for (j = 0; j <= 3; j++) { //VuLNS 03Jun20
      var serviceTypeAmount = 0;
      for (i = 0; i < 51; i++) {
        //ServiceTypeId_
        if ($("#ServiceTypeId_" + i).val() == $("#serviceTypeAmountIdValue_" + j).val()) {
          serviceTypeAmount += Number($("#BookingDetail_" + i + "_Quantity").val()) * Number($("#BookingDetail_" + i + "_Price").val());
        }

      }

      //Service type amount left
      if (serviceTypeAmount != null && serviceTypeAmount >= 0) {
        tolAmount += serviceTypeAmount;

        document.getElementById("serviceTypeAmountId_" + $("#serviceTypeAmountIdValue_" + j).val()).innerHTML = formatnumber(serviceTypeAmount.toString());
        document.getElementById("totalAmountId").innerHTML = formatnumber(tolAmount.toString());

      }
    }

  }

  function ViewQuotationList() {
    var $quotationListId = $("#quotationListId");
    $quotationListId.html("");

    form = $("#frmBooking");
    form.removeData('validator');
    form.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse("#frmBooking");

    //if (form.valid()) {
    var formdata = new FormData(); //FormData object

    formdata.append("checkInDate", $("#CheckInDate").val());
    formdata.append("checkOutDate", $("#CheckOutDate").val());
    //Room
    var idxHotelRoom = Number($("#tolHotelRoom").val());
    if (idxHotelRoom > 0) {
      for (var i = 0; i < idxHotelRoom; i++) {
        if ($("#BookingRoom_" + i + "_QuantityRoomRequire").val() > 0) {
          formdata.append("BookingRoom[" + i + "].RoomId", $("#BookingRoom_" + i + "_RoomId").val());
          formdata.append("BookingRoom[" + i + "].QuantityRoomRequire", $("#BookingRoom_" + i + "_QuantityRoomRequire").val());
          formdata.append("BookingRoom[" + i + "].QuantityExtraBedRequire", $("#BookingRoom_" + i + "_QuantityExtraBedRequire").val());
          formdata.append("BookingRoom[" + i + "].QuantityChildRequire", $("#BookingRoom_" + i + "_QuantityChildRequire").val());
        }
      }
    }

    $.ajax({
      url: '/Hotel/_GetQuotation',
      type: "POST",
      timeout: 20000,
      data: formdata,
      contentType: false,
      processData: false,
      beforeSend: function () {
        $(".divLoading").addClass("loading");
      },
      success: function (result) {
        $quotationListId.html(result);
        $(".divLoading").removeClass("loading");
      },
      error: function (message) {
        $(".divLoading").removeClass("loading");
      }
    });
  }

  function ViewRoomQuotation() {
    var $quotationListId = $("#quotationListId");
    $quotationListId.html("");
    if ($("#HotelId").val() != '' && $("#CheckInDate").val() != '' && $("#CheckOutDate").val() != '') {
      $.ajax({
        url: '/Hotel/_GetRoomQuotation',
        timeout: 20000,
        data: {
          hotelId: $("#HotelId").val(),
          checkInDate: $("#CheckInDate").val(),
          checkOutDate: $("#CheckOutDate").val()
        },
        beforeSend: function () {
          $(".divLoading").addClass("loading");
        },
        success: function (result) {
          $quotationListId.html(result);
          $(".divLoading").removeClass("loading");
        },
        error: function (message) {
          $(".divLoading").removeClass("loading");
        }
      });
    }
  }

  function ViewMoreHotelDesc() {
    //alert(document.getElementById("viewMoreHotelDescId").innerHTML);
    if (document.getElementById("viewMoreHotelDescId").innerHTML == 'Xem thêm &gt;') {
      document.getElementById("hotelDesc").style.height = 'auto';
      document.getElementById("viewMoreHotelDescId").innerHTML = '&lt; Thu gọn';
    } else {
      document.getElementById("hotelDesc").style.height = '100px';
      document.getElementById("viewMoreHotelDescId").innerHTML = 'Xem thêm &gt;';
    }
  }

  //function ViewMoreRoomDesc()
  function ViewMoreRoomDesc(id) {
    //alert(document.getElementById("viewMoreRoomDescId").innerHTML);
    if (document.getElementById("viewMoreRoomDescId_" + id).innerHTML == 'Xem thêm &gt;') {
      document.getElementById("roomDesc_" + id).style.height = 'auto';
      document.getElementById("viewMoreRoomDescId_" + id).innerHTML = '&lt; Thu gọn';
    } else {
      document.getElementById("roomDesc_" + id).style.height = '100px';
      document.getElementById("viewMoreRoomDescId_" + id).innerHTML = 'Xem thêm &gt;';
    }
  }

  function formatnumber(what) {
    if (what != null) {
      var value = what;
      value = value.replace(',', '');
      value = value.replace(',', '');
      value = value.replace(',', '');
      var temp = '';
      var test = value.length;
      var count = 0;
      for (i = test - 1; i >= 0; i--) {
        count++
        temp = value.charAt(i) + temp;
        if (count % 3 == 0 && i > 0) {
          temp = ',' + temp;
        }
      }
      return temp;
    }
    return "";
  }
</script>
