<!DOCTYPE html>
<html>
  <head>
    <title>OkgodaTravel</title>
    <link rel="Shortcut icon" type="image/x-icon" href="app/assets/Content/ThemeHe/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/shared/header' %>
    <%= render '/shared/slider' %>
    <%= yield %>
    <%= render '/shared/footer' %>
  </body>
</html>
